<table id="table12">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Date</th>
      <th>Sport</th>
      <th>Match</th>
      <th>Market</th>
      <th>Bet On</th>
      <th>Odds</th>
      <th>Status</th>
      <th>Stake</th>
      <th>Returns</th>
      <th>Txn ID</th>
      <th>Game/Round</th>
    </tr>
  </thead>
  <tbody class="new-body">
    <%if(bets.length !== 0){%>
    <% for(let i = 0; i < bets.length; i++){%>
    <% let date = new Date(bets[i].date)%>
    <%
      var options = { 
          year: 'numeric',
          month: 'long',
          day: 'numeric',
          hour: 'numeric',
          minute: 'numeric',
          hour12: true
      };
      var formattedTime = Startdate.toLocaleString('en-US', options);
    %>
    <%if(bets[i].bettype2 === 'BACK'){%>
      <tr class="back">
    <%}else{%>
      <tr class="lay">
    <%}%>
        <td><%=bets[i].userName%></td>
        <td class="date-time"><%=formattedTime%></td>
        <%if(bets[i].match){%>
        <td>-</td>
        <td class="text-nowrap"><%=bets[i].match%></td>
        <td><%=bets[i].marketName%></td>
        <td><%=bets[i].selectionName%></td>
        <td><%=bets[i].oddValue%></td>
        <%}else{%>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <%}%>
        <td><%=bets[i].status%></td>
        <td><%=bets[i].Stake%></td>
        <td><%=bets[i].returns%></td>
        <td><%=bets[i].transactionId%></td>
        <td><%=bets[i].event%></td>
      </tr>
      <%}%>
    </tr>
    <%}else{%>
      <tr class="empty_table"><td>No record found</td></tr>
    <%}%>
  </tbody>
</table>