<form class="commision-filter">
  <div class="table-top-from-data">
    

    <div class="input-group">
        <input type="date" class="form-control form-control-sm acount-stat-ro-form-input" id="FdateUserLevel">
    </div>
    <div class="input-group" >
      <input type="date" class="form-control form-control-sm acount-stat-ro-form-input" id="TdateUserLevel">
    </div>
  </div>
  </form>
<div class="pageIdUser" data-pageid="1"></div>
<div class="data-table">
    <table>
      <thead>
          <tr>
            <th>User</th>
            <th>Commission</th>
            <th>Upline</th>
          </tr>
      </thead>
      <tbody class="new-body" id="userLevel-tbody">
        <%if(userWiseData.length > 0){%>
        <%for(let i = 0; i < userWiseData.length; i++){%>
            <tr class="tbl-data-href" data-href="/admin/commissionReportUser?User=<%=userWiseData[i]._id%>&sessiontoken=<%=sessiontoken%>">
                <td><%=userWiseData[i]._id%></td>
                <td><%=(userWiseData[i].totalCommission).toFixed(2)%></td>
                <td><%=(userWiseData[i].totalUPline).toFixed(2)%></td>
            </tr>
        <%}%>
        <%}else{%>
          <tr class="empty_table"><td>No record found</td></tr>
        <%}%>
      </tbody>
    </table>
    <div class="loadMorediveUser" id="loadMorediveUser">
    <%if(userWiseData.length >= 10){%>
      <a id="loadMoreUser">Load More</a>
      <%}%>
    </div>
  </div>