<%if(LiveCricket.length > 0 && upcomintCricket.length > 0){%>
    <table class="table table-hover exchange-pg-mytbl">
        <thead class="exchange-pg-mytbl-hed">
            <tr class="exchange-pg-mytbl-hed-tr">
                <th scope="col">Cricket</th>
                <th scope="col">1</th>
                <th scope="col">X</th>
                <th scope="col">2</th>
            </tr>
        </thead>
        <tbody class="exchange-pg-mytbl-body">
            <% let cricketNum = 1 %>
            <%for(let i = 0; i < LiveCricket.length; i++){%>
                <%if(LiveCricket[i].marketList.match_odd != null){%>
                <%
                var timestamp = `${LiveCricket[i].eventData.time}` * 1000; 
                var date = new Date(timestamp);
                var options = { 
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',
                    hour12: true
                };
                var formattedTime = date.toLocaleString('en-US', options);
                %>
                <% cricketNum++ %>
                <tr class="exchange-pg-mytbl-body-tr" onclick="window.location.href = '/exchange_sports/live_match?id=<%=LiveCricket[i].eventData.eventId%>'; ">
                    <!-- <th scope="row"></th> -->
                    <td class="name1" id="<%=LiveCricket[i].marketList.match_odd.marketId%>">
                        <div class="exchange-pg-mytbl-body-cricket-data-dv">
                            <span class="exchange-pg-mytbl-body-liv-dot"></span>
                            <p>
                                <%=formattedTime%>
                            </p>
                            <p>
                                <b><%=LiveCricket[i].eventData.name%></b>
                            </p>
                        </div>
                    </td>
                    <% let runners = JSON.parse(LiveCricket[i].marketList.match_odd.runners); %>
                    <% let runners1 = []; %>
                    <%let secIds = []; %>
                    <%runners.forEach(item => {%>
                        <%runners1.push(item.runner);%>
                        <%secIds.push(item.secId);%>
                    <%});%>
                    <%for(let j = 0; j < runners1.length; j++){%>
                        <td class="<%=j%>" id="<%=secIds[j]%>"  ></td>
                    <%}%>
                </tr>
                <%}%>
                <%}%>
                <% j = cricketNum %>
                <%for(let i = 0; i < upcomintCricket.length; i++){%>
                    <%if(upcomintCricket[i].marketList.match_odd != null){%>
                        <%
                        var timestamp = `${upcomintCricket[i].eventData.time}` * 1000; 
                        var date = new Date(timestamp);
                        var options = { 
                            year: 'numeric',
                            month: 'long',
                            day: 'numeric',
                            hour: 'numeric',
                            minute: 'numeric',
                            hour12: true
                        };
                        var formattedTime = date.toLocaleString('en-US', options);
                    %>
                        <tr class="exchange-pg-mytbl-body-tr" onclick="window.location.href = '/exchange_sports/live_match?id=<%=upcomintCricket[i].eventData.eventId%>'; ">
                            <!-- <th scope="row">2</th> -->
                            <td class="name1" id="<%=upcomintCricket[i].marketList.match_odd.marketId%>">
                                <div class="exchange-pg-mytbl-body-cricket-data-dv">
                                    <%= j%>)
                                    <p>
                                        <%=formattedTime%>
                                    </p>
                                    <p>
                                        <b><%=upcomintCricket[i].eventData.name%></b>
                                    </p>
                                </div>
                            </td>
                            <% let runners = JSON.parse(upcomintCricket[i].marketList.match_odd.runners); %>
                            <% let runners1 = []; %>
                            <%let secIds = []; %>
                            <%runners.forEach(item => {%>
                                <%runners1.push(item.runner);%>
                                <%secIds.push(item.secId);%>
                            <%});%>
                            <%for(let j = 0; j < runners1.length; j++){%>
                                <td class="<%=j%>" id="<%=secIds[j]%>"  ></td>
                            <%}%>
                          </tr>
                          <%j++%>
                    <%}%>
                <%}%>
            </tbody>
        </table>
        <%}%>
        
<%if(liveTennis.length > 0){%>
    <table class="table table-hover exchange-pg-mytbl">
            <thead class="exchange-pg-mytbl-hed">
                <tr class="exchange-pg-mytbl-hed-tr">
                    <th scope="col">Tennis</th>
        <th scope="col">1</th>
        <th scope="col">X</th>
        <th scope="col">2</th>
      </tr>
    </thead>
    <tbody class="exchange-pg-mytbl-body">
        <% let tennisNum = 1 %>
        <%for(let i = 0; i < liveTennis.length; i++){%>
            <%if(liveTennis[i].marketList.match_odd != null){%>
            <%
                var timestamp = `${liveTennis[i].eventData.time}` * 1000; 
                var date = new Date(timestamp);
                var options = { 
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',
                    hour12: true
                };
                var formattedTime = date.toLocaleString('en-US', options);
            %>
            <tr class="exchange-pg-mytbl-body-tr" onclick="window.location.href = '/exchange_sports/live_match?id=<%=liveTennis[i].eventData.eventId%>'; ">
              <!-- <th scope="row"></th> -->
              <td class="name1" id="<%=liveTennis[i].marketList.match_odd.marketId%>">
                  <div class="exchange-pg-mytbl-body-cricket-data-dv">
                      <span class="exchange-pg-mytbl-body-liv-dot"></span>
                      <p>
                          <%=formattedTime%>
                      </p>
                      <p>
                          <b><%=liveTennis[i].eventData.name%></b>
                      </p>
                  </div>
              </td>
                <% let runners = JSON.parse(liveTennis[i].marketList.match_odd.runners); %>
                <% let runners1 = []; %>
                <%let secIds = []; %>
                <%runners.forEach(item => {%>
                    <%runners1.push(item.runner);%>
                    <%secIds.push(item.secId);%>
                <%});%>
                <%for(let j = 0; j < runners1.length; j++){%>
                    <td class="<%=j%>" id="<%=secIds[j]%>"  ></td>
                <%}%>
            </tr>
            <%tennisNum++ %>
        <%}%>
        <%}%>
        <%j = tennisNum %>
        <%for(let i = 0; i < upcomintTennis.length; i++){%>
            <%if(upcomintTennis[i].marketList.match_odd != null){%>
                <%
                var timestamp = `${upcomintTennis[i].eventData.time}` * 1000; 
                var date = new Date(timestamp);
                var options = { 
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',
                    hour12: true
                };
                var formattedTime = date.toLocaleString('en-US', options);
            %>
                <tr class="exchange-pg-mytbl-body-tr" onclick="window.location.href = '/exchange_sports/live_match?id=<%=upcomintTennis[i].eventData.eventId%>'; ">
                    <!-- <th scope="row">2</th> -->
                    <td  class="name1" id="<%=upcomintTennis[i].marketList.match_odd.marketId%>"></td>
                        <div class="exchange-pg-mytbl-body-cricket-data-dv">
                            <%= j%>)
                            <p>
                                <%=formattedTime%>
                            </p>
                            <p>
                                <b><%=upcomintTennis[i].eventData.name%></b>
                            </p>
                        </div>
                    </td>
                    <% let runners = JSON.parse(upcomintTennis[i].marketList.match_odd.runners); %>
                    <% let runners1 = []; %>
                    <%let secIds = []; %>
                    <%runners.forEach(item => {%>
                        <%runners1.push(item.runner);%>
                        <%secIds.push(item.secId);%>
                    <%});%>
                    <%for(let j = 0; j < runners1.length; j++){%>
                        <td class="<%=j%>" id="<%=secIds[j]%>"  ></td>
                    <%}%>
                  </tr>
                  <%j++%>
            <%}%>
        <%}%>
    </tbody>
  </table>
  <%}%>

<%if(liveFootBall.length > 0){%>
    <table class="table table-hover exchange-pg-mytbl">
    <thead class="exchange-pg-mytbl-hed">
      <tr class="exchange-pg-mytbl-hed-tr">
        <th scope="col">Football</th>
        <th scope="col">1</th>
        <th scope="col">X</th>
        <th scope="col">2</th>
      </tr>
    </thead>
    <tbody class="exchange-pg-mytbl-body">
        <% let FootballNum = 1 %>
        <%for(let i = 0; i < liveFootBall.length; i++){%>
            <%if(liveFootBall[i].marketList.match_odd != null){%>
            <%
                var timestamp = `${liveFootBall[i].eventData.time}` * 1000; 
                var date = new Date(timestamp);
                var options = { 
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',
                    hour12: true
                };
                var formattedTime = date.toLocaleString('en-US', options);
            %>
            <tr class="exchange-pg-mytbl-body-tr" onclick="window.location.href = '/exchange_sports/live_match?id=<%=liveFootBall[i].eventData.eventId%>'; ">
              <!-- <th scope="row"></th> -->
              <td class="name1" id="<%=liveFootBall[i].match_odd.marketId%>">
                  <div class="exchange-pg-mytbl-body-cricket-data-dv">
                      <span class="exchange-pg-mytbl-body-liv-dot"></span>
                      <p>
                          <%=formattedTime%>
                      </p>
                      <p>
                          <b><%=liveFootBall[i].eventData.name%></b>
                      </p>
                  </div>
              </td>
              <% let runners = JSON.parse(liveFootBall[i].marketList.match_odd.runners); %>
                    <% let runners1 = []; %>
                    <%let secIds = []; %>
                    <%runners.forEach(item => {%>
                        <%runners1.push(item.runner);%>
                        <%secIds.push(item.secId);%>
                    <%});%>
                    <%for(let j = 0; j < runners1.length; j++){%>
                        <td class="<%=j%>" id="<%=secIds[j]%>"  ></td>
                    <%}%>
            </tr>
            <%FootballNum++%>
        <%}%>
        <%}%>
        <% j = FootballNum %>
        <%for(let i = 0; i < upcomintFootball.length; i++){%>
            <%if(upcomintFootball[i].marketList.match_odd != null){%>
                <%
                var timestamp = `${upcomintFootball[i].eventData.time}` * 1000; 
                var date = new Date(timestamp);
                var options = { 
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',
                    hour12: true
                };
                var formattedTime = date.toLocaleString('en-US', options);
            %>
                <tr class="exchange-pg-mytbl-body-tr" onclick="window.location.href = '/exchange_sports/live_match?id=<%=upcomintFootball[i].eventData.eventId%>'; ">
                    <!-- <th scope="row">2</th> -->
                    <td class="name1" id="<%=upcomintFootball[i].liveFootBall.match_odd.marketId%>">
                        <div class="exchange-pg-mytbl-body-cricket-data-dv">
                            <%= j%>)
                            <p>
                                <%=formattedTime%>
                            </p>
                            <p>
                                <b><%=upcomintFootball[i].eventData.name%></b>
                            </p>
                        </div>
                    </td>
                    <% let runners = JSON.parse(upcomintFootball[i].marketList.match_odd.runners); %>
                    <% let runners1 = []; %>
                    <%let secIds = []; %>
                    <%runners.forEach(item => {%>
                        <%runners1.push(item.runner);%>
                        <%secIds.push(item.secId);%>
                    <%});%>
                    <%for(let j = 0; j < runners1.length; j++){%>
                        <td class="<%=j%>" id="<%=secIds[j]%>"  ></td>
                    <%}%>
                  </tr>
                  <%j++%>
            <%}%>
        <%}%>
    </tbody>
  </table>
  <%}%>
