<%for(let i = 0; i < LiveCricket.length; i++){%>
    <%if(LiveCricket[i].marketList.match_odd != null){%>
      <a href="/exchange_inPlay/match?id=<%=LiveCricket[i].eventData.eventId%>">
          <img src="/assets/img/home/side-menuimg02.svg" alt="">
          <%=LiveCricket[i].eventData.name%>
      </a>
    <%}%>
  <%}%>
  <%for(let i = 0; i < liveFootBall.length; i++){%>
    <%if(liveFootBall[i].marketList.match_odd != null){%>
      <a href="/exchange_inPlay/match?id=<%=liveFootBall[i].eventData.eventId%>">
          <img src="/assets/img/home/side-menuimg03.svg" alt="">
          <%=liveFootBall[i].eventData.name%>
      </a>
    <%}%> 
  <%}%> 
  <%for(let i = 0; i < liveTennis.length; i++){%>
    <%if(liveTennis[i].marketList.match_odd != null){%>
      <a href="/exchange_inPlay/match?id=<%=liveTennis[i].eventData.eventId%>">
          <img src="/assets/img/home/side-menuimg04.svg" alt="">
          <%=liveTennis[i].eventData.name%>
      </a>
    <%}%>
  <%}%>