<div id="Cricket" class="tabcontent">
  <div class="row">
   <%let checkC = false %> 
  <%for(let i = 0; i < runners.length; i++){%>
    <%if(runners[i].sport === "Cricket" && bets.some(item => item == runners[i].marketId)){%>
      <%checkC = true%>
      <section id="<%=runners[i].eventId%>">
        <div class="container-fluid">
          <div class="new-head">
            <% let runnersData = JSON.parse(runners[i].runners) %>
            <%if(runners[i].matchTitle){%>
              <h3 class="head-hr"><%=  runners[i].matchTitle  %></h3>
            <%}else{%>
              <h3 class="head-hr"><%=  runnersData[0].runner +  ' V ' + runnersData[1].runner  %></h3>
            <%}%>
            <a class="btn-filter" href="/admin/riskAnalysis?id=<%= runners[i].eventId %>" >View Details &nbsp;<i class="fa-solid fa-chevron-right"></i></a>
          </div>
          <div class="video-section-1">
            <div class="video-play">
              <div class="hed-data">
                <h3 class="live-head"> <%=runners[i].marketTitle%> </h3>
              </div>
              <div class="full-adta">
                <table>
                  <thead>
                    <tr>
                      <th>OUTCOMES/RUNNER</th>
                      <th>EXPOSURE</th>
                      <th>TOTAL BETS</th>
                    </tr>
                  </thead>
                  <tbody id="<%=runners[i].marketId%>" class="MarketIdsR">
                    <%for(let j = 0; j < runnersData.length; j++){%>
                      <tr>
                        <td><%=runnersData[j].runner%></td>
                          <td id="<%=runnersData[j].secId%>">00</td>
                          <td id="<%=runnersData[j].secId%>B">00</td>
                      </tr>
                    <%}%>
                  </tbody>
                </table>
              </div>
              
            </div>
          </div>
        </div>
      </section>
    <%}%>
  <%}%>

  <%for(let i = 0; i < forFancy.length; i++){%>
    <section id="<%=forFancy[i].eventId%>">
      <div class="container-fluid">
        <div class="new-head">
          <h3 class="head-hr"><%=  forFancy[i].eventName  %></h3>
          <a class="btn-filter" href="/admin/riskAnalysis?id=<%= forFancy[i].eventId %>" >View Details &nbsp;<i class="fa-solid fa-chevron-right"></i></a>
        </div>
        <div class="video-section-1">
          <div class="video-play">
            <div class="hed-data">
              <h3 class="live-head"> <%=forFancy[i].marketName%> </h3>
            </div>
            <div class="full-adta">
              <table>
                <thead>
                  <tr>
                    <th>Market</th>
                    <th>EXPOSURE</th>
                    <th>TOTAL BETS</th>
                  </tr>
                </thead>
                <tbody id="<%=forFancy[i]._id%>" class="MarketIdsR">
                    <tr>
                      <td><%=forFancy[i].marketName%></td>
                        <td><%=forFancy[i].exposure%></td>
                        <td><%=forFancy[i].count%></td>
                    </tr>
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  <%}%>
  <%if(!checkC){%>
    No data to display
  <%}%>
  </div>
  <!-- <button class="btn btn-view-all">View All</button> -->
</div>