<div id="FOOTBALL" class="tabcontent">
  <div class="row">
    <%let check2 = false %>
      <%for(let i = 0; i < openBet.length; i++){%>
        <%if(openBet[i].bettype == "Football"){%>
          <%for(let j = 0 ; j < openBet[i].details.length; j++){%>
            <%
          let check = liveFootBall.some(item => item.eventData.eventId == openBet[i].details[j][0].eventId)
          console.log(check)
          %>
          <%if(check){%>
            <% check2=true %>
          <section>
            <div class="container-fluid">
              <div class="new-head">
                <h3 class="head-hr"><%=  openBet[i].details[j][0].match %></h3>
                <a class="btn-filter" href="/admin/riskAnalysis?id=<%= openBet[i].details[j][0].eventId %>">View Details &nbsp;<i class="fa-solid fa-chevron-right"></i></a>
              </div>
                <div class="video-section-1">
                  <div class="video-play">
                    <div class="hed-data">
                      <h3 class="live-head"> <%=openBet[i].details[j][0].marketName%> </h3>
                    </div>
                    <div class="full-adta">
                      <table>
                        <thead>
                          <tr>
                            <th>OUTCOMES/RUNNER</th>
                            <th>EXPOSURE</th>
                            <th>TOTAL BETS</th>
                          </tr>
                        </thead>
                        <tbody id="<%=openBet[i].details[j].id%>" class="MarketIdsR">
                          <%for(let k = 0; k < openBet[i].details[j].length; k++){%>
                            <%
                            let dataF 
                            let matchodd = false
                            console.log(openBet[i].details[j][k].id, "IDDDDD")
                            dataF = liveFootBall.find(item => (item.marketList) && (item.marketList.match_odd != null) &&(item.marketList.match_odd.marketId == openBet[i].details[j][k].id))
                            <!-- console.log(dataF, "1212121212") -->
                            if(!dataF){
                              matchodd = true
                              dataF = liveFootBall.find(item => (item.marketList) && (item.marketList.bookmaker != null) &&(item.marketList.bookmaker[0].marketId == openBet[i].details[j][k].id))
                            }
                          %>
                          <%if(dataF){%>
                            <%if(!matchodd){%>
                              <% let runners = JSON.parse(dataF.marketList.match_odd.runners); %>
                              <% const runners1 = []; %>
                              <%const secIds = []; %>
                              <%runners.forEach(item => {%>
                              <%runners1.push(item.runner);%>
                              <%secIds.push(item.secId);%>
                              <%});%>
                              <%for(let j = 0; j < runners1.length; j++){%>
                                <tr>
                                  <td><%=runners1[j]%></td>
                                    <td id="<%=secIds[j]%>">00</td>
                                    <td id="<%=secIds[j]%>B">00</td>
                                </tr>
                              <%}%>
                            <%}else{%>
                              <% let runners = JSON.parse(dataF.marketList.bookmaker[0].runners); %>
                              <% const runners1 = []; %>
                              <%const secIds = []; %>
                              <%runners.forEach(item => {%>
                              <%runners1.push(item.runner);%>
                              <%secIds.push(item.secId);%>
                              <%});%>
                              <%for(let j = 0; j < runners1.length; j++){%>
                                <tr>
                                  <td><%=runners1[j]%></td>
                                    <td id="<%=secIds[j]%>">00</td>
                                    <td id="<%=secIds[j]%>B">00</td>
                                </tr>
                              <%}%>
                            <%}%>
                          <%}%>
                          <%}%>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div> 
            </section>
            <%}%>
              <%}%>
        <%}%>
      <%}%>
      <%if(!openBet.some(item => item.bettype == "Football")){%>
        No data to display
      <%}else if(!check2){%>
        No data to display
        <%}%>
  </div>
  <!-- <button class="btn btn-view-all">View All</button> -->
</div>