<%- include("../header") %>

  <!--Container Main start-->
  <div class="dashboard-main-wraper">

  <section class="dashboard-welcome-section">
    <div class="container-fluid">
      <div class="new-head bet-limit-breadcrum"> 
        <div class="bredcum-container">
          <ul>
            <%for(let i = 0; i < adminBredcumArray.length; i++){%>
              <%if(adminBredcumArray[i].role === "Admin"){%>
                <li><span class="bredcum-span-tag">House </span> <a href="/admin/userManagement">  <%=adminBredcumArray[i].userName%></a></li>

              <%}else if(adminBredcumArray[i].role === "Super-Duper-Admin"){%>
                <%if(adminBredcumArray[i].status){%>
                  <li><span class="bredcum-span-tag">SDM</span><a href="/admin/userManagement">  <%=adminBredcumArray[i].userName%></a></li>
                <%}else{%>
                  <li><span class="bredcum-span-tag">SDM</span> <a href="/admin/userManagement?id=<%=adminBredcumArray[i].id%>">  <%=adminBredcumArray[i].userName%></a></li>
                <%}%>

              <%}else if(adminBredcumArray[i].role === "Super-Admin"){%>
                <%if(adminBredcumArray[i].status){%>
                  <li><span class="bredcum-span-tag">SM</span><a href="/admin/userManagement">  <%=adminBredcumArray[i].userName%></a></li>
                <%}else{%>
                  <li><span class="bredcum-span-tag">SM</span><a href="/admin/userManagement?id=<%=adminBredcumArray[i].id%>">  <%=adminBredcumArray[i].userName%></a></li>
                <%}%>
              <%}else if(adminBredcumArray[i].role === "Duper-Admin"){%>
                <%if(adminBredcumArray[i].status){%>
                  <li><span class="bredcum-span-tag">DM</span><a href="/admin/userManagement">  <%=adminBredcumArray[i].userName%></a></li>
                <%}else{%>
                  <li><span class="bredcum-span-tag">DM</span><a href="/admin/userManagement?id=<%=adminBredcumArray[i].id%>">  <%=adminBredcumArray[i].userName%></a></li>
                <%}%>
              <%}else if(adminBredcumArray[i].role === "AGENT"){%>
                  <%if(adminBredcumArray[i].status){%>
                    <li><span class="bredcum-span-tag">AGENT</span><a href="/admin/userManagement">  <%=adminBredcumArray[i].userName%></a></li>
                  <%}else{%>
                    <li><span class="bredcum-span-tag">AGENT</span><a href="/admin/userManagement?id=<%=adminBredcumArray[i].id%>">  <%=adminBredcumArray[i].userName%></a></li>
                  <%}%>
              <%}%>
            <%}%>
              <!-- <li> <a href="/admin/commissionReportEvent?event=Pakistan v Bangladesh"> Pakistan v Bangladesh</a></li> -->
              <!-- <li class="active"> BOOKMAKER</li> -->
          </ul>
        </div>              
    </div>
      <%- include("./filterSection") %>
    <%- include("../loginUserAdminsideDetails") %>
  </div>
  </section>

  
<section>
  <%- include("./table") %>
</section>



  </div>
  <%if(users.length !== 0){%>
    <div id="load-more">
      <button class="load-more">Load More</button>
    </div>
  <%}%>

  <!-- models -->
  <div class="modal fade deposit-withdraw-modal" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header">
          <h4 class="modal-title">Deposit/Withdraw</h4>
        </div>
        <div class="modal-body">
          <form class="form-data acc-form">
            <div class="row">
              <div class="col">
                <p class="depositeWD">Deposit</p>
              </div>
              <div class="col">
                <p class="withdrawWD">Withdraw</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="hidden" name="type" class="DepositW" value="deposit">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">From User</label>
                <input type="text" class="form-control ml0" placeholder="Enter User Name" name="fromUser" readonly required>
                <!-- <input type="hidden" name="id"> -->

              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="Balance" name="fuBalance" readonly required>
                <span class="below-input" id="fuBlanceAfter"></span>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">To User</label>
                <input type="text" class="form-control ml0" placeholder="Enter User Name" name="toUser" readonly required>
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="Balance" name="tuBalance" readonly required>
                <span class="below-input" id="tuBalanceAfter"></span>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Client P&L</label>
                <input type="text" class="form-control ml0" placeholder="0.00" name="clintPL" readonly required>
              </div>
              <div class="col">
                <label for="">Amount</label>
                <input type="number" class="form-control ml0" placeholder="Add Funds" name="amount" value="0" required>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Remarks</label>
                <input type="text" class="form-control ml0" placeholder="" name="remark">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Transaction Passcode</label>
                <input type="text" class="form-control ml0" placeholder="" name="Password" required>
              </div>
              <div class="col">
                <button type="submit" class="btn-submit mt-3">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade deposit-withdraw-modal" id="myModalSE" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header">
          <h4 class="modal-title">Settelment</h4>
        </div>
        <div class="modal-body">
          <form class="form-data Settlement-form">
            <div class="row">
              <div class="col">
                <p class="deposite">Deposit</p>
              </div>
              <div class="col">
                <p class="withdraw">Withdraw</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="hidden" name="type" class="DepositW">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">From User</label>
                <input type="text" class="form-control ml0" placeholder="Enter User Name" name="fromUser" readonly required>
                <!-- <input type="hidden" name="id"> -->

              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="Balance" name="fuBalance" readonly required>
                <span class="below-input" id="fuBlanceAfter"></span>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">To User</label>
                <input type="text" class="form-control ml0" placeholder="Enter User Name" name="toUser" readonly required>
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="Balance" name="tuBalance" readonly required>
                <span class="below-input" id="tuBalanceAfter"></span>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Client P&L</label>
                <input type="text" class="form-control ml0" placeholder="0.00" name="amount" readonly required>
              </div>
              <div class="col">
                <label for="">Amount</label>
                <input type="number" class="form-control ml0" placeholder="Add Funds" name="clintPL" value="0" required>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Remarks</label>
                <input type="text" class="form-control ml0" placeholder="" name="remark">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Transaction Passcode</label>
                <input type="text" class="form-control ml0" placeholder="" name="Password" required>
              </div>
              <div class="col">
                <button type="submit" class="btn-submit mt-3">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" >
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title" >Withdraw</h4>
        </div>
        <div class="modal-body">
          <form class="form-data">
            <div class="row">
              <div class="col">
                <label for="">From User</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="email">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="1000700.100" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">To User</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="email">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="1000700.100" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Client P&L</label>
                <input type="text" class="form-control ml0" placeholder="0.00" name="email">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="0" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Remarks</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="email">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Transcation Code</label>
                <input type="text" class="form-control ml0" placeholder="" name="email">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="Add Funds" name="pswd">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade commision-popup" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" >
          <!-- <button type="button" class="close" data-dismiss="modal"></button> -->
          <h4 class="modal-title" >Commission</h4>
        </div>
        <div class="modal-body">
          <form class="form-data CommissionForm">
            <table class="table">
              <thead>
                <tr>
                  <th>Market Name</th>
                  <th>Commission Type</th>
                  <th>OFF / ON</th>
                  <th>Percentage Value</th>
                </tr>
              </thead>
              <tbody>
                <%if(currentUser.roleName === "Admin" ){%>
                <tr>
                  <td>matchOdds</td>
                  <td>
                    <select class="form-control" name="matchOddsType">
                      <option value="WIN">WIN_COMMISSION</option>
                      <!-- <option value="ENTRY">Entry Wise Commission</option> -->
                      <!-- Add more options as needed -->
                    </select>
                  </td>
                  <td>
                    <span> &nbsp; <label class="switch">
                      <input class="checkbox" name="matchOddsStatus" type="checkbox">
                      <span class="slider round"></span>
                      </label>&nbsp; </span>
                  </td>
                  <td>
                    <!-- <input type="number" class="form-control" name="matchOdds"> -->
                    <select name="matchOdds">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </td>
                </tr>
                <%}%>
                <tr>
                  <td>Bookmaker</td>
                  <td>
                    <select class="form-control bookmakerType" name="BookmakerType" required>
                      <!-- <option value="WIN">WIN_COMMISSION</option> -->
                      <option value="ENTRY">Entry Wise Commission</option>
                      <option value="NET_LOSS">Net Losing Commission</option>
                      <option value="ENTRY_LOSS_">Entry Wise Losing Commission</option>
                    </select>
                  </td>
                  <td>
                    <span> &nbsp; <label class="switch">
                      <input class="checkbox" name="BookmakerStatus" type="checkbox">
                      <span class="slider round"></span>
                      </label>&nbsp; </span>
                  </td>
                  <td>
                    <!-- <input type="number" class="form-control" name="Bookmaker"> -->
                    <select name="Bookmaker" id="bookmakerPer"> 
                      <!-- <option value="0.25">0.25</option>
                      <option value="0.5">0.5</option>
                      <option value="0.75">0.75</option>
                      <option value="1">1</option> -->
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>fency</td>
                  <td>
                    <select class="form-control" name="fencyType" required>
                      <!-- <option value="WIN">WIN_COMMISSION</option> -->
                      <option value="ENTRY" selected>Entry Wise Commission</option>
                      <!-- Add more options as needed -->
                    </select>
                  </td>
                  <td>
                    <span> &nbsp; <label class="switch">
                      <input class="checkbox" name="fencyStatus" type="checkbox">
                      <span class="slider round"></span>
                      </label>&nbsp; </span>
                  </td>
                  <td>
                    <!-- <input type="number" class="form-control" name="fency" > -->
                    <select name="fency">
                      <option value="0.25">0.25</option>
                      <option value="0.5">0.5</option>
                      <option value="0.75">0.75</option>
                      <option value="1">1</option>
                      <option value="1.25">1.25</option>
                      <option value="1.5">1.5</option>
                      <option value="1.75">1.75</option>
                      <option value="2">2</option>
                      <option value="2.25">2.25</option>
                      <option value="2.50">2.50</option>
                      <option value="2.75">2.75</option>
                      <option value="3">3</option>
                    </select>
                  </td>
                </tr>
                <!-- Add more rows for other markets -->
              </tbody>
            </table>
            <button type="submit" class="btn-submit mt-3">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" >
          <h4 class="modal-title" >Reset User Password</h4>
        </div>
        <div class="modal-body">
          <p >Reset Password For Abitest<br>User Will Be Forced To Changed The Password On Login</p>

          <form class="form-data passReset-form">
            <div class="row">
              <div class="col">
                <label for="">Enter New Password</label>
                <input type="password" class="form-control ml0" placeholder="*****" name="password" required>
              </div>
              <div class="col">
                <label for="">Confirm Password</label>
                <input type="password" class="form-control ml0" placeholder="*****" name="passwordConfirm" required>
              </div>
            </div>
            
            <div class="row mt-2">
              <div class="col">
                <label for="">Transaction Passcode</label>
                <input type="password" class="form-control ml0" placeholder="******" name="Password" required>
              </div>
            </div>
          <button type="submit" class="btn-submit mt-3">Confirm</button>

          </form>
        </div>
      </div>
    </div>
  </div>
   

  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" >
          <h4 class="modal-title" >Change status</h4>
        </div>
        <div class="modal-body">
          <form class="form-data userStatus">
            <div class="row">
              <div class="col">
                <label for="">Account status</label>
                <select name="status" class="form-control ml0" required>
                  <option value="active">Active</option>
                  <option value="suspended">Suspended</option>
                  <option value="betLock">Bet Locked</option>
                </select>
              </div>
            </div>
            
            <div class="row mt-2">
              <div class="col">
                <label for="">Transaction Passcode</label>
                <input type="password" class="form-control ml0" placeholder="******" name="Password" required>
              </div>
            </div>
          <button type="submit" class="btn-submit mt-3">Confirm</button>

          </form>
        </div>
      </div>
    </div>
  </div>
   
  <div class="modal fade" id="myModaL" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" >
          <h4 class="modal-title" >Max Exposure Limit</h4>
        </div>
        <div class="modal-body">
          <form class="form-data Exposure">
            <div class="row">
              <div class="col">
                <label for="">Old Exposure Limit</label>
                <input type="OldEXP" class="form-control ml0" name="OldEXP" required>
              </div>
              <div class="col">
                <label for="">New Exposure Limit</label>
                <input type="NewEXP" class="form-control ml0" name="NewEXP" required>
              </div>
            </div>

            
            <div class="row mt-2">
              <div class="col">
                <label for="">Transaction Passcode</label>
                <input type="password" class="form-control ml0" placeholder="******" name="Password" required>
              </div>
            </div>
          <button type="submit" class="btn-submit mt-3">Confirm</button>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade align-top-popup" id="myModaladduser" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" >
          <h4 class="modal-title" >Add Account</h4>
        </div>
        <div class="modal-body">
          <form class="form-data" id="Add-User">
            <div class="row">
              <div class="col">
                <label for="">Name</label>
                <input type="text" class="form-control ml0" placeholder="" name="name" required>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">User ID</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="userName" required>
              </div>
              <div class="col">
                <label for="">User Role</label>
                <select name="role" id="roleSelect" class="form-control ml0"  required>
                  <option value="select" selected></option>
                  <%if(currentUser.roleName === "Admin" || currentUser.roleName === "Operator"){%>
                    <option value="6492fe4fd09db28e00761695">Super-Duper-Admin</option>
                    <option value="650bccdbb3fdc8c922c34bbe">Operator</option>
                    <option value="64db25621617ac95db36764e">Demo</option>
                  <%}else if (B2C_Status){%>
                    <option value="6492fe4fd09db28e00761694">user</option>
                  <%}else{%>
                    <%let userROLE%>
                    <%for(let i = 0;i<roles.length; i++){%>
                      <%if(roles[i]._id != '650bccdbb3fdc8c922c34bbe'){%>
                        <%if(roles[i].roleName != "user"){%>
                        <option value="<%=roles[i]._id%>"><%=roles[i].roleName%></option>
                        <%}else{
                          userROLE22 = roles[i]
                        }%>
                      <%}%>
                    <%}%>
                    <option value="<%=userROLE22._id%>"><%=userROLE22.roleName%></option>
                  <%}%>
                </select>
              </div>
            </div>
            <div class="row mt-2 createRole-form hide" id="operator-authorization">
              <div class="option-group">
            <%if(currentUser.roleName === "Admin"){%>
            <div class="input_group">
              <label for="HouseManagement">HouseManagement</label>
              <input type="checkbox" name="operator" value="HouseManagement" id="HouseManagement" class="0">
            </div>
            
            <div class="input_group">
              <label for="whiteLabelAnalysis">whiteLabelAnalysis</label>
              <input type="checkbox" name="operator" value="whiteLabelAnalysis" id="whiteLabelAnalysis" class="1">
            </div>

            <div class="input_group">
              <label for="commissionMarkets">commissionMarkets</label>
              <input type="checkbox" name="operator" value="commissionMarkets" id="commissionMarkets" class="2">
            </div>
            <div class="input_group">
              <label for="settlements">settlements</label>
              <input type="checkbox" name="operator" value="settlements" id="settlements" class="3">
            </div>
            
            <div class="input_group">
              <label for="gameAnalysis">gameAnalysis</label>
              <input type="checkbox" name="operator" value="gameAnalysis" id="gameAnalysis" class="4">
            </div>
            <div class="input_group">
              <label for="betLimits">betLimits</label>
              <input type="checkbox" name="operator" value="betLimits" id="betLimits" class="9">
            </div>
            <div class="input_group">
              <label for="casinocontrol">casinocontrol</label>
              <input type="checkbox" name="operator" value="casinocontrol" id="casinocontrol" class="9">
            </div>
            <div class="input_group">
              <label for="catalogcontrol">catalogcontrol</label>
              <input type="checkbox" name="operator" value="catalogcontrol" id="catalogcontrol" class="9">
            </div>
            <div class="input_group">
              <label for="eventcontrol">eventcontrol</label>
              <input type="checkbox" name="operator" value="eventcontrol" id="eventcontrol" class="9">
            </div>
            <%}%>
            
            
            <div class="input_group">
              <label for="notification">notification</label>
              <input type="checkbox" name="operator" value="notification" id="notification" class="5">
            </div>
            
            <div class="input_group">
              <label for="betsMonitaring">betsMonitaring</label>
              <input type="checkbox" name="operator" value="betsMonitaring" id="betsMonitaring" class="6">
            </div>
            
            <div class="input_group">
              <label for="onlineUsers">onlineUsers</label>
              <input type="checkbox" name="operator" value="onlineUsers" id="onlineUsers" class="7">
            </div>
            
            <div class="input_group">
              <label for="alertBets">alertBets</label>
              <input type="checkbox" name="operator" value="alertBets" id="alertBets" class="8">
            </div>
            
            
            <div class="input_group">
              <label for="voidBets">voidBets</label>
              <input type="checkbox" name="operator" value="voidBets" id="voidBets" class="10">
            </div>

            <div class="input_group">
              <label for="userManagement">userManagement</label>
              <input type="checkbox" name="operator" value="userManagement" id="userManagement" class="10">
            </div>

            <div class="input_group">
              <label for="dashBoard">dashBoard</label>
              <input type="checkbox" name="operator" value="dashBoard" id="dashBoard" class="10">
            </div>

            <div class="input_group">
              <label for="riskAnlysis">riskAnlysis</label>
              <input type="checkbox" name="operator" value="riskAnlysis" id="riskAnlysis" class="10">
            </div>

            <div class="input_group">
              <label for="viewReports">viewReports</label>
              <input type="checkbox" name="operator" value="viewReports" id="viewReports" class="10">
            </div>
            <%if(currentUser.roleName != "Admin"){%>
              <div class="input_group">
                <label for="Payment">Payment</label>
                <input type="checkbox" name="operator" value="Payment" id="Payment" class="10">
              </div>
            <%}%>
            
        </div>
          </div>
            <%if(currentUser.roleName === "Admin" || currentUser.roleName === "Operator"){ %>
              <div class="row mt-2">
                <div class="col">
                  <label for="customOptionCheckbox">
                  New Domain
                  <input type="checkbox"  id="customOptionCheckbox">
                  </label>
                  <!-- <input type="text" name="whiteLabel" placeholder="Enter new role"> -->
                  <label >WhiteLabel</label>
                  <select id="whiteLabel" name="whiteLabel" class="form-control ml0">
                    <%for(let i = 0; i < WhiteLabel.length; i++){ %>
                      <option value="<%=WhiteLabel[i].whiteLabelName%>"><%=WhiteLabel[i].whiteLabelName%></option>
                    <%} %>
                  </select>
                  <input type="text" class="hide" name="whiteLabel" id="newWhiteLabelInput" placeholder="Enter new WhiteLabel" >
                  <label class="hide" id="B2C" >Is B2C WhiteLabel?
                    <input type="checkbox" name="B2C">
                  </label>
                </div>
              </div>
            <%} %>
            <div class="row mt-2">
              <div class="col">
                <label for="">Email ID</label>
                <input type="email" class="form-control ml0" placeholder="Abitest" name="email">
              </div>
              <div class="col">
                <label for="">Contact No.</label>
                <input type="number" class="form-control ml0" placeholder="Abitest" name="contact">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Password</label>
                <input type="password" class="form-control ml0" placeholder="" name="password" required>
              </div>
              <div class="col">
                <label for="">Confirm Password</label>
                <input type="password" class="form-control ml0" placeholder="" name="passwordConfirm" required>
              </div>
            </div>
            <div class="row mt-2" id="shareVisibleActual">
              <div class="col">
                <label for="">My Share</label>
                <input type="text" id="Share" class="form-control ml0" placeholder="0" name="share" >
              </div>
              <div class="col">
                <label for="">Visible</label>
                <input type="text" id="myShare" class="form-control ml0" placeholder="0" name="Visible" >
              </div>
              <div class="col">
                <label for="">Actual</label>
                <input type="text" class="form-control ml0" placeholder="0" name="Actual" readonly value="0">
              </div>
              <div class="col">
                <label for="">Max Acc Limit child User</label>
                <input type="number" class="form-control ml0" placeholder="0" name="maxLimitForChildUser"  placeholder="0">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Credit Reference</label>
                <input type="text" class="form-control ml0" placeholder="0" name="Credit" required>
              </div>
              <div class="col hide" id="ExposureLimits">
                <label >Exposure Limits</label>
                <input type="number" class="form-control ml0" placeholder="0" name="exposureLimit">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Note</label>
                <input type="text" class="form-control ml0" placeholder="" name="Note">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Transaction Passcode</label>
                <input type="password" class="form-control ml0" placeholder="" name="Password" required>
                <i class="bi bi-eye-slash" id="togglePassword"></i>
              </div>
            </div>
            <button type="submit" class="btn-submit mt-3" >Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  
  </div>  <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" >
          <h4 class="modal-title" >User Details</h4>
        </div>
        <div class="modal-body">
          <form class="form-data" id="edit-form">
            <div class="row">
              <div class="col">
                <label for="">Name</label>
                <input type="text" class="form-control ml0" name="name">
                <input type="hidden" id="id" name="id">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">User Name</label>
                <input type="text" class="form-control ml0" name="userName">
              </div>
              <div class="col">
                <label for="">User Role</label>
                <select class="form-control ml0" name="role" >
                  <%for(let i = 0;i<roles.length; i++){%>
                  <option value="<%=roles[i]._id%>"><%=roles[i].roleName%></option>
                  <%}%>
                </select>
              </div>
            </div>
            
            <div class="row mt-2">
              <div class="col">
                <label for="">Share <span >100</span></label>
                <input type="text" class="form-control ml0" placeholder="90" name="share">
              </div>
              <div class="col">
                <label for="">My Share</label>
                <input type="text" class="form-control ml0" placeholder="10" name="myShare">
              </div>
              <div class="col">
                <label for="">Actual</label>
                <input type="text" class="form-control ml0" placeholder="10" name="actual">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Credit Reference</label>
                <input type="text" class="form-control ml0" name="cdReference">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="exposureLimit">Expose Limits</label>
                <input type="number" class="form-control ml0" placeholder="0" name="exposureLimit">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Note</label>
                <textarea id="w3review" placeholder="" name="w3review" rows="3" cols="50" ></textarea>
              </div>
            </div>
          
  
            <button type="submit" class="btn-submit mt-3">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    const customOptionCheckbox = document.getElementById('customOptionCheckbox');
    const newWhiteLabelInput = document.getElementById('newWhiteLabelInput');
    const nnewB2C = document.getElementById('B2C')
    const SElectWhiteLable = document.getElementById("whiteLabel")
  
    customOptionCheckbox.addEventListener('change', function () {
      if (this.checked) {
        newWhiteLabelInput.classList.remove('hide')
        nnewB2C.classList.remove('hide')
        // Hide the select element
        SElectWhiteLable.classList.add('hide')
      } else {
        newWhiteLabelInput.classList.add('hide')
        nnewB2C.classList.add('hide')
        SElectWhiteLable.classList.remove('hide')
      }
    });
  </script>
  <script>
  
    document.getElementById('roleSelect').addEventListener('change', function () {
      // console.log("WORK")
      if (document.getElementById('roleSelect').value === '6492fe4fd09db28e00761694' || document.getElementById('roleSelect').value === "64db25621617ac95db36764e") {  
        document.getElementById('shareVisibleActual').classList.add("hide") 
      } else {
        document.getElementById('shareVisibleActual').classList.remove("hide") 
      }

      if (document.getElementById('roleSelect').value === '6492fe4fd09db28e00761694' || document.getElementById('roleSelect').value === "64db25621617ac95db36764e") {  
        document.getElementById('ExposureLimits').classList.remove("hide") 
      } else {
        document.getElementById('ExposureLimits').classList.add("hide") 
      }

      if (document.getElementById('roleSelect').value === '650bccdbb3fdc8c922c34bbe') {  
        document.getElementById('operator-authorization').classList.remove("hide") 
      } else {
        document.getElementById('operator-authorization').classList.add("hide") 
      }
    });
  </script>
  <script>
    $(document).on("change", ".bookmakerType", function(e){
      e.preventDefault()
      // console.log($(this).val())
      let html=``
      if($(this).val() == "NET_LOSS"){
        html += ` <option value="0.25">0.25</option>
                      <option value="0.5">0.5</option>
                      <option value="0.75">0.75</option>
                      <option value="1">1</option>
                      <option value="1.25">1.25</option>
                      <option value="1.5">1.5</option>
                      <option value="1.75">1.75</option>
                      <option value="2">2</option>
                      <option value="2.25">2.25</option>
                      <option value="2.50">2.50</option>
                      <option value="2.75">2.75</option>
                      <option value="3">3</option>`
      }else if ($(this).val() == "ENTRY"){
        html += `<option value="0.025">0.025</option>
                      <option value="0.05">0.05</option>
                      <option value="0.075">0.075</option>
                      <option value="0.1">0.1</option>
                      <option value="0.125">0.125</option>
                      <option value="0.15">0.15</option>
                      <option value="0.175">0.175</option>
                      <option value="0.2">0.2</option>
                      `
      }else if ($(this).val() == "ENTRY_LOSS_"){
        html += `<option value="0.25">0.25</option>
                      <option value="0.5">0.5</option>
                      <option value="0.75">0.75</option>
                      <option value="1">1</option>`
      }
      document.getElementById("bookmakerPer").innerHTML = html
    })
  </script>

    <script type="text/javascript" src="../js/bundle.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>

  </body>
</html>