<%- include("../header") %>

  <!--Container Main start-->
  <div class="height-100" style="background-color: #EAEEF7;">

  <section class="pad-top-bottom" style="padding:70px 0px 10px;">
    <div class="container-fluid">
      <%- include("./filterSection") %>
    <%- include("../loginUserAdminsideDetails") %>
  </div>
  </section>

  
<section style="padding: 15px 0px;">
  <%- include("./table") %>
</section>

<!-- end gallary -->

  </div>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" style="text-align: center;">
          <!-- <h4 class="modal-title" style="color: #fff;">Deposit</h4> -->
        </div>
        <div class="modal-body">
          <form class="form-data acc-form">
            <div class="row">
              <div class="col">
                <label for="">Choose Option</label>
                <select name="type" style="color: #fff;">
                  <option value="deposit">Deposit</option>
                  <option value="withdrawl">Withdraw</option>
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">From User</label>
                <input type="text" class="form-control ml0" placeholder="Enter User Name" name="fromUser" readonly>
                <input type="hidden" name="id">

              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="Balance" name="fuBalance" readonly>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">To User</label>
                <input type="text" class="form-control ml0" placeholder="Enter User Name" name="toUser" readonly>
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="Balance" name="tuBalance" readonly>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Client P&L</label>
                <input type="text" class="form-control ml0" placeholder="0.00" name="clintPL">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Remarks</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="remark">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Transcation Code</label>
                <input type="text" class="form-control ml0" placeholder="" name="tCode">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="number" class="form-control ml0" placeholder="Add Funds" name="amount">
              </div>
            </div>
            <button type="submit" class="btn-submit mt-3">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" style="text-align: center;">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title" style="color: #fff;">Withdraw</h4>
        </div>
        <div class="modal-body">
          <form class="form-data">
            <div class="row">
              <div class="col">
                <label for="">From User</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="email">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="1000700.100" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">To User</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="email">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="1000700.100" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Client P&L</label>
                <input type="text" class="form-control ml0" placeholder="0.00" name="email">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="0" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Remarks</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="email">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Transcation Code</label>
                <input type="text" class="form-control ml0" placeholder="" name="email">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="Add Funds" name="pswd">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" style="text-align: center;">
          <!-- <button type="button" class="close" data-dismiss="modal"></button> -->
          <h4 class="modal-title" style="color: #fff;">Change Credit</h4>
        </div>
        <div class="modal-body">
          <form class="form-data">
            <div class="row">
              <div class="col">
                <label for="">Old Credit</label>
                <input type="text" class="form-control ml0" placeholder="10000000" name="credit">
              </div>
              <div class="col">
                
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="">New Credit</label>
                <input type="text" class="form-control ml0" placeholder="0" name="newCreadit">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Transcation Password</label>
                <input type="password" class="form-control ml0" placeholder="******" name="email">
              </div>
            </div>
          <button type="button" class="btn-submit mt-3">Submit &nbsp;   <img src="../images/sub.png" alt=""></button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" style="text-align: center;">
          <h4 class="modal-title" style="color: #fff;">Reset User Password</h4>
        </div>
        <div class="modal-body">
          <p style="color: #fff;">Reset Password For Abitest<br>User Will Be Forced To Changed The Password On Login</p>

          <form class="form-data passReset-form">
            <div class="row">
              <div class="col">
                <label for="">Enter New Password</label>
                <input type="hidden" name="id">
                <input type="password" class="form-control ml0" placeholder="*****" name="password">
              </div>
              <div class="col">
                <label for="">Confirm Password</label>
                <input type="password" class="form-control ml0" placeholder="*****" name="passwordConfirm">
              </div>
            </div>
            
            <div class="row mt-2">
              <div class="col">
                <label for="">Your Transcation Code</label>
                <input type="password" class="form-control ml0" placeholder="******" name="email">
              </div>
            </div>
          <button type="submit" class="btn-submit mt-3">Confirm</button>

          </form>
        </div>
      </div>
    </div>
  </div>
   

  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" style="text-align: center;">
          <h4 class="modal-title" style="color: #fff;">Change status</h4>
        </div>
        <div class="modal-body">
          <form class="form-data userStatus">
            <div class="row">
              <div class="col">
                <label for="">Account status</label>
                <select name="status" class="form-control ml0" style="color: #000 !important;">Active
                  <option value="true">Active</option>
                  <option value="false">Close</option>
                </select>
                <input type="hidden" name="id">
              </div>
            </div>
            
            <div class="row mt-2">
              <div class="col">
                <label for="">Enter Your Password</label>
                <input type="password" class="form-control ml0" placeholder="******" name="email">
              </div>
            </div>
          <button type="submit" class="btn-submit mt-3">Confirm</button>

          </form>
        </div>
      </div>
    </div>
  </div>
   

  <div class="modal fade" id="myModaladduser" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" style="text-align: center;">
          <h4 class="modal-title" style="color: #fff;">Add Account</h4>
        </div>
        <div class="modal-body">
          <form class="form-data" id="Add-User">
            <div class="row">
              <div class="col">
                <label for="">Name</label>
                <input type="text" class="form-control ml0" placeholder="" name="name">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">User ID</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="userName">
              </div>
              <div class="col">
                <label for="">User Role</label>
                <select name="role"  class="form-control ml0" style="color: #000 !important;">
                  <%for(let i = 0;i<roles.length; i++){%>
                    <option value="<%=roles[i]._id%>"><%=roles[i].roleName%></option>
                  <%}%>
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Password</label>
                <input type="password" class="form-control ml0" placeholder="" name="password">
              </div>
              <div class="col">
                <label for="">Confirm Password</label>
                <input type="password" class="form-control ml0" placeholder="" name="passwordConfirm">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Share</label>
                <input type="text" class="form-control ml0" placeholder="0" name="email">
              </div>
              <div class="col">
                <label for="">Visible</label>
                <input type="text" class="form-control ml0" placeholder="0" name="pswd">
              </div>
              <div class="col">
                <label for="">Actual</label>
                <input type="text" class="form-control ml0" placeholder="0" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Credit Reference</label>
                <input type="text" class="form-control ml0" placeholder="0" name="email">
              </div>
              <div class="col">
                <label for="exposureLimit">Expose Limits</label>
                <input type="number" class="form-control ml0" placeholder="0" name="exposureLimit">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Note</label>
                <input type="text" class="form-control ml0" placeholder="" name="email">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Password</label>
                <input type="password" class="form-control ml0" placeholder="" name="email">
                <i class="bi bi-eye-slash" id="togglePassword"></i>
              </div>
            </div>
            <button type="submit" class="btn-submit mt-3" style="background-color: #46BCAA;">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  
  </div>  <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" style="text-align: center;">
          <h4 class="modal-title" style="color: #fff;">User Details</h4>
        </div>
        <div class="modal-body">
          <form class="form-data" id="edit-form">
            <div class="row">
              <div class="col">
                <label for="">Name</label>
                <input type="text" class="form-control ml0" name="name">
                <input type="hidden" id="id" name="id">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">User Name</label>
                <input type="text" class="form-control ml0" name="userName">
              </div>
              <div class="col">
                <label for="">User Role</label>
                <select class="form-control ml0" name="role" style="color: #000 !important;">
                  <%for(let i = 0;i<roles.length; i++){%>
                  <option value="<%=roles[i]._id%>"><%=roles[i].roleName%></option>
                  <%}%>
                </select>
              </div>
            </div>
            
            <div class="row mt-2">
              <div class="col">
                <label for="">Share <span style="color: #46BCAA;">100</span></label>
                <input type="text" class="form-control ml0" placeholder="90" name="share">
              </div>
              <div class="col">
                <label for="">My Share</label>
                <input type="text" class="form-control ml0" placeholder="10" name="myShare">
              </div>
              <div class="col">
                <label for="">Actual</label>
                <input type="text" class="form-control ml0" placeholder="10" name="actual">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Credit Reference</label>
                <input type="text" class="form-control ml0" name="cdReference">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="exposureLimit">Expose Limits</label>
                <input type="number" class="form-control ml0" placeholder="0" name="exposureLimit">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Note</label>
                <textarea id="w3review" placeholder="" name="w3review" rows="3" cols="50" style="width: 100%;border-radius: 5px;"></textarea>
              </div>
            </div>
          
  
            <button type="submit" class="btn-submit mt-3">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    <script type="text/javascript" src="../js/bundle.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>

  </body>
</html>