<div class="container-fluid">
  <div class="meDetails" id="meDatails" data-me='<%=JSON.stringify(me)%>'></div>
  <div class="currentUserDetails" id="currentUserDetails" data-currentuser='<%=JSON.stringify(currentUser)%>'></div>
  <span data-rowid="1" class="rowId"></span>
  <div class="table-data-section">
    <div class="table-heading">
      <h3><svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2.16659 0.125H16.7499C17.3025 0.125 17.8324 0.344493 18.2231 0.735194C18.6138 1.12589 18.8333 1.6558 18.8333 2.20833V9.58333C17.266 9.32003 15.6572 9.66263 14.3333 10.5417H10.4999V14.7083H11.6249C11.5103 15.4167 11.5103 16.1146 11.6249 16.7917H2.16659C1.61405 16.7917 1.08415 16.5722 0.693446 16.1815C0.302745 15.7908 0.083252 15.2609 0.083252 14.7083V2.20833C0.083252 1.0625 1.02075 0.125 2.16659 0.125ZM2.16659 4.29167V8.45833H8.41658V4.29167H2.16659ZM10.4999 4.29167V8.45833H16.7499V4.29167H10.4999ZM2.16659 10.5417V14.7083H8.41658V10.5417H2.16659ZM21.9583 19.9167V18.875C21.9583 17.4896 19.177 16.7917 17.7916 16.7917C16.4062 16.7917 13.6249 17.4896 13.6249 18.875V19.9167H21.9583ZM17.7916 11.5833C16.6458 11.5833 15.7083 12.5208 15.7083 13.6667C15.7083 14.8125 16.6458 15.75 17.7916 15.75C18.9374 15.75 19.8749 14.8229 19.8749 13.6667C19.8749 12.5104 18.9478 11.5833 17.7916 11.5833Z"
            fill="#212121"></path>
        </svg> User Management</h3>
      <div class="table-heading-btn">
        <button class="btn-filter COMMISSIONADMIN"><i class="fa-solid fa-money-check-dollar"></i> &nbsp; Claim Commission (<%=unclaimCommission%>)</button>
        <button class="btn-filter" id="downloadBtn"><i class="fa-solid fa-download"></i> &nbsp; Excel</button>
        <button class="btn-filter add-user-btn" data-bs-toggle="modal" data-bs-target="#myModaladduser"><i
        class="fa-solid fa-plus"></i> &nbsp; Add User</button>
        <%if(currentUser.role.authorization.includes('createDeleteUser')){%>
        <%}%>
      </div>
    </div>
    <div class="data-table">
      <table id="table12">
        <thead>
          <tr>
            <th>S.No</th>
            <th>User Name</th>
            <th>Type</th>
            <%if(currentUser.roleName == "Admin"){ %>
              <th>White Labels</th>
            <%}%>
            <th>Credit Reference</th>
            <th>Available Balance</th>
            <th>Downlevel Balance</th>
            <th>Points W/L</th>
            <th>Upline P/L</th>
            <!-- <th>Exposure Limit</th> -->
            <th>Exposure</th>

            <!-- <th>Exposure<br>0.00</th> -->
            <!-- <th>Lifetime Credit</th>
            <th>Lifetime Deposit</th> -->
            <th colspan="6">Action</th>




          </tr>
        </thead>
        <tbody class="new-body">
          <%if(users.length > 0){%>
          <%for(let i=0; i<users.length; i++){%>
            <%if((i+1) % 2 !=0){%>
              <tr class="trtable" id="<%=i+1%>" data-id="<%=users[i]._id%>">
                <%}else{%>
              <tr class="trtable" id="<%=i+1%>" data-id="<%=users[i]._id%>">
                <%}%>
                  <td>
                    <%=i + 1%>
                  </td>
                  <td class="getOwnChild">
                    <div class="user-status-section" >
                    <%if(users[i].isActive && users[i].betLock){%>
                      <span class="user-status bet-lock" >BL</span>
                    <%}else if(users[i].isActive && !users[i].betLock){ %>
                      <span class="user-status active" >A</span>
                    <%}else{%>
                      <span class="user-status suspended" >S</span>
                    <%}%>
                    <%if(users[i].roleName !='user' ){%>
                      <a href="/admin/userManagement?id=<%=users[i]._id%>">
                        <%=users[i].userName%>
                      </a>

                      <%}else{%>
                        <%=users[i].userName%>
                          <%}%>
                        </div>
                  </td>
                  <td>
                    <span class="role-type">
                      <%=users[i].roleName%>
                    </span>
                  </td>
                  <%if(currentUser.roleName == "Admin"){ %>
                    <td>
                      <%=users[i].whiteLabel%>
                    </td>
                  <%}%>
                  <td>
                    <%=users[i].balance%>
                  </td>
                  <td>
                    <%=users[i].availableBalance%>
                  </td>
                  <td>
                    <%=users[i].downlineBalance%>
                  </td>
                  <%if(users[i].pointsWL > 0){ %>
                    <td class="green">
                      <%=users[i].pointsWL%>
                    </td>
                  <%}else{ %>
                  <td class="red">
                    <%=users[i].pointsWL%>
                  </td>
                  <%} %>
                  <td>
                    <%=users[i].uplinePL%>
                  </td>
                  <td>
                    0
                  </td>
                  <!-- <td><%=users[i].userName%></td> -->
                  
                  <td>
                    <div class="btn-group">
                        <button data-bs-toggle="modal" data-bs-target="#myModal" class="Deposite" title="Deposit/Withdraw"> D/W </button>
                        <button data-bs-toggle="modal" data-bs-target="#myModal2" class="CreaditChange" title="Commission">C</button>
                        <button data-bs-toggle="modal" data-bs-target="#myModal3"
                          class="PasswordChange" title="Change Password">P</button>
                      <button  data-bs-toggle="modal" data-bs-target="#myModalSE " class="Settlement" title="Settlement">S</button>
                        <button data-bs-toggle="modal" data-bs-target="#myModal4"
                          class="StatusChange" title="Change Status">CS</button>
                          <%if(users[i].roleName ==='user' ){%>
                            <button data-bs-toggle="modal" data-bs-target="#myModaL" class="ExposureLimit" title="Exposure Limit">L</button>
                          <%}%>
                        <button class="UserDetails" title="View details"><i class="fa-solid fa-database"></i></button>
                    </div>
                  </td>
              </tr>
              <%}%>
              <%}else{%>
                <tr class="empty_table"><td>No record found</td></tr>
              <%}%>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>