<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <title>Dashboard</title>
    <style>
        table, tr, th, td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <button><a href="/userManagement">User Management</a></button>
    <div class="container">
        <div class="userDetails">

            <h3>User Details</h3>
            <table>
                <tr>
                    <th>User Type</th>
                    <th>Total</th>
                </tr>
                <%for(let i=0; i<data.dashboard.roles.length;i++){%>
                <tr>
                    <td><%=data.dashboard.roles[i]._id%></td>
                    <td><%=data.dashboard.roles[i].total%></td>
                </tr>
                <%}%>
            </table>
        </div>
        <div class="whiteLable">

            <h3>White Lable</h3>
            <table>
                <tr>
                    <th>Domain</th>
                    <%for(let i=0; i<data.dashboard.roles.length;i++){%>
                        <th><%=data.dashboard.roles[i]._id%></th>
                    <%}%>

                </tr>
                <%for(let i=0; i<data.dashboard.users.length;i++){%>
                    <tr>
                        <td><%=data.dashboard.users[i]._id%></td>
                        <%for(let j=0; j<data.dashboard.roles.length;j++){%>
                            <%let check = 0%>
                            <%for(let k=0; k<data.dashboard.users[i].terms.length;k++){%>
                                <%if(data.dashboard.users[i].terms[k].roleType == data.dashboard.roles[j]._id){%>
                                    <td><%=data.dashboard.users[i].terms[k].total%></td>
                                    <%check = 1%>
                                <%}%>
                            <%}%>
                            <%if(check != 1){%>
                                <td>0</td>
                            <%}%>
                        <%}%>
                    </tr>
                <%}%>
            </table>
        </div>
    </div>

    <script type="text/javascript" src="js/bundle.js"></script>

</body>
</html>