<div class=""> 
    <div class="main">
      <div class="skin-data green">
          
          <h5>Credit Reference</h5>
          <h6><%= currentUser.creditReference%></h6>
      </div>
      <div class="skin-data green">
        
        <h5>Balance</h5>
          <h6><%= currentUser.balance%></h6>
      </div>
      <div class="skin-data green">
        
        <h5>Available Balance</h5>
          <h6><%= currentUser.availableBalance%></h6>
      </div>
      <div class="skin-data green">
        
        <h5>Downline Balance</h5>
          <h6><%= currentUser.downlineBalance%></h6>
      </div>

      <div class="skin-data red">
       
        <h5>MY P/L</h5>
          <h6><%= currentUser.myPL%></h6>
      </div>
      <div class="skin-data red">
        
        <h5>Upline P/L</h5>
          <h6><%= currentUser.uplinePL%></h6>
      </div>
      <div class="skin-data green">
        
        <h5>Client P/L</h5>
          <h6><%= currentUser.clientPL%></h6>
      </div>

  </div>
</div>