<div class="welcome-info-btn">
  <div class="skin-data green">
      
      <h5>Credit Reference</h5>
      <h6><%= me.creditReference%></h6>
  </div>
  <!-- <div class="skin-data green">
    
    <h5>Balance</h5>
      <h6><%= me.balance%></h6>
  </div> -->
  <div class="skin-data green">
    
    <h5>Available Balance</h5>
      <h6><%= me.availableBalance%></h6>
  </div>
  <div class="skin-data green">
    
    <h5>Downline Balance</h5>
      <h6><%= me.downlineBalance%></h6>
  </div>
  <%if(me.myPL > 0){%>
  <div class="skin-data green">
    <%}else{%>
      <div class="skin-data red">
    <%}%>
      <h5>MY P/L</h5>
        <h6><%= me.myPL%></h6>
    </div>
    <%if(me.uplinePL > 0){%>
      <div class="skin-data green">
    <%}else{ %>
      <div class="skin-data red">
    <%} %>
    
    <h5>Upline P/L</h5>
      <h6><%= me.uplinePL%></h6>
  </div>
  <%if(me.lifetimePL > 0){%>
    <div class="skin-data green">
  <%}else{ %>
    <div class="skin-data red">
  <%} %>
    
    <h5>Lifetime P/L</h5>
      <h6><%= me.lifetimePL%></h6>
  </div>

</div>
