<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;700&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="../images/logo.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<title>Balaji Dashboard</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.css"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js" integrity="sha256-6ec2OYfOEVNM4UoRBRGoUP5SRgKyf/FhNoOjTwtqD3k=" crossorigin="anonymous"></script>
<style>
  .green{
    background-color: #46BCAA;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
  .green>h5{
    font-size: 15px;
  }
  .green>h6{
    font-size: 13px;
  }
  .red{
    background-color: #FE3030;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;

  }
  label{
    color: #fff;
  }
  .red>h5{
    font-size: 15px;
  }
  .red>h6{
    font-size: 13px;
  }
  .new-body,td{
    font-size: 11px;
  }
  .flex-des{
    display: flex;
    justify-content: space-between;
  }
</style>
</head>
<body id="body-pd" class="fix-width-body" style="font-family: Outfit;background-color:#EAEEF7;">
  <header class="header" id="header">
      <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> 
        
          <span class="datre-time">Date 21-12-22   Time-11:08</span>
        
      </div>
      
      <div>
      
        <div class="social-media">
          <!-- <span>Follow us: </span> -->
          <span><a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="instagram"><i class="fa-solid fa-moon"></i></a></span> 
          <span> <a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="facebook"><i class="fa-solid fa-bell"></i></a></span> 
          <span> <a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="instagram"><i class="fa-solid fa-message"></i></a></span> 
          <span> <a href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="instagram"><i class="fa-solid fa-gear"></i></a></span> 
        </div>
      </div>
  </header>
  <div class="l-navbar" id="nav-bar" style="background-color: #FFFFFF;">
      <nav class="nav">
         
              <div class="nav_list"> 
                <a href="/dashboard" class="nav_link active"><img src="../images/dash.png" alt=""> <span class="nav_name">Dashboard</span> </a>
                <a href="/userManagement" class="nav_link"> <img src="../images/user.png" alt=""> <span class="nav_name">User Mangement</span> </a> 
                <a href="/operation" class="nav_link"> <img src="../images/222.png" alt=""> <span class="nav_name">Operation</span> </a> 
                <a href="/livemarket" class="nav_link"> <img src="../images/333.png" alt=""> <span class="nav_name">Live Market</span> </a> 
                <a href="/casinocontrol" class="nav_link"> <img src="../images/44.png" alt=""> <span class="nav_name">Casino Control</span> </a> 
                <a href="/reports" class="nav_link"> <img src="../images/55.png" alt=""> <span class="nav_name">Reports</span> </a> 
                <a href="/payment" class="nav_link"> <img src="../images/66.png" alt=""> <span class="nav_name">Payments Gateway Option</span> </a>
                <a href="/promotion" class="nav_link"> <img src="../images/77.png" alt=""> <span class="nav_name">Promotion</span> </a>
                <a href="/cms" class="nav_link"> <img src="../images/88.png" alt=""> <span class="nav_name">Cms</span> </a>
              </div>
        
      </nav>
  </div>
  <!--Container Main start-->
  <div class="height-100" style="background-color: #EAEEF7;">

  <section class="pad-top-bottom" style="padding:70px 0px 10px;">
    <div class="container-fluid">
    <section style="padding-top: 10px;">
      <div class="new-head"> 
          <h3 style="font-weight: 700;font-size: 24px;">Welcome to User Management</h3>
          <form action="" style="display: flex;">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Search or type  a URL" aria-label="Username" aria-describedby="basic-addon1" style="margin-right: 13px;">
              
            </div>
            <button class="btn-filter"><i class="fa-solid fa-filter"></i>&nbsp;Filter</button>
          </form>
      </div>
    </section>
    <div class=""> 
        <div class="main">
          <div class="skin-data green">
              
              <h5>Credit Reference</h5>
              <h6>21,00,00,01,100.00</h6>
          </div>
          <div class="skin-data green">
            
            <h5>Balance</h5>
              <h6>21,00,91,42,890.00</h6>
          </div>
          <div class="skin-data green">
            
            <h5>Available Balance</h5>
              <h6>5,14,94,44,334.48</h6>
          </div>
          <div class="skin-data green">
            
            <h5>Downline Balance</h5>
              <h6>15,85,96,98,555.52</h6>
          </div>

          <div class="skin-data red">
           
            <h5>MY P/L</h5>
              <h6>-91,41,790.00</h6>
          </div>
          <div class="skin-data red">
            
            <h5>Upline P/L</h5>
              <h6>-54,58,455.00</h6>
          </div>
          <div class="skin-data green">
            
            <h5>Client P/L</h5>
              <h6>91,41,790.00</h6>
          </div>

      </div>
    </div>
  </div>
  </section>

  
<section style="padding: 15px 0px;">
  <div class="container-fluid">
  <div class="row" style="background-color: #fff;padding: 15px 0px;border-radius: 10px;margin: auto;">
    <div class="">
      
    <h3 style="color:#6359CA;font-size: 18px;font-weight: 700;"><img src="../images/c-user.png" alt=""> &nbsp;User Management</h3>
  </div>
    <div style="justify-content: flex-end;
    display: flex;
    gap: 10px;">
    <button class="btn-filter"><i class="fa-solid fa-download"></i> &nbsp; Excel</button>
    <button class="btn-filter" data-bs-toggle="modal" data-bs-target="#myModaladduser"><i class="fa-solid fa-plus"></i> &nbsp; Add User</button>
  </div>

<div class="row">
    <div class="table_data_details col-lg-12">
      
<div class="spcare-table_">
      <table>
        <thead>
            <tr style="text-align: center;font-size: 11px;">
              <th>S.No</th>
              <th>User Name</th>
              <th>White Labels</th>
              <th>Credit Reference<br>3,52,66,13,710.00</th>
              <th>Balance</th>
              <th>Available Balance<br>11,81,93,19,543.58</th>
              <th>Downlevel Balance<br>4040372561.46</th>
              <th>Client P/L<br>-2,62,10,40,161.45</th>
              <th>Upline P/L<br>12333078395.04</th>

              <th>Exposure<br>0.00</th>

              <!-- <th>Exposure<br>0.00</th> -->
              <th>Lifetime Credit</th>
              <th>Lifetime Deposit</th>
              <th colspan="6">Exposure Limit</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              

              
            </tr>
        </thead>
        <tbody class="new-body">
          <%for(let i = 0; i<users.length; i++){%>
            <%if((i+1) % 2 != 0){%>
              <tr style="text-align: center;" class="blue">
            <%}else{%>
              <tr style="text-align: center;">
            <%}%>
              <td><%i + 1%></td>
              <td><%=users[i].userName%></td>
              <td><%=users[i].whiteLable%></td>
              <td><%=users[i].creditReference%> </td>
              <td><%=users[i].balance%></td>
              <td><%=users[i].availableBalance%></td>
              <td><%=users[i].downlineBalance%></td>
              <td style="color:#FE3030;"><%=users[i].clientPL%></td>
              <td><%=users[i].uplinePL%> </td>
              <td><%=users[i].exposure%></td>
              <!-- <td><%=users[i].userName%></td> -->
              <td><%=users[i].lifeTimeCredit%></td>
              <td><%=users[i].lifeTimeDeposit%></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal"> D </button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal1">W</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal2">C</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal3">P</button></td>
              <td class="text-purple"><button data-bs-toggle="modal" data-bs-target="#myModal4">CS</button></td>
              <td><button data-bs-toggle="modal" data-bs-target="#myModal5"><i class="fa-solid fa-database"></i></button></td>
            </tr>
          <%}%>
         
        </tbody>
      </table>
      </div>
    </div>

      </div>
    </div>
  </div>
</div>
</section>
<button class="btn-filter">Next &nbsp; <i class="fa-solid fa-forward-step"></i></button>

<!-- end gallary -->

  </div>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" style="text-align: center;">
          <h4 class="modal-title" style="color: #fff;">Deposit</h4>
        </div>
        <div class="modal-body">
          <form class="form-data">
            <div class="row">
              <div class="col">
                <label for="">From User</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="email">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="1000700.100" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">To User</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="email">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="1000700.100" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Client P&L</label>
                <input type="text" class="form-control ml0" placeholder="0.00" name="email">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="0" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Remarks</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="email">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Transcation Code</label>
                <input type="text" class="form-control ml0" placeholder="" name="email">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="Add Funds" name="pswd">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" style="text-align: center;">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title" style="color: #fff;">Withdraw</h4>
        </div>
        <div class="modal-body">
          <form class="form-data">
            <div class="row">
              <div class="col">
                <label for="">From User</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="email">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="1000700.100" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">To User</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="email">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="1000700.100" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Client P&L</label>
                <input type="text" class="form-control ml0" placeholder="0.00" name="email">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="0" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Remarks</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="email">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Transcation Code</label>
                <input type="text" class="form-control ml0" placeholder="" name="email">
              </div>
              <div class="col">
                <label for="">Balance</label>
                <input type="text" class="form-control ml0" placeholder="Add Funds" name="pswd">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" style="text-align: center;">
          <!-- <button type="button" class="close" data-dismiss="modal"></button> -->
          <h4 class="modal-title" style="color: #fff;">Change Credit</h4>
        </div>
        <div class="modal-body">
          <form class="form-data">
            <div class="row">
              <div class="col">
                <label for="">Old Credit</label>
                <input type="text" class="form-control ml0" placeholder="10000000" name="credit">
              </div>
              <div class="col">
                
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="">New Credit</label>
                <input type="text" class="form-control ml0" placeholder="0" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Transcation Password</label>
                <input type="password" class="form-control ml0" placeholder="******" name="email">
              </div>
            </div>
          <button type="button" class="btn-submit mt-3">Submit &nbsp;   <img src="../images/sub.png" alt=""></button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" style="text-align: center;">
          <h4 class="modal-title" style="color: #fff;">Reset User Password</h4>
        </div>
        <div class="modal-body">
          <p style="color: #fff;">Reset Password For Abitest<br>User Will Be Forced To Changed The Password On Login</p>

          <form class="form-data">
            <div class="row">
              <div class="col">
                <label for="">Enter New Password</label>
                <input type="password" class="form-control ml0" placeholder="*****" name="credit">
              </div>
              <div class="col">
                <label for="">Confirm Password</label>
                <input type="password" class="form-control ml0" placeholder="*****" name="pswd">
              </div>
            </div>
            
            <div class="row mt-2">
              <div class="col">
                <label for="">Your Transcation Code</label>
                <input type="password" class="form-control ml0" placeholder="******" name="email">
              </div>
            </div>
          <button type="button" class="btn-submit mt-3">Confirm</button>

          </form>
        </div>
      </div>
    </div>
  </div>
   

  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" style="text-align: center;">
          <h4 class="modal-title" style="color: #fff;">Change status</h4>
        </div>
        <div class="modal-body">
          <form class="form-data">
            <div class="row">
              <div class="col">
                <label for="">Account status</label>
                <select name="" id="" class="form-control ml0" style="color: #000 !important;">Active
                  <option value="">Active</option>
                  <option value="">Close</option>
                </select>
              </div>
            </div>
            
            <div class="row mt-2">
              <div class="col">
                <label for="">Enter Your Password</label>
                <input type="password" class="form-control ml0" placeholder="******" name="email">
              </div>
            </div>
          <button type="button" class="btn-submit mt-3">Confirm</button>

          </form>
        </div>
      </div>
    </div>
  </div>
   

  <div class="modal fade" id="myModaladduser" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" style="text-align: center;">
          <h4 class="modal-title" style="color: #fff;">Add Account</h4>
        </div>
        <div class="modal-body">
          <form class="form-data">
            <div class="row">
              <div class="col">
                <label for="">Name</label>
                <input type="text" class="form-control ml0" placeholder="" name="email">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">User ID</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="email">
              </div>
              <div class="col">
                <label for="">User Role</label>
                <select class="form-control ml0" style="color: #000 !important;">
                  <option value="">Super Duper Master</option>
                  <option value="">Super Duper Master</option>
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Password</label>
                <input type="password" class="form-control ml0" placeholder="" name="email">
              </div>
              <div class="col">
                <label for="">Confirm Password</label>
                <input type="password" class="form-control ml0" placeholder="" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Share</label>
                <input type="text" class="form-control ml0" placeholder="0" name="email">
              </div>
              <div class="col">
                <label for="">Visible</label>
                <input type="text" class="form-control ml0" placeholder="0" name="pswd">
              </div>
              <div class="col">
                <label for="">Actual</label>
                <input type="text" class="form-control ml0" placeholder="0" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Credit Reference</label>
                <input type="text" class="form-control ml0" placeholder="0" name="email">
              </div>
              <div class="col">
                <label for="">Expose Limits</label>
                <input type="text" class="form-control ml0" placeholder="0" name="email">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Note</label>
                <input type="text" class="form-control ml0" placeholder="" name="email">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Password</label>
                <input type="password" class="form-control ml0" placeholder="" name="email">
                <i class="bi bi-eye-slash" id="togglePassword"></i>
              </div>
            </div>
            <button type="button" class="btn-submit mt-3" style="background-color: #46BCAA;">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" style="text-align: center;">
          <h4 class="modal-title" style="color: #fff;">User Details</h4>
        </div>
        <div class="modal-body">
          <form class="form-data">
            <div class="row">
              <div class="col">
                <label for="">Name</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="email">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">User ID</label>
                <input type="text" class="form-control ml0" placeholder="Abitest" name="email">
              </div>
              <div class="col">
                <label for="">User Role</label>
                <select class="form-control ml0" style="color: #000 !important;">
                  <option value="">Super Duper Master</option>
                  <option value="">Super Duper Master</option>
                </select>
              </div>
            </div>
            
            <div class="row mt-2">
              <div class="col">
                <label for="">Share <span style="color: #46BCAA;">100</span></label>
                <input type="text" class="form-control ml0" placeholder="90" name="email">
              </div>
              <div class="col">
                <label for="">My Share</label>
                <input type="text" class="form-control ml0" placeholder="10" name="pswd">
              </div>
              <div class="col">
                <label for="">Actual</label>
                <input type="text" class="form-control ml0" placeholder="10" name="pswd">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Credit Reference</label>
                <input type="text" class="form-control ml0" placeholder="10000700" name="email">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="vehicle1"> Sports</label>
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                
              </div>
              <div class="col">
                <label for="vehicle2"> Casino</label>
                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                
              </div>
              <div class="col">
                
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label for="">Note</label>
                <textarea id="w3review" placeholder="" name="w3review" rows="3" cols="50" style="width: 100%;border-radius: 5px;"></textarea>
              </div>
            </div>
          
  
            <button type="button" class="btn-submit mt-3">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    <script src="/js/main.js"></script>
    <script src="/js/bundle.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/webSocket.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>

  </body>
</html>