<%- include("../header") %>
  <!--Container Main start-->
  <div class="dashboard-main-wraper">

<!-- skin device sec -->

  <section class="dashboard-welcome-section" >
    <div class="container-fluid">
      <div class="new-head"> 
          <h3 >My Profile</h3>
          <!-- <form action="">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Search or type  a URL" aria-label="Username" aria-describedby="basic-addon1">
              
            </div>
            <button class="btn-filter"><i class="fa-solid fa-filter"></i>&nbsp;Filter</button>
          </form> -->
      </div>
    </div>
    </section>
    
<!-- seling section -->

<section>
  <div class="container-fluid">
      <div class="tab-data-section myProfile-tab-section">
        <div class="tab" >
          <button class="tablinks personal" id="defaultOpen" onclick="openCity(event, 'Cricket')"> Personal  </button>
          <!-- <button class="tablinks" onclick="openCity(event, 'FOOTBALL')"> User Config</button> -->
          <button class="tablinks security" onclick="openCity(event, 'TENNIS')"> Security </button>
      </div>
      <div id="Cricket" class="tabcontent">
                  <div class="row">
                      <div class="container">
                          <div class="form-container">
                            <div class="form-column blue">
                              <div class="tab-heading"> <h4>User Details</h4> </div>
                              <form class="form-data editMyProfile" method="post" id="<%=currentUser._id%>">
                                <div class="row">
                                    <div class="col form-group">
                                        <label for="userName">User Name</label>
                                        <input type="text" readonly id="userName" name="userName" placeholder="<%=currentUser.userName%>" value="<%=currentUser.userName%>">
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col form-group">
                                          <label for="name">Name</label>
                                          <input type="text"  id="name" name="name" placeholder="<%=currentUser.name%>" value="<%=currentUser.name%>">
                                      </div>
                                  </div>
                                  <div class="row">
                                    <div class="col form-group">
                                        <label for="userRole">User Role</label>
                                        <input type="text" readonly id="userRole" name="userRole" placeholder="<%=currentUser.roleName%>" value="<%=currentUser.roleName%>">
                                    </div>
                                </div>
                                  <div class="row">
                                      <div class="col form-group">
                                          <label for="email">Email</label>
                                          <input type="email" id="email" name="email" placeholder="<%=currentUser.email%>" value="<%=currentUser.email%>">
                                      </div>
                                  </div>
                                  <div class="row">
                                    <div class="col form-group">
                                        <label for="contact">Contact</label>
                                        <input type="text"  id="contact" name="contact" placeholder="<%=currentUser.contact%>" value="<%=currentUser.contact%>">
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col form-group">
                                          <button type="submit">Submit</button>
                                      </div>
                                  </div>
                              </form>
                            </div>
                          </div>
                        </div>
                  
                  </div>
              </div> 
              <div id="TENNIS" class="tabcontent">
                  <div class="row">
                      <div class="container">
                          <div class="form-container">
                            <div class="form-column blue">
                              <form class="Wallet">
                                  <div class="row">
                                      <div class="col form-group">
                                          <label for="maxCreditReference">Password</label>
                                          <button type="button"  class="btn-filter" data-bs-toggle="modal" data-bs-target="#myModaladduser">Change</button>
                                      </div>
                                  </div>

                              </form>
                              
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
          
      </div>
  </div>
</section>
 
</div>



  </div>
  <div class="modal fade align-top-popup" id="myModaladduser" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">×</button>
        </div>
        <div class="modal-header">
          <h4 class="modal-title">Change Password</h4>
        </div>
        <div class="modal-body">
          <form class="form-data editMyPassword" method="post">
            <div class="row">
              <div class="col">
                <label for="">Enter old password</label>
                <input type="password" class="form-control ml0" placeholder="" name="oldpassword" required>
              </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">New Password</label>
                    <input type="password" class="form-control ml0" placeholder="" name="password" required>
                  </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">Confirm New Password</label>
                    <input type="password" class="form-control ml0" placeholder="" name="passwordConfirm" required>
                  </div>
            </div>
            <button type="submit" class="btn-submit mt-3">Change</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<script src="http://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="http://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>
<script type="text/javascript" src="../js/bundle.js"></script>


  <script>
        function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
    
  }
  document.getElementById("defaultOpen").click();
  </script>

</body>
    </html>