<!DOCTYPE html>
<html>

<head>
    <title>Risk Analysis</title>
    <div class="rowId" data-rowid="1"></div>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <%- include("../header") %>

  <div class="dashboard-main-wraper">
    <section class="dashboard-welcome-section">
      <div class="container-fluid">
        <div class="new-head"> 
            <h3><%=match.eventData.name%></h3>
        </div>
      
    </section>
    <div class="analysis-data">
      <div class="main-tab-btn">
        <ul>
            <li><button class="book-show active">Book</button></li>
            <li><button class="open-bets-show">Open Bets</button></li>
        </ul>
    </div>
    <%if(match.eventData.type != "UPCOMING"){ %>
      <div class="live-score-banner">
          <div class="live-score"></div>
      </div>
    <%}%>
        <div class="content-left">
            <%if(match.marketList.match_odd != null){%>
              <div class="bets-table">
                  <div class="title">
                      <div class="text-left market" id="<%=match.marketList.match_odd.marketId%>"><strong>Match Odds</strong></div>
                      <div class="text-right">
                        <!-- <strong>Min : 100, Max : 1000</strong> -->
                        <div class="btn-group" >
                            <%
                                let suspendCheck = suspend.some(item => item.marketId == match.marketList.match_odd.marketId)
                            %>
                            <%if(suspendCheck){%>
                                <button class="min-max-modal Suspend-Resume" id="<%=match.marketList.match_odd.marketId%>" >Resume</button>
                            <%}else{%>
                                <button class="min-max-modal Suspend-Resume" id="<%=match.marketList.match_odd.marketId%>" >Suspend</button>
                            <%}%>
                            <button class="min-max-modal userBook" data-bs-toggle="modal" data-bs-target="#matchodd-modal">User Book</button>
                            <button class="min-max-modal BookList" data-bs-toggle="modal" data-bs-target="#bookmaker-modal">Book</button>
                            <button class="min-max-modal tbl-data-href" data-href="/admin/matchBets?id=<%=match.marketList.match_odd.marketId%>&sessiontoken=<%=sessiontoken%>">Bets</button>
                        </div>
                        </div>
                        <!-- <button class="min-max-modal" data-href="/admin/matchBets?id=<%=match.marketList.match_odd.marketId%>">Bets</button></div> -->
                  </div>
                      <% let runners = JSON.parse(match.marketList.match_odd.runners); %>
                    <% const runners1 = []; %>
                    <%const secIds = []; %>
                    <%runners.forEach(item => {%>
                        <%runners1.push(item.runner);%>
                        <%secIds.push(item.secId);%>
                    <%});%>
                  <table>
                    <tr>
                      <th>Market</th>
                      <th>
                        <div class="bets-option-btn">
                          <div class="bets-btn-group">Back</div>
                          <div class="bets-btn-group">Lay</div>
                        </div>
                      </th>
                    </tr>
                    <%for(let i = 0; i < runners1.length; i++){%>
                      <tr>
                        <td><%=runners1[i]%></td>
                        <td>
                          <div class="bets-option-btn">
                            <div class="bets-btn-group">
                                <div class="bets-btn match_odd_Blue" id="<%=secIds[i]%>3">
                                    <strong>1.54</strong>
                                    <span class="small">469</span>
                                </div>                                    
                                <div class="bets-btn match_odd_Blue" id="<%=secIds[i]%>2">
                                    <strong>1.54</strong>
                                    <span class="small">469</span>
                                </div>                                    
                                <div class="bets-btn match_odd_Blue" id="<%=secIds[i]%>1">
                                    <strong>1.54</strong>
                                    <span class="small">469</span>
                                </div>
                            </div>
                            <div class="bets-btn-group pink">
                                <div class="bets-btn match_odd_Red" id="<%=secIds[i]%>4">
                                    <strong>1.54</strong>
                                    <span class="small">469</span>
                                </div>                                    
                                <div class="bets-btn match_odd_Red" id="<%=secIds[i]%>5">
                                    <strong>1.54</strong>
                                    <span class="small">469</span>
                                </div>                                    
                                <div class="bets-btn match_odd_Red" id="<%=secIds[i]%>6">
                                    <strong>1.54</strong>
                                    <span class="small">469</span>
                                </div>
                            </div>
                        </div>
                        </td>
                      </tr>
                    <%}%>
                  </table>
              </div>
            <%}%>


            <%if(match.marketList.goals != null){%>
                <%for(let i = 0; i < match.marketList.goals.length; i++){%>
                    <div class="bets-table">
                        <div class="title">
                            <div class="text-left market" id="<%=match.marketList.goals[i].marketId%>"><strong><%=match.marketList.goals[i].title%></strong></div>
                            <div class="text-right">
                              <!-- <strong>Min : 100, Max : 1000</strong> -->
                              <div class="btn-group" >
                                  <%
                                      let suspendCheck = suspend.some(item => item.marketId == match.marketList.goals[i].marketId)
                                  %>
                                  <%if(suspendCheck){%>
                                      <button class="min-max-modal Suspend-Resume" id="<%=match.marketList.goals[i].marketId%>" >Resume</button>
                                  <%}else{%>
                                      <button class="min-max-modal Suspend-Resume" id="<%=match.marketList.goals[i].marketId%>" >Suspend</button>
                                  <%}%>
                                  <button class="min-max-modal userBook" data-bs-toggle="modal" data-bs-target="#matchodd-modal">User Book</button>
                                  <button class="min-max-modal BookList" data-bs-toggle="modal" data-bs-target="#bookmaker-modal">Book</button>
                                  <button class="min-max-modal tbl-data-href" data-href="/admin/matchBets?id=<%=match.marketList.goals[i].marketId%>&sessiontoken=<%=sessiontoken%>">Bets</button>
                              </div>
                              </div>
                              <!-- <button class="min-max-modal" data-href="/admin/matchBets?id=<%=match.marketList.goals[i].marketId%>">Bets</button></div> -->
                        </div>
                            <% let runners = JSON.parse(match.marketList.goals[i].runners); %>
                          <% const runners1 = []; %>
                          <%const secIds = []; %>
                          <%runners.forEach(item => {%>
                              <%runners1.push(item.runner);%>
                              <%secIds.push(item.secId);%>
                          <%});%>
                        <table>
                          <tr>
                            <th>Market</th>
                            <th>
                              <div class="bets-option-btn">
                                <div class="bets-btn-group">Back</div>
                                <div class="bets-btn-group">Lay</div>
                              </div>
                            </th>
                          </tr>
                          <%for(let i = 0; i < runners1.length; i++){%>
                            <tr>
                              <td><%=runners1[i]%></td>
                              <td>
                                <div class="bets-option-btn">
                                  <div class="bets-btn-group">
                                      <div class="bets-btn match_odd_Blue" id="<%=secIds[i]%>3">
                                          <strong>1.54</strong>
                                          <span class="small">469</span>
                                      </div>                                    
                                      <div class="bets-btn match_odd_Blue" id="<%=secIds[i]%>2">
                                          <strong>1.54</strong>
                                          <span class="small">469</span>
                                      </div>                                    
                                      <div class="bets-btn match_odd_Blue" id="<%=secIds[i]%>1">
                                          <strong>1.54</strong>
                                          <span class="small">469</span>
                                      </div>
                                  </div>
                                  <div class="bets-btn-group pink">
                                      <div class="bets-btn match_odd_Red" id="<%=secIds[i]%>4">
                                          <strong>1.54</strong>
                                          <span class="small">469</span>
                                      </div>                                    
                                      <div class="bets-btn match_odd_Red" id="<%=secIds[i]%>5">
                                          <strong>1.54</strong>
                                          <span class="small">469</span>
                                      </div>                                    
                                      <div class="bets-btn match_odd_Red" id="<%=secIds[i]%>6">
                                          <strong>1.54</strong>
                                          <span class="small">469</span>
                                      </div>
                                  </div>
                              </div>
                              </td>
                            </tr>
                          <%}%>
                        </table>
                    </div>
                <%}%>
              <%}%>
            <!-- winner -->
            <%if(match.marketList.winner != null){%>
                <div class="bets-table">
                    <div class="title">
                        <div class="text-left market" id="<%=match.marketList.winner.marketId%>"><strong>Match Odds</strong></div>
                        <div class="text-right">
                          <!-- <strong>Min : 100, Max : 1000</strong> -->
                          <div class="btn-group" >
                              <%
                                  let suspendCheck = suspend.some(item => item.marketId == match.marketList.winner.marketId)
                              %>
                              <%if(suspendCheck){%>
                                  <button class="min-max-modal Suspend-Resume" id="<%=match.marketList.winner.marketId%>" >Resume</button>
                              <%}else{%>
                                  <button class="min-max-modal Suspend-Resume" id="<%=match.marketList.winner.marketId%>" >Suspend</button>
                              <%}%>
                              <button class="min-max-modal userBook" data-bs-toggle="modal" data-bs-target="#matchodd-modal">User Book</button>
                              <button class="min-max-modal BookList" data-bs-toggle="modal" data-bs-target="#bookmaker-modal">Book</button>
                              <button class="min-max-modal tbl-data-href" data-href="/admin/matchBets?id=<%=match.marketList.winner.marketId%>&sessiontoken=<%=sessiontoken%>">Bets</button>
                          </div>
                          </div>
                          <!-- <button class="min-max-modal" data-href="/admin/matchBets?id=<%=match.marketList.winner.marketId%>">Bets</button></div> -->
                    </div>
                        <% let runners = JSON.parse(match.marketList.winner.runners); %>
                      <% const runners1 = []; %>
                      <%const secIds = []; %>
                      <%runners.forEach(item => {%>
                          <%runners1.push(item.runner);%>
                          <%secIds.push(item.secId);%>
                      <%});%>
                    <table>
                      <tr>
                        <th>Market</th>
                        <th>
                          <div class="bets-option-btn">
                            <div class="bets-btn-group">Back</div>
                            <div class="bets-btn-group">Lay</div>
                          </div>
                        </th>
                      </tr>
                      <%for(let i = 0; i < runners1.length; i++){%>
                        <tr>
                          <td><%=runners1[i]%></td>
                          <td>
                            <div class="bets-option-btn">
                              <div class="bets-btn-group">
                                  <div class="bets-btn match_odd_Blue" id="<%=secIds[i]%>3">
                                      <strong>1.54</strong>
                                      <span class="small">469</span>
                                  </div>                                    
                                  <div class="bets-btn match_odd_Blue" id="<%=secIds[i]%>2">
                                      <strong>1.54</strong>
                                      <span class="small">469</span>
                                  </div>                                    
                                  <div class="bets-btn match_odd_Blue" id="<%=secIds[i]%>1">
                                      <strong>1.54</strong>
                                      <span class="small">469</span>
                                  </div>
                              </div>
                              <div class="bets-btn-group pink">
                                  <div class="bets-btn match_odd_Red" id="<%=secIds[i]%>4">
                                      <strong>1.54</strong>
                                      <span class="small">469</span>
                                  </div>                                    
                                  <div class="bets-btn match_odd_Red" id="<%=secIds[i]%>5">
                                      <strong>1.54</strong>
                                      <span class="small">469</span>
                                  </div>                                    
                                  <div class="bets-btn match_odd_Red" id="<%=secIds[i]%>6">
                                      <strong>1.54</strong>
                                      <span class="small">469</span>
                                  </div>
                              </div>
                          </div>
                          </td>
                        </tr>
                      <%}%>
                    </table>
                </div>
              <%}%>



            <!-- Bookmaker -->
            <%if(match.marketList.bookmaker != null){%>
              <div class="bets-table">
                  <div class="title">
                      <div class="text-left market" id="<%=match.marketList.bookmaker[0].marketId%>"><strong>Bookmaker</strong></div>
                      <div class="text-right">
                        <!-- <strong>Min : 100, Max : 10K</strong> -->
                        <div class="btn-group" >
                            <%
                                let suspendCheck = suspend.some(item => item.marketId == match.marketList.bookmaker[0].marketId)
                            %>
                            <%if(suspendCheck){%>
                                <button class="min-max-modal Suspend-Resume" id="<%=match.marketList.bookmaker[0].marketId%>" >Resume</button>
                            <%}else{%>
                                <button class="min-max-modal Suspend-Resume" id="<%=match.marketList.bookmaker[0].marketId%>" >Suspend</button>
                            <%}%>
                            <!-- <button class="min-max-modal Suspend-Resume" id="<%=match.marketList.bookmaker[0].marketId%>" >Suspend</button> -->
                            <button class="min-max-modal userBook" data-bs-toggle="modal" data-bs-target="#matchodd-modal">User Book</button>
                            <button class="min-max-modal BookList" data-bs-toggle="modal" data-bs-target="#bookmaker-modal">Book</button>
                            <button class="min-max-modal tbl-data-href" data-href="/admin/matchBets?id=<%=match.marketList.bookmaker[0].marketId%>&sessiontoken=<%=sessiontoken%>">Bets</button>
                        </div>
                        <!-- <button class="min-max-modal" data-href="/admin/matchBets?id=<%=match.marketList.bookmaker[0].marketId%>">Bets</button></div> -->
                    </div>
                  </div>
                  <table>
                      <tr>
                          <th>Market</th>
                          <th>
                              <div class="bets-option-btn">
                                  <div class="bets-btn-group">Back</div>
                                  <div class="bets-btn-group">Lay</div>
                              </div>
                          </th>
                      </tr>
                      <%
                        let StringData = match.marketList.bookmaker[0].runners
                        const cleanedString = StringData.replace(/'/g, '');
                        const jsonData = JSON.parse(cleanedString);
                      %>
                      <%for(let i = 0; i < jsonData.length; i++){%>
                        <tr>
                            <td><%=jsonData[i].runner%></td>
                            <td>
                                <div class="bets-option-btn">
                                    <div class="bets-btn-group" >                                 
                                        <div class="bets-btn bookmaker_blue" id="<%=jsonData[i].secId%>1">
                                            <strong>1.54</strong>
                                            <span class="small">469</span>
                                        </div>
                                    </div>
                                    <div class="bets-btn-group pink">                                  
                                        <div class="bets-btn bookmaker_red" id="<%=jsonData[i].secId%>2">
                                          <span class="tbl-td-bg-pich-spn mylock-data">
                                            <i class="fa-solid fa-lock"></i>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                      <%}%>
                  </table>
              </div>
            <%}%>
            <!-- Toss -->
            <!-- <div class="bets-table">
                <div class="title">
                    <div class="text-left"><strong>Toss</strong></div>
                    <div class="text-right"><strong>Min : 100, Max : 10K</strong></div>
                </div>
                <table>
                    <tr>
                        <th>Market</th>
                        <th>
                            <div class="bets-option-btn">
                                <div class="bets-btn-group">Back</div>
                                <div class="bets-btn-group">Lay</div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>England</td>
                        <td>
                            <div class="bets-option-btn">
                                <div class="bets-btn-group">                                 
                                    <div class="bets-btn">
                                        <strong>1.54</strong>
                                        <span class="small">469</span>
                                    </div>
                                </div>
                                <div class="bets-btn-group pink">                                  
                                    <div class="bets-btn">
                                        <strong>1.54</strong>
                                        <span class="small">469</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>England</td>
                        <td>
                            <div class="bets-option-btn">
                                <div class="bets-btn-group">                                 
                                    <div class="bets-btn">
                                        <strong>1.54</strong>
                                        <span class="small">469</span>
                                    </div>
                                </div>
                                <div class="bets-btn-group">                                  
                                    <div class="bets-btn">
                                        <strong>1.54</strong>
                                        <span class="small">469</span>
                                    </div>
                                </div>
                                <div class="match-status-message">Suspended</div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div> -->
            <!-- Fancy -->
            <%if(match.marketList.odd_even != null || match.marketList.session != null){%>
            <div class="bets-table">
              <div class="title">
                  <div class="text-left"><strong>Fancy</strong></div>
                  <div class="text-right">
                    <!-- <strong>Min : 100, Max : 10K</strong> -->
                    <div class="btn-group" >
                        <%
                        let suspendCheck = suspend.some(item => item.marketId == `${match.eventData.eventId}/FANCY`)
                    %>
                    <%if(suspendCheck){%>
                        <button class="min-max-modal Suspend-Resume" id="<%=match.eventData.eventId%>/FANCY" >Resume</button>
                    <%}else{%>
                        <button class="min-max-modal Suspend-Resume" id="<%=match.eventData.eventId%>/FANCY" >Suspend</button>
                    <%}%>
                        
                    </div>
                </div>
              </div>
              <div class="tab-data-section">
                <div class="tab">
                    <button class="tablinks active" data-tag="all">All</button>
                    <%if(match.marketList.session != null){%>
                      <%let sessionData = match.marketList.session.filter(item => item.status == 1 && !item.title.startsWith("Only") && item.title.includes("Over"))%>
                      <%if(sessionData.length > 0){ %>
                      <button class="tablinks" data-tag="session">Session</button>
                      <%} %>
                      <% let dataSessionOnly = match.marketList.session.filter(item => item.status == 1 && item.title.startsWith("Only")) %>
                          <%if(dataSessionOnly.length > 0){%>
                      <button class="tablinks" data-tag="Only_over">Only Over</button>
                      <%} %>
                      <% let dataNotOnly = match.marketList.session.filter(item => item.status == 1 && !item.title.includes("Over")) %>
                      <%if(dataNotOnly.length > 0 ) {%>
                      <button class="tablinks" data-tag="wp_market">W/P Market</button>
                      <%} %>
                      <%}%>
                      <%if(match.marketList.odd_even != null){%>
                      <button class="tablinks" data-tag="odd_even">Odd/Even</button>
                      <%}%>
                </div>
                <%if(match.marketList.session != null){%>
                    <%let sessionData = match.marketList.session.filter(item => item.status == 1 && !item.title.startsWith("Only") && item.title.includes("Over"))%>
                    <%if(sessionData.length > 0){ %>
                    <div class="tabcontent" id="session">
                        <table>
                            <tr>
                                <th>Sessions</th>
                                <th>
                                    <div class="bets-option-btn">
                                        <div class="bets-btn-group">Yes</div>
                                        <div class="bets-btn-group">No</div>
                                    </div>
                                </th>
                            </tr>
                            <%for(let i = 0; i < sessionData.length; i++){%>
                                <tr class="market" id="<%=sessionData[i].marketId%>">
                                    <td ><%=sessionData[i].title%>  <button class="min-max-modal fancy disable" data-bs-toggle="modal" data-bs-target="#Fancy-modal" data-id="<%=sessionData[i].marketId%>">Book</button></td>
                                    <td>    
                                    <div class="bets-option-btn">
                                        <div class="bets-btn-group">                                 
                                            <div class="bets-btn only_over_blue" id="<%=sessionData[i].marketId%>1">
                                                <strong>1.54</strong>
                                                <span class="small">469</span>
                                            </div>
                                        </div>
                                        <div class="bets-btn-group pink">                                  
                                            <div class="bets-btn only_over_red" id="<%=sessionData[i].marketId%>2">
                                                <strong>1.54</strong>
                                                <span class="small">469</span>
                                            </div>
                                        </div>
                                    </div>
                                    </td>
                                </tr>
                            <%}%>
                        </table>
                    </div>
                    <%} %>
                    <% let dataSessionOnly = match.marketList.session.filter(item => item.status == 1 && item.title.startsWith("Only")) %>
                    <%if(dataSessionOnly.length > 0){%>
                    <div class="tabcontent" id="Only_over">
                        <table>
                            <tr>
                                <th>Only Over</th>
                                <th>
                                    <div class="bets-option-btn">
                                        <div class="bets-btn-group">Yes</div>
                                        <div class="bets-btn-group">No</div>
                                    </div>
                                </th>
                            </tr>
                            <%for(let i = 0; i < dataSessionOnly.length; i++){%>
                            <tr class="market" id="<%=sessionData[i].marketId%>">
                                <td ><%=sessionData[i].title%> <button class="min-max-modal fancy disable" data-bs-toggle="modal" data-bs-target="#Fancy-modal" data-id="<%=sessionData[i].marketId%>">Book</button></td>
                                <td>    
                                <div class="bets-option-btn">
                                    <div class="bets-btn-group">                                 
                                        <div class="bets-btn only_over_blue" id="<%=sessionData[i].marketId%>1">
                                            <strong>1.54</strong>
                                            <span class="small">469</span>
                                        </div>
                                    </div>
                                    <div class="bets-btn-group pink">                                  
                                        <div class="bets-btn only_over_red" id="<%=sessionData[i].marketId%>2">
                                            <strong>1.54</strong>
                                            <span class="small">469</span>
                                        </div>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            <%}%>
                        </table>
                    </div>
                    <%} %>
                    <% let dataNotOnly = match.marketList.session.filter(item => item.status == 1 && !item.title.includes("Over")) %>
                    <%if(dataNotOnly.length > 0 ) {%>
                    <div class="tabcontent" id="wp_market">
                      <table>
                          <tr>
                              <th>W/P Market </th>
                              <th>
                                  <div class="bets-option-btn">
                                      <div class="bets-btn-group">Yes</div>
                                      <div class="bets-btn-group">No</div>
                                  </div>
                              </th>
                          </tr>
                          <%for(let i = 0; i < dataNotOnly.length; i++){%>
                            <tr class="market" id="<%=dataNotOnly[i].marketId%>">
                                <td><%=dataNotOnly[i].title%> <button class="min-max-modal fancy disable" data-bs-toggle="modal" data-bs-target="#Fancy-modal" data-id="<%=dataNotOnly[i].marketId%>">Book</button> </td>
                                <td>    
                                <div class="bets-option-btn">
                                    <div class="bets-btn-group">                                 
                                        <div class="bets-btn only_over_blue" id="<%=dataNotOnly[i].marketId%>1">
                                            <strong>1.54</strong>
                                            <span class="small">469</span>
                                        </div>
                                    </div>
                                    <div class="bets-btn-group pink">                                  
                                        <div class="bets-btn only_over_red" id="<%=dataNotOnly[i].marketId%>2">
                                            <strong>1.54</strong>
                                            <span class="small">469</span>
                                        </div>
                                    </div>
                                </div>
                                </td>
                            </tr>
                        <%}%>
                      </table>
                  </div>
                  <%} %>
                <%}%>
                <%if(match.marketList.odd_even != null){%>
                  <div class="tabcontent" id="odd_even">
                      <table>
                          <tr>
                              <th>Odd/Even</th>
                              <th>
                                  <div class="bets-option-btn">
                                      <div class="bets-btn-group">Yes</div>
                                      <div class="bets-btn-group">No</div>
                                  </div>
                              </th>
                          </tr>
                          <%for(let i = 0; i < match.marketList.odd_even.length; i++){%>
                            <tr class="market" id="<%=match.marketList.odd_even[i].marketId%>">
                                <td><%=match.marketList.odd_even[i].title%> <button class="min-max-modal fancy disable" data-bs-toggle="modal" data-bs-target="#Fancy-modal" data-id="<%=match.marketList.odd_even[i].marketId%>">Book</button></td>
                                <td>    
                                <div class="bets-option-btn">
                                    <div class="bets-btn-group">                                 
                                        <div class="bets-btn odd_even_blue" id="<%=match.marketList.odd_even[i].marketId%>1">
                                            <strong>1.54</strong>
                                            <span class="small">469</span>
                                        </div>
                                    </div>
                                    <div class="bets-btn-group pink">                                  
                                        <div class="bets-btn odd_even_red" id="<%=match.marketList.odd_even[i].marketId%>2">
                                            <strong>1.54</strong>
                                            <span class="small">469</span>
                                        </div>
                                    </div>
                                </div>
                                </td>
                            </tr>
                        <%}%>
                      </table>
                  </div>
                  <%}%>
              </div>
          </div>
          <%}%>
        </div>

        <div class="sidebar">
          <%if(src){%>
            <div class="sidebar-block live-match">
                <div class="sidebar-title">Live stream</div>
                <div class="sidebar-content">
                <iframe src="<%=src%>" ></iframe>
                </div>
            </div>
            <%} %>
            <div class="sidebar-block open-bets-table">
              <div class="sidebar-title active">Open Bets</div>
              <div class="sidebar-content" style="display: block;">
                  <div class="data-table">
                      <table id="betTable">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Place Date</th>
                                <th>Market</th>
                                <!-- <th>Bet Type</th> -->
                                <th>Odds</th>
                                <th>Stake</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="betTableBody">
                          <%for(let i = 0; i < Bets.length; i++){%>
                            <% let date = new Date(Bets[i].date)%>
                            <%if(Bets[i].bettype2 === "BACK"){%>
                                <tr class="back" >
                            <%}else{%>
                                <tr class="lay" >
                            <%}%>
                                <td><%=Bets[i].userName%></td>
                                <td><%=date.getDate() + '-' +(date.getMonth() + 1) + '-' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes() +':' + date.getSeconds()%></td>
                                <td><%=Bets[i].marketName%></td>
                                <!-- <td><%=Bets[i].userName%></td> -->
                                <td><%=Bets[i].oddValue%></td>
                                <td><%=Bets[i].Stake%></td>
                                <td><div class="btn-group"><button data-bs-toggle="modal" data-bs-target="#myModal2" class="btn alert flag-button" id="<%=Bets[i].id%>"><svg fill="#000000" height="800px" width="800px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 489 489" xml:space="preserve">
                                    <g>
                                      <g>
                                        <path d="M454.3,31.6c-28.5-15.3-59.1-23.4-93.7-23.4c-40.7,0-81.5,11.2-120.2,21.4S166,50,130.4,50c-23.8,0-45.3-4.6-65.2-13.7
                                          V20.4C65.2,9.2,56,0,44.8,0S24.4,9.2,24.4,20.4v448.2c0,11.2,9.2,20.4,20.4,20.4s20.4-9.2,20.4-20.4v-148
                                          c20,6.9,41.2,10.5,64.2,10.5c40.7,0,81.5-11.2,120.2-20.4c38.7-10.2,74.4-20.4,110-20.4c27.5,0,52,6.1,74.4,18.3
                                          c12.7,8.7,30.6-2.1,30.6-17.3V49.9C464.4,41.8,460.4,35.7,454.3,31.6z M423.7,258.8c-20.4-7.1-41.8-10.2-64.2-10.2
                                          c-40.7,0-81.5,11.2-120.2,21.4s-74.4,20.4-110,20.4c-23.4,0-44.8-4.1-64.2-13.2V79.5c20.4,7.1,41.8,10.2,64.2,10.2
                                          c40.7,0,81.5-11.2,120.2-21.4s74.4-20.4,110-20.4c23.4,0,44.8,4.1,64.2,13.2V258.8z"></path>
                                      </g>
                                    </g>
                                    </svg></button></div></td>
                            </tr>
                          <%}%>
                        </tbody>
                      </table>
                  </div>
                  <%if(Bets.length != 0){%>
                  <div id="load-more">
                    <button class="load-more">Load More</button>
                  </div>
                  <%}%>
              </div>
          </div>
        </div>
    </div>
    </div>
</body>

<div class="modal fade align-top-popup user-book-popup" id="matchodd-modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">×</button>
        </div>
        <div class="modal-header">
          <h4 class="modal-title">User Book List</h4>
        </div>
        <div class="modal-body">
            <div class="data-table">
                <table id="match_odd" data-marketid="">
                    
                </table>
            </div>
         
        </div>
      </div>
    </div>
  </div>
  <div class="modal user-book-popup fade" id="bookmaker-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">×</button>
          </div>
          <div class="modal-header">
            <h4 class="modal-title">Book List</h4>
          </div>
          <div class="modal-body">
              <div class="data-table">
                  <table id="match_odd_Book" data-marketid="">
                      
                  </table>
              </div>
           
          </div>
        </div>
      </div>
  </div>

  <div class="modal fade align-top-popup user-book-popup" id="Fancy-modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">×</button>
        </div>
        <div class="modal-header">
          <h4 class="modal-title">Book List</h4>
        </div>
        <div class="modal-body">
            <div class="data-table">
                <table id="FENCY" >
                    
                </table>
            </div>
         
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade show" id="myModal2" role="dialog" >
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">×</button>
        </div>
        <div class="modal-header">
          <h4 class="modal-title">Alert Bet</h4>
        </div>
        <div class="modal-body">
          <form class="form-data alertbet-form" >
            <div class="row">
                <div class="col">
                  <label for="">password</label>
                  <input type="password" class="form-control ml0" name="password">
                </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Remark</label>
                <input type="text" class="form-control ml0" name="Remark">
              </div>
            </div>
          <button type="submit" class="btn-submit mt-3 ">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="../../js/bundle.js"></script>

<script>
  $(document).ready(function(){
    $('.bets-table .tab-data-section .tab .tablinks').click(function(){
        $('.bets-table .tab-data-section .tab .tablinks').removeClass('active');
        $(this).addClass('active');
        var tagid = $(this).data('tag');
        $('.bets-table .tab-data-section .tabcontent').removeClass('active').addClass('hide-tab');
        $('#'+tagid).addClass('active').removeClass('hide-tab');
    });
    $('.bets-table .tab-data-section .tab .tablinks[data-tag="all"]').click(function(){
        $('.bets-table .tab-data-section .tabcontent').removeClass('hide-tab')
    });
    $('.analysis-data .sidebar .sidebar-title').click(function(){
        $(this).siblings('.sidebar-content').slideToggle();
        $(this).toggleClass('active');
    });
    $('.analysis-data .main-tab-btn ul li button.open-bets-show').click(function(){
        $(this).parents('.analysis-data').addClass('show-open-bets-data');
        $('.analysis-data .main-tab-btn ul li button').removeClass('active');
        $(this).addClass('active');
    });
    $('.analysis-data .main-tab-btn ul li button.book-show').click(function(){
        $(this).parents('.analysis-data').removeClass('show-open-bets-data');
        $('.analysis-data .main-tab-btn ul li button').removeClass('active');
        $(this).addClass('active');
    });
});
</script>

<script>
     var betsButtons = document.querySelectorAll('.tbl-data-href');

betsButtons.forEach(function(button) {
    button.addEventListener('click', function () {
        var newURL = button.getAttribute('data-href');
        window.location.href = newURL;
    });
});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</html>