<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}
ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #ffffff;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: rgb(0, 0, 0);
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover {
          background-color: #ffffff;
        }
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
    <ul>
        <%if(user){%>
            <li><button type="button"  class="logOut"><a>logOut</a></button></li>
            <li><button class="edit"><a href="/edit">Edit</a></button></li>
            <li><button class="account"><a href="/myAccountStatment">My Account Statement</a></button></li>
            <li><button class="account"><a href="/changeUserPassword">change password</a></button></li>
        <%}else{%>
            <li><button class="account"><a href="/userlogin">Login</a></button></li>
        <%}%>
            <li><button class="account"><a href="/ALLGAMEFORTESTING">Casino</a></button></li>
            <li><button class="account"><a href="/SPORT">Sport Radar</a></button></li>
            <li><button class="account"><a href="/exchange_sports/inplay">Exchange</a></button></li>
      </ul>

<div class="vertical-menu">
  <a href="/exchange_sports/inplay" class="active">In Play</a>
  <a href="#">cricket</a>
  <a href="#">Tennis</a>
  <a href="#">Football</a>
</div>

<table>
  <thead style="text-align: center;font-size: 11px;">
    <tr>
      <th colspan="5">cricket</th>
    </tr>
  </thead>
  <tbody class="new-body">
    <tr>
      <td>Schedule</td>
      <td>Teams</td>
      <td>1</td>
      <td>X</td>
      <td>2</td>
    </tr>
    <%for(let i = 0; i < LiveCricket.length; i++){%>
        <tr>
          <td><%= Date(LiveCricket[i].eventData.time)  %></td>
          <% if(LiveCricket[i].marketList.match_odd != null){ %>
          <td class="name1" id="<%=LiveCricket[i].marketList.match_odd.marketId%>"><%=LiveCricket[i].eventData.name%></td>
            <% const result = marketdetails1.data.items.find(item => item.market_id === LiveCricket[i].marketList.match_odd.marketId) %>
            <td class="one" id="<%=LiveCricket[i].marketList.match_odd.marketId%>-result.odds[0].selectionId"><%=result.odds[0].backPrice3%>, <%=result.odds[0].layPrice3%></td>
            <td class="X"> <%=result.odds[1].backPrice3%>, <%=result.odds[1].layPrice3%></td>
            <td class="second"><%=result.odds[1].backPrice3%>, <%=result.odds[1].layPrice3%></td>
          <%}else{%>
            <td><%=LiveCricket[i].eventData.name%></td>
            <td colspan="3">null</td>
          <%}%>
        </tr>
    <%}%>
  </tbody>
</table>

<script src="../userJs/logOut.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/webSocket.js"></script>
</body>
</html>
