<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #ffffff;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: rgb(0, 0, 0);
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover {
          background-color: #ffffff;
        }
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
    <ul>
        <%if(user){%>
            <li><button type="button"  class="logOut"><a>logOut</a></button></li>
            <li><button class="edit"><a href="/edit">Edit</a></button></li>
            <li><button class="account"><a href="/myAccountStatment">My Account Statement</a></button></li>
            <li><button class="account"><a href="/changeUserPassword">change password</a></button></li>
        <%}else{%>
            <li><button class="account"><a href="/userlogin">Login</a></button></li>
        <%}%>
            <li><button class="account"><a href="/ALLGAMEFORTESTING">Casino</a></button></li>
            <li><button class="account"><a href="/SPORT">Sport Radar</a></button></li>
            <li><button class="account"><a href="/exchange_sports/inplay">Exchange</a></button></li>
      </ul>

<div class="vertical-menu">
  <a href="/exchange_sports/inplay" >In Play</a>
  <a href="/exchange_sports/cricket" >cricket</a>
  <a href="#">Tennis</a>
  <a href="#">Football</a>
</div>

<div id="Score">
    
</div>

<div id="details">
    <h2 class="eventName" id="<%=liveCricket.eventData.eventId%>"><%=liveCricket.eventData.name%></h2><h3><%=liveCricket.eventData.league%></h3>

    <%if(liveCricket.marketList.match_odd != null){%>
        <table class="market" id="<%=liveCricket.marketList.match_odd.marketId%>">
            <thead style="text-align: center;font-size: 11px;">
              <tr>
                <th colspan="5">MATCH ODDS      MIN:<%=liveCricket.marketList.match_odd.min_stack%> MAX:<%=liveCricket.marketList.match_odd.max_stack%></th>
              </tr>
            </thead>
            <tbody class="new-body">
                <tr>
                  <td>MARKET</td>
                  <td>BACK</td>
                  <td>LAY</td>
                </tr>
                <% let runners = JSON.parse(liveCricket.marketList.match_odd.runners); %>
                <% const runners1 = []; %>
                <%const secIds = []; %>
                <%runners.forEach(item => {%>
                    <%runners1.push(item.runner);%>
                    <%secIds.push(item.secId);%>
                <%});%>
                <%for(let i = 0; i < runners1.length; i++){%>
                    <tr>
                        <td class="name1"> <%=runners1[i]%></td>
                        <td class="BACK <%=i%>" id="<%=secIds[i]%>"  ></td>
                        <td class="LAY <%=i%>" id="<%=secIds[i]%>"  ></td>
                    </tr>
                <%}%>
              </tbody>
            </table>
    <%}%>
    
</div>

<script src="../userJs/logOut.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/webSocket.js"></script>
</body>
</html>
