<table>
  <thead>
      <tr >
        <th>S.No</th>
        <th>Games</th>
        <th>Total Users</th>
        <th>Total Bets</th>
        <th>Won</th>
        <th>Lost</th>
        <th>Void </th>
        <th>Open </th>
        <th>P/L</th>
      </tr>
  </thead>
  <tbody class="new-body">
    <%for(let i = 0; i<gameAnalist.length; i++){%>
      <%if(i % 2 == 0){%>
        <tr>
      <%}else{%>
        <tr  >
      <%}%>
        <td><%=i + 1%></td>
        <td><%=gameAnalist[i]._id%></td>
        <td><%=gameAnalist[i].Total_User%></td>
        <td><%=gameAnalist[i].betcount%></td>
        <td> <%=gameAnalist[i].won%> </td>
        <td><%=gameAnalist[i].loss%></td>
        <td>-</td>
        <td><%=gameAnalist[i].open%></td>
        <%if(gameAnalist[i].returns > 0){%>
          <td class="green">+<%=gameAnalist[i].returns.toFixed(2)%></td>
        <%}else{%>
          <td class="red"><%=gameAnalist[i].returns.toFixed(2)%></td>
        <%}%>
      </tr>
    <%}%>
    
   
  </tbody>
</table>