<%- include("../header") %>
  <!--Container Main start-->
  <div class="dashboard-main-wraper">
  <section class="dashboard-welcome-section">
    <div class="container-fluid">
      <div class="new-head"> 
          <h3><%=title%></h3>
          <!-- <form action="">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Search or type  a URL" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <button class="btn-filter"><i class="fa-solid fa-filter"></i> Filter</button>
          </form> -->
      </div>
    <%- include("../loginUserAdminsideDetails") %>
  </section>

  <section>
    <div class="container-fluid">
        <div class="table-data-section">
            <div class="table-heading">
                <h3><%=title%></h3>
                <div class="table-heading-btn">
                  <button class="btn-filter" data-bs-toggle="modal" data-bs-target="#myModaladduser"><i class="fa-solid fa-plus"></i> Add New Notification</button>
                </div>
            </div>
            <div class="data-table">
              <%- include('./table') %>
            </div>
        </div>
    </div>
</section>
</div>

<div class="modal fade" id="myModaladduser" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
      </div>
      <div class="modal-header" style="text-align: center;">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title" style="color: #fff;">Add Notification</h4>
      </div>
      <div class="modal-body">
        <form class="form-data addNotification" id="addNotification">
          <div class="row">
            <div class="col">
              <label for="">Title</label>
              <input type="text" class="form-control ml0" placeholder="Title" name="title" required>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="">Message</label>
              <input type="text" class="form-control ml0" placeholder="Message" name="message" required>
            </div>
          </div>
            <button type="submit" class="btn-submit btn-green mt-3 btn-ju" >Save</button>
        </form>
      </div>
    </div>    
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>
<script type="text/javascript" src="../js/bundle.js"></script>


</body>
    </html>