<table>
  <thead>
      <tr>
        <th>S.No</th>
        <th>Match Date</th>
        <th>Sport</th>
        <th>Event</th>
        <th>Market </th>
        <th>Total Bets</th>
        <th>Action</th>                      
      </tr>
  </thead>
  <tbody class="new-body">
    <%if(bets.length != 0){%>
      <% for(let i = 0; i < bets.length; i++){%>
        <% let date = new Date(bets[i].eventDate)%>
      
        <tr>
        <td><%=i + 1%></td>
        <td class="date-time" ><%=date.getDate() + '-' +(date.getMonth() + 1) + '-' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes() +':' + date.getSeconds()%></td>
        <td><%=bets[i].betType%></td>
        <td><%=bets[i].event%></td>
        <%if(bets[i]._id.slice(-2).startsWith('OE') || bets[i]._id.slice(-2).startsWith('F2')){%>
          <td>Fancy - <%=bets[i].marketName%> </td>
        <%}else{%>
          <td><%=bets[i].marketName%> </td>
        <%}%>
        <td><%=bets[i].totalBets%> </td>

        
        <td class="btn-group" >
          <button data-bs-toggle="modal" data-bs-target="#myModal2" class="btn cancel-timelyVoide" id="<%=bets[i]._id%>"> Voide Bet</button>
        </td>
    </tr>
    <%}%>
    <%}else{%>
      <tr class="empty_table"><td>No record found</td></tr>
    <%}%>
    
   
  </tbody>
</table>




