<table>
  <thead>
      <tr>
        <th>S.No</th>
        <th>Date</th>
        <th>User Name</th>
        <th>Event</th>
        <th>Market </th>
        <th>Odds</th>
        <th>Bet On</th>
        <th>Stake</th>
        <th>Txn ID </th>
        <th>Status</th>
        <th>P/L</th>
        <th>Action</th>                      
      </tr>
  </thead>
  <tbody class="new-body">
    <%if(bets.length != 0){%>
      <% for(let i = 0; i < bets.length; i++){%>
        <% let date = new Date(bets[i].date)%>
        <%if(bets[i].bettype2 === 'BACK'){%>
            <tr class="back">
        <%}else{%>
            <tr class="lay">
        <%}%>
        <td><%=i + 1%></td>
        <td class="date-time" ><%=date.getDate() + '-' +(date.getMonth() + 1) + '-' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes() +':' + date.getSeconds()%></td>
        <td><%=bets[i].userName%></td>
        <%if(bets[i].match){%>
          <td class="text-nowrap" ><%=bets[i].match%></td>
          <td class="text-nowrap" ><%=bets[i].marketName%></td>
          <td><%=bets[i].oddValue%></td>
          <td class="text-nowrap" ><%=bets[i].selectionName%></td>
        <%}else{%>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        <%}%>
        <td><%=bets[i].Stake%></td>
        <td><%=bets[i].transactionId%></td>
        <td><%=bets[i].status%></td>
        <td><%=bets[i].returns%></td>
        <td class="btn-group" >
          <button data-bs-toggle="modal" data-bs-target="#myModal2" class="btn cancel-timelyVoide" id="<%=bets[i].id%>"> Voide Bet</button>
        </td>
    </tr>
    <%}%>
    <%}else{%>
      <tr class="empty_table"><td>No record found</td></tr>
    <%}%>
    
   
  </tbody>
</table>




