<%- include("../header") %>
  <!--Container Main start-->
  <div class=dashboard-main-wraper">

  <section class="dashboard-welcome-section">
    <div class="container-fluid">
      <div class="new-head"> 
          <h3>House Management</h1>
            <div class="rowId" data-rowid="1"></div>
          <!-- <form action="">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Search or type  a URL" aria-label="Username" aria-describedby="basic-addon1">
              
            </div>
            <button class="btn-filter"><i class="fa-solid fa-filter"></i>&nbsp;Filter</button>
          </form> -->
      </div>
    <%- include("../loginUserAdminsideDetails") %>
  </section>

  <section>
    <div class="container-fluid">
      <div class="table-data-section">
        <div class="table-heading">
          <h3><img src="../images/c-user.png" alt=""> House Management</h3>
          <div class="table-heading-btn">
            <button class="btn-filter" id="downloadBtn"><i class="fa-solid fa-download"></i> &nbsp; Excel</button>
            <button class="btn-filter" data-bs-toggle="modal" data-bs-target="#myModaladduser"><i class="fa-solid fa-plus"></i> &nbsp; Add House Funds</button>
            <button class="btn-green" style="cursor: text;">Amount  &nbsp; <%=currentUser.availableBalance%></button>
          </div>
        </div>
        <div class="data-table">
          <table id="table12">
            <thead>
                <tr>
                  <th>S.No</th>
                  <th>Date</th>
                  <th>Transcation Type</th>
                  <th>From</th>
                  <th><i class="fa-solid fa-arrow-right"></i></th>
                  <th>To</th>
                  <th>Credit / Debit </th>
                  <th>Balance</th>
                  <th>Description</th>
                </tr>
            </thead>
            <tbody class="new-body" id="tableBody">
              <%for(let i = 0; i < fundList.length; i++){ %>
                <%
                  var date = new Date(fundList[i].date);
                  var options = { 
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric',
                  hour: 'numeric',
                  minute: 'numeric',
                  hour12: true
                  };
                  var formattedTime = date.toLocaleString('en-US', options);
                  var formattedTimeWithoutComma = formattedTime.replace(",", "");
                %>
                <%if(i%2 == 0){ %>
                  <tr>
                <%}else{ %>
                  <tr>
                  <%}%>
                  <td><%= i+1 %></td>
                  <td class="date-time"><%=formattedTimeWithoutComma%></td>
                  <td>Deposit</td>
                  <td>Betbhai</td>
                  <td> <i class="fa-solid fa-arrow-right"></i> </td>
                  <td>Betbhai</td>
                  <td><%=fundList[i].amount%></td>
                  <td><%=fundList[i].closingBalance%></td>
                  <td><%=fundList[i].Remark%></td>
              <%} %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
        </section>
      </div>
        <div id="load-more" >
          <%if(fundList.length >= 10){ %>
            <button class="load-more">Load More</button>
            <%}%>
          </div>
<!-- seling section -->

<div class="modal fade" id="myModaladduser" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
      </div>
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">Add House Funds</h4>
      </div>
      <div class="modal-body">
        <form class="form-data HouseFund">
          <div class="row">
            <div class="col">
              <label for="">Amount</label>
              <input type="number" class="form-control ml0" required placeholder="" name="amount">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="">Remarks</label>
              <input type="text" class="form-control ml0" required name="Remark">
            </div>
          </div>
          <button type="submit" class="btn-submit mt-3">Add Funds &nbsp; <img src="../images/sub.png" alt=""></button>

        </form>
      </div>
    </div>
    
  </div>
</div>
  
  
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>
<script type="text/javascript" src="../js/bundle.js"></script>
<script type="text/javascript" src="../js/index.js"></script>


</body>
</html>