<%- include("../header") %>
<div class="dashboard-main-wraper">
  <section class="dashboard-welcome-section">
    <div class="new-head"> 
        <h3>Dashboard</h3>
    </div>
  <%- include("../loginUserAdminsideDetails") %>
</section>
<section class="dashboard-main-grid">
  <div class="grid-2">
    <div class="chart inner-box-grid"> <div id="chart"></div> </div>
    <div class="chart-right">
        <div class="grid-2 summary-user-man">
          
          <div class="inner-box-grid"> 
            <div class="hed-data">
                <h3 class="fix-h3"><svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.7 12.35L17.7 13.35L15.65 11.35L16.65 10.35C16.85 10.14 17.19 10.13 17.42 10.35L18.7 11.63C18.89 11.83 18.89 12.15 18.7 12.35ZM9 17.94V20H11.06L17.12 13.88L15.07 11.88L9 17.94ZM2 18H7V20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V4C0 2.9 0.9 2 2 2H3V0H5V2H13V0H15V2H16C16.5304 2 17.0391 2.21071 17.4142 2.58579C17.7893 2.96086 18 3.46957 18 4V8H2V18ZM2 4V6H16V4H2Z" fill="#6359CA"/>
                  </svg> Summary</h3>
                <%
                const currentDate = new Date();
                  const threeDaysAgo = new Date(currentDate);
                  threeDaysAgo.setDate(currentDate.getDate() - 2);
                  const formattedDate = new Intl.DateTimeFormat('en-US', { year: 'numeric', month: 'short', day: 'numeric' }).format(threeDaysAgo);
                %>
                <!-- <select name="Today" class="selected">
                  <option value="all" selected >Select Options</option>
                  <option value="today">Today</option>
                  <option value="yesterday">Yesterday</option>
                  <option value="<%=formattedDate%>"><%=formattedDate%></option>
                </select> -->
                <div class="wrapper-dropdown" id="dropdown">
                  <span class="selected-display" id="destination">All</span>
                  <svg class="arrow" id="drp-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="transition-all ml-auto rotate-180">
                    <path d="M7 14.5l5-5 5 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <ul class="dropdown" data-summary="all">
                    <li class="item" id="all">All</li>
                    <li class="item" id="today">Today</li>
                    <li class="item" id="yesterday">Yesterday</li>
                    <li class="item" id="<%=formattedDate%>" ><%=formattedDate%></li>
                    <!-- <li class="item">Option 4</li> -->
                  </ul>
                </div>
            </div>
            <table>
              <thead></thead>
              <tbody>
                <tr class="flex-justify blue">
                  <td>Active Players</td>
                  <td class="text-purple" id="userCount"><%=data.dashboard.userCount%></td>
                </tr>
                <tr class="flex-justify">
                  <td>Active Admins</td>
                    <td class="text-purple" id="adminCount"><%=data.dashboard.adminCount%></td>
                </tr>
                <%if(data.dashboard.turnOver[0]){%>
                <tr class="flex-justify blue">
                  <td>Turn Over</td>
                    <td class="text-purple" id="turnOver"><%=data.dashboard.turnOver[0].totalAmount%></td>
                    <td class="text-purple" id="turnOver">0</td>
                  </tr>
                  <tr class="flex-justify">
                    <td>Profit</td>
                    <td class="text-purple" id="Profit"><%=data.dashboard.turnOver[0].Income%></td>
                  </tr> 
                  <%}else{%>
                    <tr class="flex-justify blue">
                      <td>Turn Over</td>
                        <td class="text-purple" id="turnOver">0</td>
                      </tr>
                      <tr class="flex-justify">
                        <td>Profit</td>
                        <td class="text-purple" id="Profit">0</td>
                      </tr>
                  <%}%>
                  <tr class="flex-justify blue">
                    <td>Total Bets</td>
                      <td class="text-purple" id="betCount"><%=data.dashboard.betCount%></td>
                  </tr>
              </tbody>
            </table>
        </div>

          <div class="inner-box-grid user-managment">
            <div class="hed-data">
              <h3 class="fix-h3"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none">
                <path d="M18.7 12.35L17.7 13.35L15.65 11.35L16.65 10.35C16.85 10.14 17.19 10.13 17.42 10.35L18.7 11.63C18.89 11.83 18.89 12.15 18.7 12.35ZM9 17.94V20H11.06L17.12 13.88L15.07 11.88L9 17.94ZM2 18H7V20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V4C0 2.9 0.9 2 2 2H3V0H5V2H13V0H15V2H16C16.5304 2 17.0391 2.21071 17.4142 2.58579C17.7893 2.96086 18 3.46957 18 4V8H2V18ZM2 4V6H16V4H2Z" fill="#6359CA"/>
                </svg> User Management</h3>
              <a class="fix-h2" href="/admin/userManagement">View Details</a>
          </div>
          <table>
            <thead>
                <th>User Type</th>
                <th>Total</th>
            </thead>
            <tbody>
                <%for(let i=0; i < data.dashboard.roles.length;i++){%>
                  <%if((i % 2) == 0){%>
                    <tr class="flex-justify blue">
                        <td><%=data.dashboard.roles[i]._id%></td>
                        <td class="text-purple"><%=data.dashboard.roles[i].total%></td>
                    </tr>
                    <%}else{%>
                      <tr class="flex-justify">
                        <td><%=data.dashboard.roles[i]._id%></td>
                        <td class="text-purple"><%=data.dashboard.roles[i].total%></td>
                      </tr>
                    <%}%>
                <%}%>
            </tbody>
          </table>
          </div>
      
        </div>
        <div class="grid-1">
          <div class="inner-box-grid white-labels">
            <div class="hed-data">
              <h3 class="fix-h3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 0.5H2C0.9 0.5 0 1.4 0 2.5V16.5C0 17.6 0.9 18.5 2 18.5H18C19.1 18.5 20 17.6 20 16.5V2.5C20 1.4 19.1 0.5 18 0.5ZM7 14.5H4C3.45 14.5 3 14.05 3 13.5C3 12.95 3.45 12.5 4 12.5H7C7.55 12.5 8 12.95 8 13.5C8 14.05 7.55 14.5 7 14.5ZM7 10.5H4C3.45 10.5 3 10.05 3 9.5C3 8.95 3.45 8.5 4 8.5H7C7.55 8.5 8 8.95 8 9.5C8 10.05 7.55 10.5 7 10.5ZM7 6.5H4C3.45 6.5 3 6.05 3 5.5C3 4.95 3.45 4.5 4 4.5H7C7.55 4.5 8 4.95 8 5.5C8 6.05 7.55 6.5 7 6.5ZM16.7 8.62L13.53 11.79C13.14 12.18 12.5 12.18 12.11 11.79L10.7 10.37C10.6074 10.2774 10.534 10.1675 10.4839 10.0465C10.4338 9.92558 10.408 9.79593 10.408 9.665C10.408 9.53407 10.4338 9.40442 10.4839 9.28346C10.534 9.16249 10.6074 9.05258 10.7 8.96C10.7926 8.86742 10.9025 8.79398 11.0235 8.74387C11.1444 8.69377 11.2741 8.66798 11.405 8.66798C11.5359 8.66798 11.6656 8.69377 11.7865 8.74387C11.9075 8.79398 12.0174 8.86742 12.11 8.96L12.82 9.67L15.29 7.2C15.3825 7.1073 15.4924 7.03375 15.6134 6.98357C15.7344 6.93339 15.864 6.90756 15.995 6.90756C16.126 6.90756 16.2557 6.93339 16.3766 6.98357C16.4976 7.03375 16.6075 7.1073 16.7 7.2L16.71 7.21C17.09 7.6 17.09 8.24 16.7 8.62Z" fill="#6359CA"/>
                </svg> White Labels</h3>
            </div>
            <div class="full-data">
              <table>
                <thead>
                  <tr>
                    <th>Sr No.</th>
                    <th>Domain</th>
                    <%for(let i=0; i<data.dashboard.roles.length;i++){%>
                        <th><%=data.dashboard.roles[i]._id%></th>
                    <%}%>
                  </tr>
                </thead>
                <tbody>
                  <%for(let i=0; i<data.dashboard.users.length;i++){%>
                    <%if((i % 2) == 0){%>
                      <tr>
                          <td data-title="Sr No."><%=i + 1%></td>
                          <td data-title="Domain"><%=data.dashboard.users[i]._id%></td>
                          <%for(let j=0; j<data.dashboard.roles.length;j++){%>
                              <%let check = 0%>
                              <%for(let k=0; k<data.dashboard.users[i].terms.length;k++){%>
                                  <%if(data.dashboard.users[i].terms[k].roleType == data.dashboard.roles[j]._id){%>
                                      <td data-title="<%=data.dashboard.roles[j]._id%>" class="text-purple"><%=data.dashboard.users[i].terms[k].total%></td>
                                      <%check = 1%>
                                  <%}%>
                              <%}%>
                              <%if(check != 1){%>
                                  <td  data-title="<%=data.dashboard.roles[j]._id%>" class="text-purple">0</td>
                              <%}%>
                          <%}%>
                      </tr>
                    <%}else{%>
                      <tr  >
                        <td data-title="Sr No." > <%=i + 1%></td>
                        <td data-title="Domain" ><%=data.dashboard.users[i]._id%></td>
                        <%for(let j=0; j<data.dashboard.roles.length;j++){%>
                            <%let check = 0%>
                            <%for(let k=0; k<data.dashboard.users[i].terms.length;k++){%>
                                <%if(data.dashboard.users[i].terms[k].roleType == data.dashboard.roles[j]._id){%>
                                    <td data-title="<%=data.dashboard.roles[j]._id%>" class="text-purple"><%=data.dashboard.users[i].terms[k].total%></td>
                                    <%check = 1%>
                                <%}%>
                            <%}%>
                            <%if(check != 1){%>
                                <td data-title="<%=data.dashboard.roles[j]._id%>" class="text-purple">0</td>
                            <%}%>
                        <%}%>
                    </tr>
                    <%}%>
                  <%}%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
   
  </div>

</section>
<section class="dashboard-bottom-grid">
  <div class="grid-2">
    <div class="grid-col left">
      <div class="inner-box-grid top-player">
      <div class="hed-data">
        <h3 class="fix-h3"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
          <path d="M4.40005 4.4C4.40005 3.68392 4.68451 2.99716 5.19086 2.49081C5.69721 1.98446 6.38396 1.7 7.10005 1.7C7.81613 1.7 8.50289 1.98446 9.00924 2.49081C9.51559 2.99716 9.80005 3.68392 9.80005 4.4C9.80005 5.11608 9.51559 5.80284 9.00924 6.30919C8.50289 6.81554 7.81613 7.1 7.10005 7.1C6.38396 7.1 5.69721 6.81554 5.19086 6.30919C4.68451 5.80284 4.40005 5.11608 4.40005 4.4ZM7.10005 0.5C6.0657 0.5 5.07372 0.910892 4.34233 1.64228C3.61094 2.37368 3.20005 3.36566 3.20005 4.4C3.20005 5.43434 3.61094 6.42632 4.34233 7.15772C5.07372 7.88911 6.0657 8.3 7.10005 8.3C8.13439 8.3 9.12637 7.88911 9.85777 7.15772C10.5892 6.42632 11 5.43434 11 4.4C11 3.36566 10.5892 2.37368 9.85777 1.64228C9.12637 0.910892 8.13439 0.5 7.10005 0.5ZM0.800049 11.9C0.800049 11.2635 1.05291 10.653 1.50299 10.2029C1.95308 9.75286 2.56353 9.5 3.20005 9.5H11C11.418 9.49966 11.8287 9.60845 12.1916 9.8156C11.8592 10.0916 11.5544 10.3988 11.282 10.7336C11.1897 10.7113 11.095 10.7001 11 10.7H3.20005C2.88179 10.7 2.57656 10.8264 2.35152 11.0515C2.12648 11.2765 2.00005 11.5817 2.00005 11.9V11.9936L2.00845 12.0932C2.07347 12.6684 2.27867 13.2189 2.60605 13.6964C3.19045 14.5412 4.41565 15.5 7.10005 15.5C8.24485 15.5 9.12445 15.326 9.80245 15.0596C9.81205 15.4796 9.86125 15.8876 9.94645 16.2836C9.17245 16.544 8.23525 16.7 7.10005 16.7C4.08445 16.7 2.45965 15.596 1.61845 14.3792C1.17544 13.7339 0.899208 12.9889 0.814449 12.2108C0.807278 12.141 0.802475 12.0709 0.800049 12.0008V11.9ZM14.6 5.3C14.6 4.82261 14.7897 4.36477 15.1273 4.02721C15.4648 3.68964 15.9227 3.5 16.4 3.5C16.8774 3.5 17.3353 3.68964 17.6728 4.02721C18.0104 4.36477 18.2001 4.82261 18.2001 5.3C18.2001 5.77739 18.0104 6.23523 17.6728 6.57279C17.3353 6.91036 16.8774 7.1 16.4 7.1C15.9227 7.1 15.4648 6.91036 15.1273 6.57279C14.7897 6.23523 14.6 5.77739 14.6 5.3ZM16.4 2.3C15.6044 2.3 14.8413 2.61607 14.2787 3.17868C13.7161 3.74129 13.4 4.50435 13.4 5.3C13.4 6.09565 13.7161 6.85871 14.2787 7.42132C14.8413 7.98393 15.6044 8.3 16.4 8.3C17.1957 8.3 17.9588 7.98393 18.5214 7.42132C19.084 6.85871 19.4 6.09565 19.4 5.3C19.4 4.50435 19.084 3.74129 18.5214 3.17868C17.9588 2.61607 17.1957 2.3 16.4 2.3ZM21.8 14.9C21.8 16.3322 21.2311 17.7057 20.2184 18.7184C19.2057 19.7311 17.8322 20.3 16.4 20.3C14.9679 20.3 13.5944 19.7311 12.5817 18.7184C11.569 17.7057 11 16.3322 11 14.9C11 13.4678 11.569 12.0943 12.5817 11.0816C13.5944 10.0689 14.9679 9.5 16.4 9.5C17.8322 9.5 19.2057 10.0689 20.2184 11.0816C21.2311 12.0943 21.8 13.4678 21.8 14.9ZM17 12.5C17 12.3409 16.9368 12.1883 16.8243 12.0757C16.7118 11.9632 16.5592 11.9 16.4 11.9C16.2409 11.9 16.0883 11.9632 15.9758 12.0757C15.8633 12.1883 15.8 12.3409 15.8 12.5V14.3H14C13.8409 14.3 13.6883 14.3632 13.5758 14.4757C13.4633 14.5883 13.4 14.7409 13.4 14.9C13.4 15.0591 13.4633 15.2117 13.5758 15.3243C13.6883 15.4368 13.8409 15.5 14 15.5H15.8V17.3C15.8 17.4591 15.8633 17.6117 15.9758 17.7243C16.0883 17.8368 16.2409 17.9 16.4 17.9C16.5592 17.9 16.7118 17.8368 16.8243 17.7243C16.9368 17.6117 17 17.4591 17 17.3V15.5H18.8C18.9592 15.5 19.1118 15.4368 19.2243 15.3243C19.3368 15.2117 19.4 15.0591 19.4 14.9C19.4 14.7409 19.3368 14.5883 19.2243 14.4757C19.1118 14.3632 18.9592 14.3 18.8 14.3H17V12.5Z" fill="#6359CA"/>
          </svg> Top Player</h3>
    </div>
      <table>
        <thead>
            <tr>
              <th></th>
              <th>Player</th>
              <th>No.of Bets</th>
              <th>Points</th>
              
            </tr>
        </thead>
        <tbody id="topPlay_tbody">
          <%for(let i = 0; i < data.dashboard.topPlayers.length; i++){%>
            <%if((i%2)==0){%>
              <tr>
            <%}else{%>
              <tr>
            <%}%>
            <td data-title=""><%=i+1%></td>
            <td data-title="Player"><%=data.dashboard.topPlayers[i].userName%></td>
            <td data-title="No.of Bets"><%=data.dashboard.topPlayers[i].Bets%></td>
            <td data-title="Points"><%=data.dashboard.topPlayers[i].Bets%></td>
              </tr>
          <%}%>
          <%if(!data.dashboard.topPlayers.length > 0){%>
            <tr class="empty_table"><td>No record found</td></tr>
          <%}%>
        </tbody>
      </table>
</div>

<div class="inner-box-grid categories">
      <div class="hed-data">
        <h3 class="fix-h3"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="19" viewBox="0 0 22 19" fill="none">
          <path d="M4.07 2.00002L4.4075 2.66752L4.82 3.50002H8V7.25002H2V2.00002H4.07ZM4.535 0.500018H1.25C1.05109 0.500018 0.860322 0.579036 0.71967 0.719688C0.579018 0.860341 0.5 1.05111 0.5 1.25002V8.00002C0.5 8.19893 0.579018 8.3897 0.71967 8.53035C0.860322 8.671 1.05109 8.75002 1.25 8.75002H8.75C8.94891 8.75002 9.13968 8.671 9.28033 8.53035C9.42098 8.3897 9.5 8.19893 9.5 8.00002V2.75002C9.5 2.55111 9.42098 2.36034 9.28033 2.21969C9.13968 2.07904 8.94891 2.00002 8.75 2.00002H5.75L5.21 0.912518C5.1471 0.787692 5.05058 0.682926 4.93131 0.610039C4.81204 0.537152 4.67477 0.499045 4.535 0.500018ZM16.07 2.00002L16.4075 2.66752L16.82 3.50002H20V7.25002H14V2.00002H16.07ZM16.535 0.500018H13.25C13.0511 0.500018 12.8603 0.579036 12.7197 0.719688C12.579 0.860341 12.5 1.05111 12.5 1.25002V8.00002C12.5 8.19893 12.579 8.3897 12.7197 8.53035C12.8603 8.671 13.0511 8.75002 13.25 8.75002H20.75C20.9489 8.75002 21.1397 8.671 21.2803 8.53035C21.421 8.3897 21.5 8.19893 21.5 8.00002V2.75002C21.5 2.55111 21.421 2.36034 21.2803 2.21969C21.1397 2.07904 20.9489 2.00002 20.75 2.00002H17.75L17.21 0.912518C17.1471 0.787692 17.0506 0.682926 16.9313 0.610039C16.812 0.537152 16.6748 0.499045 16.535 0.500018ZM4.07 11.75L4.4075 12.4175L4.82 13.25H8V17H2V11.75H4.07ZM4.535 10.25H1.25C1.05109 10.25 0.860322 10.329 0.71967 10.4697C0.579018 10.6103 0.5 10.8011 0.5 11V17.75C0.5 17.9489 0.579018 18.1397 0.71967 18.2803C0.860322 18.421 1.05109 18.5 1.25 18.5H8.75C8.94891 18.5 9.13968 18.421 9.28033 18.2803C9.42098 18.1397 9.5 17.9489 9.5 17.75V12.5C9.5 12.3011 9.42098 12.1103 9.28033 11.9697C9.13968 11.829 8.94891 11.75 8.75 11.75H5.75L5.21 10.6625C5.1471 10.5377 5.05058 10.4329 4.93131 10.36C4.81204 10.2872 4.67477 10.249 4.535 10.25ZM16.07 11.75L16.4075 12.4175L16.82 13.25H20V17H14V11.75H16.07ZM16.535 10.25H13.25C13.0511 10.25 12.8603 10.329 12.7197 10.4697C12.579 10.6103 12.5 10.8011 12.5 11V17.75C12.5 17.9489 12.579 18.1397 12.7197 18.2803C12.8603 18.421 13.0511 18.5 13.25 18.5H20.75C20.9489 18.5 21.1397 18.421 21.2803 18.2803C21.421 18.1397 21.5 17.9489 21.5 17.75V12.5C21.5 12.3011 21.421 12.1103 21.2803 11.9697C21.1397 11.829 20.9489 11.75 20.75 11.75H17.75L17.21 10.6625C17.1471 10.5377 17.0506 10.4329 16.9313 10.36C16.812 10.2872 16.6748 10.249 16.535 10.25Z" fill="#6359CA"/>
          </svg> Categories</h3>
        
    </div>
      <table>
        <thead>
            <tr>
              <th></th>
              <th>Category</th>
              <th>No.of Matches</th>
              <th>No.of Bets</th>
              <th>Amount</th>
            </tr>
        </thead>
        <tbody id="categories_tbody">
          <%for(let i = 0; i < data.dashboard.Categories.length; i++){ %>
            <%if((i%2)==0){%>
              <tr>
            <%}else{%>
              <tr>
            <%}%>
            <td data-title=""><%=i + 1 %></td>
            <td data-title="Category"><%=data.dashboard.Categories[i]._id %></td>
            <td data-title="No.of Matches"><%=data.dashboard.Categories[i].uniqueEvent.length %></td>
            <td data-title="No.of Bets"><%=data.dashboard.Categories[i].totalBets %></td>
            <td data-title="Amount" class="text-purple"><%=data.dashboard.Categories[i].totalReturns %></td>
          </tr>
          <%} %>
          <%if(!data.dashboard.Categories.length > 0){%>
            <tr class="empty_table"><td>No record found</td></tr>
          <%}%>
        </tbody>
      </table>
</div>

<!-- <div class="spcare-table">
      <div class="hed-data">
        <h3 class="fix-h3"><img src="../images/tp.png" alt=""> &nbsp; Top Bets</h3>
        
    </div>
      <table>
        <thead>
            <tr style="text-align: center;">
              <th></th>
              <th>Name</th>
              <th>Event Type</th>
              <th>Event</th>
              <th>Market</th>
              <th>Odds</th>
              <th>Value</th>
              <th>Risk</th>
              
            </tr>
        </thead>
        <tbody>
          <tr style="text-align: center;">
            <td></td>
            <td>Sergio01</td>
            <td>Tennies</td>
            <td>Vivo</td>
            <td>01</td>
            <td>05</td>
            <td>100%</td>
            <td>10%</td>
          </tr>
          <tr style="text-align: center;" class="blue">
            <td></td>
            <td>Sergio01</td>
            <td>Tennies</td>
            <td>Vivo</td>
            <td>01</td>
            <td>05</td>
            <td>100%</td>
            <td>10%</td>
          </tr>
          <tr style="text-align: center;">
            <td></td>
            <td>Sergio01</td>
            <td>Tennies</td>
            <td>Vivo</td>
            <td>01</td>
            <td>05</td>
            <td>100%</td>
            <td>10%</td>
          </tr>
          <tr style="text-align: center;" class="blue">
            <td></td>
            <td>Sergio01</td>
            <td>Tennies</td>
            <td>Vivo</td>
            <td>01</td>
            <td>05</td>
            <td>100%</td>
            <td>10%</td>
          </tr>
          <tr style="text-align: center;">
            <td></td>
            <td>Sergio01</td>
            <td>Tennies</td>
            <td>Vivo</td>
            <td>01</td>
            <td>05</td>
            <td>100%</td>
            <td>10%</td>
          </tr>
          <tr style="text-align: center;" class="blue">
            <td></td>
            <td>Sergio01</td>
            <td>Tennies</td>
            <td>Vivo</td>
            <td>01</td>
            <td>05</td>
            <td>100%</td>
            <td>10%</td>
          </tr>
         
        </tbody>
      </table>
      </div> -->
      <div class="inner-box-grid alertbet">
        <div class="hed-data">
          <h3 class="fix-h3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="21" viewBox="0 0 16 21" fill="none">
            <path d="M7 13.5H9V11.5H11V9.5H9V7.5H7V9.5H5V11.5H7V13.5ZM0 17.5V15.5H2V8.5C2 7.11667 2.41667 5.88733 3.25 4.812C4.08333 3.73733 5.16667 3.03333 6.5 2.7V0.5H9.5V2.7C10.8333 3.03333 11.9167 3.73733 12.75 4.812C13.5833 5.88733 14 7.11667 14 8.5V15.5H16V17.5H0ZM8 20.5C7.45 20.5 6.97933 20.3043 6.588 19.913C6.196 19.521 6 19.05 6 18.5H10C10 19.05 9.80433 19.521 9.413 19.913C9.021 20.3043 8.55 20.5 8 20.5ZM4 15.5H12V8.5C12 7.4 11.6083 6.45833 10.825 5.675C10.0417 4.89167 9.1 4.5 8 4.5C6.9 4.5 5.95833 4.89167 5.175 5.675C4.39167 6.45833 4 7.4 4 8.5V15.5Z" fill="#6359CA"/>
            </svg> Alert Bets</h3>
          <a class="fix-h2" href="/admin/alertbet">View Details</a>
          
      </div>
        <table>
          <thead>
              <tr>
                <th></th>
                <th>Palyer</th>
                <th>Event</th>
                <th>Points</th>
  
                
              </tr>
          </thead>
          <tbody id="alertBets_tbody">
            <%for(let i = 0; i <  data.dashboard.alertBet.length; i++){%>
              <%if(i%2 == 0){ %>
                <tr class="blue">
              <%}else{%>
                <tr>
              <%} %>
              <td data-title=""><%= i+1 %></td>
              <td data-title="Palyer"><%= data.dashboard.alertBet[i].userName%></td>
              <td data-title="Event"><%= data.dashboard.alertBet[i].betType%></td>
              <td data-title="Points" class="text-purple"><%= data.dashboard.alertBet[i].Stake%></td>
            </tr>
              <%}%>
              <%if(!data.dashboard.alertBet.length > 0){%>
                <tr class="empty_table"><td>No record found</td></tr>
              <%}%>
          </tbody>
        </table>
  </div>
    </div>

<!--  -->
    <div class="grid-col right">
      <div class="inner-box-grid top-game">
      <div class="hed-data">
        <h3 class="fix-h3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18" fill="none">
          <path d="M17.2501 7.375H14.2501C14.0512 7.375 13.8604 7.29598 13.7198 7.15533C13.5791 7.01468 13.5001 6.82392 13.5001 6.625C13.5001 6.42609 13.5791 6.23533 13.7198 6.09467C13.8604 5.95402 14.0512 5.875 14.2501 5.875H17.2501C17.449 5.875 17.6398 5.95402 17.7804 6.09467C17.9211 6.23533 18.0001 6.42609 18.0001 6.625C18.0001 6.82392 17.9211 7.01468 17.7804 7.15533C17.6398 7.29598 17.449 7.375 17.2501 7.375ZM9.75012 5.875H9.00012V5.125C9.00012 4.92609 8.9211 4.73533 8.78045 4.59467C8.6398 4.45402 8.44903 4.375 8.25012 4.375C8.05121 4.375 7.86044 4.45402 7.71979 4.59467C7.57914 4.73533 7.50012 4.92609 7.50012 5.125V5.875H6.75012C6.55121 5.875 6.36044 5.95402 6.21979 6.09467C6.07914 6.23533 6.00012 6.42609 6.00012 6.625C6.00012 6.82392 6.07914 7.01468 6.21979 7.15533C6.36044 7.29598 6.55121 7.375 6.75012 7.375H7.50012V8.125C7.50012 8.32392 7.57914 8.51468 7.71979 8.65533C7.86044 8.79599 8.05121 8.875 8.25012 8.875C8.44903 8.875 8.6398 8.79599 8.78045 8.65533C8.9211 8.51468 9.00012 8.32392 9.00012 8.125V7.375H9.75012C9.94903 7.375 10.1398 7.29598 10.2804 7.15533C10.4211 7.01468 10.5001 6.82392 10.5001 6.625C10.5001 6.42609 10.4211 6.23533 10.2804 6.09467C10.1398 5.95402 9.94903 5.875 9.75012 5.875ZM20.4657 17.4438C20.2711 17.481 20.0733 17.4999 19.8751 17.5C18.9824 17.4997 18.1262 17.1458 17.4939 16.5156L17.447 16.4688L13.6407 12.2313L10.3689 12.25L6.55324 16.4688L6.51574 16.5156C5.87882 17.1446 5.02026 17.4981 4.12512 17.5C3.93 17.5003 3.73531 17.4815 3.54387 17.4438C3.10689 17.3679 2.68921 17.2065 2.31483 16.9687C1.94045 16.7309 1.61676 16.4215 1.36237 16.0582C1.10798 15.6949 0.927895 15.2849 0.832477 14.8518C0.737059 14.4187 0.728187 13.9709 0.80637 13.5344L2.33449 5.66875V5.65C2.56205 4.34632 3.24273 3.16489 4.25643 2.31413C5.27013 1.46338 6.55172 0.997966 7.87512 1L16.1251 0.971878C17.4424 0.972717 18.7175 1.43581 19.7283 2.28043C20.7391 3.12506 21.4215 4.29763 21.6564 5.59375C21.6657 5.60313 21.6657 5.60313 21.6657 5.6125L23.1939 13.525H23.2032C23.3587 14.4075 23.1578 15.3157 22.6447 16.0503C22.1315 16.785 21.3479 17.2861 20.4657 17.4438ZM16.1251 10.7219C17.2191 10.7219 18.2683 10.2873 19.0419 9.51369C19.8155 8.74011 20.2501 7.6909 20.2501 6.59688C20.2501 5.50286 19.8155 4.45365 19.0419 3.68006C18.2683 2.90648 17.2191 2.47188 16.1251 2.47188L7.87512 2.5C6.91018 2.49744 5.97501 2.83401 5.23302 3.45091C4.49103 4.06781 3.98939 4.92581 3.81574 5.875C3.8172 5.8912 3.81395 5.90748 3.80637 5.92188L2.27824 13.8063C2.21063 14.197 2.26864 14.5991 2.44396 14.9549C2.61927 15.3106 2.90285 15.6015 3.25393 15.7859C3.60502 15.9703 4.00553 16.0387 4.3979 15.9811C4.79026 15.9236 5.15428 15.7431 5.43762 15.4656L9.47824 10.9938C9.54952 10.9183 9.63518 10.8578 9.73017 10.816C9.82516 10.7741 9.92757 10.7517 10.0314 10.75L16.1251 10.7219ZM21.722 13.8063L20.9064 9.56875C20.4009 10.3811 19.6965 11.0511 18.8598 11.5154C18.0232 11.9796 17.0819 12.2228 16.1251 12.2219H15.647L18.5626 15.4656C18.846 15.7431 19.21 15.9236 19.6023 15.9811C19.9947 16.0387 20.3952 15.9703 20.7463 15.7859C21.0974 15.6015 21.381 15.3106 21.5563 14.9549C21.7316 14.5991 21.7896 14.197 21.722 13.8063Z" fill="#6359CA"/>
          </svg> Top Game</h3>
        
    </div>
      <table>
        <thead>
            <tr">
              <th></th>
              <th>Game</th>
              <th>No.of User </th>
              <th>No.of Bets</th>
              <th>Amount</th>
            </tr>
        </thead>
        <tbody id="topGames_tbody">
          <%for(let i = 0; i < data.dashboard.topGames.length; i++){%>
            <%if((i%2)==0){%>
              <tr>
            <%}else{%>
              <tr>
            <%}%>
              <td data-title=""><%=i + 1%></td>
              <td data-title="Game"><%=data.dashboard.topGames[i].event%></td>
              <td data-title="No.of User"><%=data.dashboard.topGames[i].noOfUniqueUsers%></td>
              <td data-title="No.of Bets"><%=data.dashboard.topGames[i].totalCount%></td>
              <td data-title="Amount" class="text-purple"><%=data.dashboard.topGames[i].totalReturns%></td>
            </tr>
          <%} %>
          <%if(!data.dashboard.topGames.length > 0){%>
            <tr class="empty_table"><td>No record found</td></tr>
          <%}%>
        </tbody>
      </table>
    </div>
    <div class="inner-box-grid settlements">
      <div class="hed-data">
        <h3 class="fix-h3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18 0.5H2C0.9 0.5 0 1.4 0 2.5V16.5C0 17.6 0.9 18.5 2 18.5H18C19.1 18.5 20 17.6 20 16.5V2.5C20 1.4 19.1 0.5 18 0.5ZM7 14.5H4C3.45 14.5 3 14.05 3 13.5C3 12.95 3.45 12.5 4 12.5H7C7.55 12.5 8 12.95 8 13.5C8 14.05 7.55 14.5 7 14.5ZM7 10.5H4C3.45 10.5 3 10.05 3 9.5C3 8.95 3.45 8.5 4 8.5H7C7.55 8.5 8 8.95 8 9.5C8 10.05 7.55 10.5 7 10.5ZM7 6.5H4C3.45 6.5 3 6.05 3 5.5C3 4.95 3.45 4.5 4 4.5H7C7.55 4.5 8 4.95 8 5.5C8 6.05 7.55 6.5 7 6.5ZM16.7 8.62L13.53 11.79C13.14 12.18 12.5 12.18 12.11 11.79L10.7 10.37C10.6074 10.2774 10.534 10.1675 10.4839 10.0465C10.4338 9.92558 10.408 9.79593 10.408 9.665C10.408 9.53407 10.4338 9.40442 10.4839 9.28346C10.534 9.16249 10.6074 9.05258 10.7 8.96C10.7926 8.86742 10.9025 8.79398 11.0235 8.74387C11.1444 8.69377 11.2741 8.66798 11.405 8.66798C11.5359 8.66798 11.6656 8.69377 11.7865 8.74387C11.9075 8.79398 12.0174 8.86742 12.11 8.96L12.82 9.67L15.29 7.2C15.3825 7.1073 15.4924 7.03375 15.6134 6.98357C15.7344 6.93339 15.864 6.90756 15.995 6.90756C16.126 6.90756 16.2557 6.93339 16.3766 6.98357C16.4976 7.03375 16.6075 7.1073 16.7 7.2L16.71 7.21C17.09 7.6 17.09 8.24 16.7 8.62Z" fill="#6359CA"/>
          </svg>Top Bets</h3>
        <a class="fix-h2" href="/admin/betmoniter">View Details</a>
        
    </div>
      <table>
        <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Event</th>
              <th>Market</th>
              <th>Odds</th>
              <th>Value</th>
              <th>Risk</th>
            </tr>
        </thead>
        <tbody id="toBets_tbody">
        <%for(let i = 0; i < data.dashboard.topBets.length; i++){%>
          <tr>
            <td data-title=""><%=i+1%></td>
            <td data-title="Name"><%=data.dashboard.topBets[i].userName%></td>
            <td data-title="Event"><%=data.dashboard.topBets[i].match%></td>
            <td data-title="Market"><%=data.dashboard.topBets[i].marketName%></td>
            <td data-title="Odds"><%=data.dashboard.topBets[i].oddValue%></td>
            <td data-title="Value"><%=data.dashboard.topBets[i].Stake%></td>
            <td data-title="Risk"><%=(data.dashboard.topBets[i].Stake * data.dashboard.topBets[i].oddValue).toFixed(2)%></td>
          </tr>
        <%}%>
        <%if(!data.dashboard.topBets.length > 0){%>
          <tr class="empty_table"><td>No record found</td></tr>
        <%}%>
      </tbody>
      </table>
      </div>


      <div class="inner-box-grid settlements">
        <div class="hed-data">
          <h3 class="fix-h3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M18 0.5H2C0.9 0.5 0 1.4 0 2.5V16.5C0 17.6 0.9 18.5 2 18.5H18C19.1 18.5 20 17.6 20 16.5V2.5C20 1.4 19.1 0.5 18 0.5ZM7 14.5H4C3.45 14.5 3 14.05 3 13.5C3 12.95 3.45 12.5 4 12.5H7C7.55 12.5 8 12.95 8 13.5C8 14.05 7.55 14.5 7 14.5ZM7 10.5H4C3.45 10.5 3 10.05 3 9.5C3 8.95 3.45 8.5 4 8.5H7C7.55 8.5 8 8.95 8 9.5C8 10.05 7.55 10.5 7 10.5ZM7 6.5H4C3.45 6.5 3 6.05 3 5.5C3 4.95 3.45 4.5 4 4.5H7C7.55 4.5 8 4.95 8 5.5C8 6.05 7.55 6.5 7 6.5ZM16.7 8.62L13.53 11.79C13.14 12.18 12.5 12.18 12.11 11.79L10.7 10.37C10.6074 10.2774 10.534 10.1675 10.4839 10.0465C10.4338 9.92558 10.408 9.79593 10.408 9.665C10.408 9.53407 10.4338 9.40442 10.4839 9.28346C10.534 9.16249 10.6074 9.05258 10.7 8.96C10.7926 8.86742 10.9025 8.79398 11.0235 8.74387C11.1444 8.69377 11.2741 8.66798 11.405 8.66798C11.5359 8.66798 11.6656 8.69377 11.7865 8.74387C11.9075 8.79398 12.0174 8.86742 12.11 8.96L12.82 9.67L15.29 7.2C15.3825 7.1073 15.4924 7.03375 15.6134 6.98357C15.7344 6.93339 15.864 6.90756 15.995 6.90756C16.126 6.90756 16.2557 6.93339 16.3766 6.98357C16.4976 7.03375 16.6075 7.1073 16.7 7.2L16.71 7.21C17.09 7.6 17.09 8.24 16.7 8.62Z" fill="#6359CA"/>
            </svg> Settlements</h3>
          <a class="fix-h2" href="/admin/settlement">View Details</a>
          
      </div>
        <table>
          <thead>
              <tr>
                <th></th>
                <th>Sport</th>
                <th>Series</th>
                <th>Event Name</th>
                <th>Open Bets</th>
                
              </tr>
          </thead>
          <tbody id="settlements_tbody">
          <%for(let i = 0; i < data.dashboard.settlement.length; i++){%>
            <%if((i%2)==0){%>
              <tr>
            <%}else{%>
              <tr>
            <%}%>
            <td data-title=""><%=i+1%></td>
            <td data-title="Sport"><%=data.dashboard.settlement[i].sport %></td>
            <td data-title="Series"><%=data.dashboard.settlement[i].series %></td>
            <td data-title="Event Name"><%=data.dashboard.settlement[i].matchName %></td>
            <td data-title="Open Bets"><%=data.dashboard.settlement[i].count %></td>
          </tr>
          <%} %>
          <%if(!data.dashboard.settlement.length > 0){%>
            <tr class="empty_table"><td>No record found</td></tr>
          <%}%>
        </tbody>
        </table>
        </div>
      
    </div>


  </div>
</section>
</div>
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>
<script src="../js/bundle.js"></script>
<script>
  const selectedAll = document.querySelectorAll(".wrapper-dropdown");

selectedAll.forEach((selected) => {
  const optionsContainer = selected.children[2];
  const optionsList = selected.querySelectorAll("div.wrapper-dropdown li");

  selected.addEventListener("click", () => {
    let arrow = selected.children[1];

    if (selected.classList.contains("active")) {
      handleDropdown(selected, arrow, false);
    } else {
      let currentActive = document.querySelector(".wrapper-dropdown.active");

      if (currentActive) {
        let anotherArrow = currentActive.children[1];
        handleDropdown(currentActive, anotherArrow, false);
      }

      handleDropdown(selected, arrow, true);
    }
  });

  // update the display of the dropdown
  for (let o of optionsList) {
    o.addEventListener("click", () => {
      selected.querySelector(".selected-display").innerHTML = o.innerHTML;
    });
  }
});

// check if anything else ofther than the dropdown is clicked
window.addEventListener("click", function (e) {
  if (e.target.closest(".wrapper-dropdown") === null) {
    closeAllDropdowns();
  }
});

// close all the dropdowns
function closeAllDropdowns() {
  const selectedAll = document.querySelectorAll(".wrapper-dropdown");
  selectedAll.forEach((selected) => {
    const optionsContainer = selected.children[2];
    let arrow = selected.children[1];

    handleDropdown(selected, arrow, false);
  });
}

// open all the dropdowns
function handleDropdown(dropdown, arrow, open) {
  if (open) {
    arrow.classList.add("rotated");
    dropdown.classList.add("active");
  } else {
    arrow.classList.remove("rotated");
    dropdown.classList.remove("active");
  }
}

</script>
  </body>
</html>