<%- include("../header") %>
<div class="dashboard-main-wraper">
    <section class="dashboard-welcome-section">
      <div class="container-fluid">
            <div class="new-head"> 
                <h3>Role Management</h3>
                <form action="">
                  <!-- <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                    <input type="text" placeholder="search user" id="searchUser" class="searchUser">
                    
                  </div> -->
                  <!-- <button ><i class="fa-solid fa-filter"></i>&nbsp;Filter</button> -->
                    <!-- <label for="role">Choose a Role</label> -->
                    
                    
                      <!-- <br><br> -->
                  <button class="logOut">logout</button>
                </form>
            </div>
          <%- include("../loginUserAdminsideDetails") %>
  </div>
  </section>
  <%- include("./table") %>
</div>

<div class="modal fade" id="myModal5" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
      </div>
      <div class="modal-header">
        <h4 class="modal-title">Update Role</h4>
      </div>
      <div class="modal-body updateRole">
        <form class="createRole-form UpdateRole-form" >
          <div class="input_group">
              <label for="roleName">Role Name</label>
              <input type="text" class="form-control ml0" id="mySelect" placeholder="" name="name" required>
          </div>
          <div class="option-group user_controller" id="user_controller">
            <h3>User Controller</h3>
            <%for(let i = 0; i < roleAuth.UserControll.length; i++){%>
              <div class="input_group">
                <label for=<%=roleAuth.UserControll[i]%>><%=roleAuth.UserControll[i]%></label>
                <input type="checkbox" name="userAuthorization" value="<%=roleAuth.UserControll[i]%>" id="<%=roleAuth.UserControll[i]%>" class="<%=i%>">
              </div>
              <%}%>
          </div>
          <div class="option-group role-auth">
            <h3>Role Auth</h3>
            <%for(let i = 0; i < roles.length; i++){%>
              <div class="input_group">
                <label for=<%=roles[i].roleName%>><%=roles[i].roleName%></label>
                <input type="checkbox" name="authorization" value="<%=roles[i].role_level%>" id="<%=roles[i].roleName%>">
              </div>
              <%}%>
          </div>
          <div class="input_group submit">
              <button type="submit" class="btn-submit">Save</button>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModaladduser" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
      </div>
      <div class="modal-header">
        <h4 class="modal-title">Add Role</h4>
      </div>
      <div class="modal-body">
        <form class="createRole-form createRole-form1 form-data">
          <div class="input_group row" >
            <div  class="col">
                <label for="roleName">Role Name</label>
                <input type="text" name="roleName" placeholder="Enter Role Name" id="roleName" class="form-control ml0" required>
            </div>
          </div>
          <br>
          <div class="option-group user_controller">
            <h3>User Controller</h3>
            <div class="input_group">
                <label for="createDeleteUser">Create Delete User</label>
                <input type="checkbox" name="authorization" value="createDeleteUser"  id="createDeleteUser" >
            </div>
            <div class="input_group">
                <label for="betLockAndUnloack">Bet Unlock</label>
                <input type="checkbox" name="authorization" value="betLockAndUnloack" id="betLockAndUnloack" >
            </div>
            <div class="input_group">
                <label for="userStatus">User Status</label>
                <input type="checkbox" name="authorization" value="userStatus" id="userStatus">
            </div>
            <div class="input_group">
                <label for="userName">User Name</label>
                <input type="checkbox" name="authorization" value="userName" id="userName">
            </div>
            <div class="input_group">
                <label for="roleController">Role Controller</label>
                <input type="checkbox" name="authorization" value="roleController" id="roleController">
            </div>
            <div class="input_group">
                <label for="allUserLogOut">All User Log Out</label>
                <input type="checkbox" name="authorization" value="allUserLogOut" id="allUserLogOut">
            </div>
            <div class="input_group">
                <label for="changeUserPassword">Change Password</label>
                <input type="checkbox" name="authorization" value="changeUserPassword" id="changeUserPassword">
            </div>
            <div class="input_group">
                <label for="userManagement">User Management</label>
                <input type="checkbox" name="authorization" value="userManagement" id="userManagement">
            </div>
            <div class="input_group">
                <label for="roleNameaccountControl">Account Controller</label>
                <input type="checkbox" name="authorization" value="accountControl" id="accountControl">
            </div>
            <div class="input_group">
                <label for="logOutUser">Log Out User</label>
                <input type="checkbox" name="authorization" value="logOutUser" id="logOutUser">
            </div>
          </div>
          <div class="option-group role-auth">
            <h3>Role Auth</h3>
            <%for(let i=0;i<roles.length;i++){%>
              <div class="input_group">
                  <label for=<%=roles[i].roleName%>><%=roles[i].roleName%></label>
                  <input type="checkbox" name="userAuthorization" value='<%=roles[i].role_level%>' 
                  id='<%=roles[i].roleName%>'>
              </div>
          <%}%>
          </div>
          <div class="input_group submit">
              <button type="submit" class="btn-submit">Save</button>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>

    <script type="text/javascript" src="../js/bundle.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>

</body>  
</html>