<section>
  <div class="container-fluid">
  <div class="table-data-section">
    <div class="table-heading">
    <h3 class="fix-h3"><img src="../images/role.png" alt=""> &nbsp;Role Management</h3>
    <div class="table-heading-btn">
    <!-- <button class="btn-filter"><i class="fa-solid fa-download"></i> &nbsp; Excel</button> -->
    <button class="btn-filter" data-bs-toggle="modal" data-bs-target="#myModaladduser"><i class="fa-solid fa-plus"></i> &nbsp; Add Role</button>
  </div>
</div>

<div class="data-table">
  <table>
    <thead>
        <tr>
          <th>S.No</th>
          <th>Role Id</th> 
          <th>Role Level</th>
          <th>Actions</th>
        </tr>
    </thead>
    <tbody class="new-body table-new-tr">
      <%for(let i = 0; i < roles.length; i++){%>
          <%if((i % 2) == 0){%>
              <tr class="blue">
                  <td><%=i + 1%></td>
                  <td class="getRoleForPopUP" data-bs-dismiss="<%=JSON.stringify(roles[i])%>"><%=roles[i].name%></td>
                  <td><%=roles[i].role_level%></td>
                  <td>
                    <div class="btn-group">
                      <button data-bs-toggle="modal" data-bs-target="#myModal5" class="RoleDetails"><i class="fa-solid fa-database"></i></button>
                      <!-- <button class="deleteRole">Delete</button> -->
                    </div>
                  </td>
              </tr>
          <%}else{%>
              <tr>
                  <td><%=i + 1%></td>
                  <td class="getRoleForPopUP" data-bs-dismiss="<%=JSON.stringify(roles[i])%>"><%=roles[i].name%></td>
                  <td><%=roles[i].role_level%></td>
                  <td>
                    <div class="btn-group">
                      <button data-bs-toggle="modal" data-bs-target="#myModal5" class="RoleDetails" title="Edit"><i class="fa-solid fa-database"></i></button>
                      <!-- <button class="deleteRole">Delete</button> -->
                    </div>
                  </td>
              </tr>
          <%}%>
      <%}%>
    </tbody>
  </table>
</div>

    </div>
  </div>
</section>