<%- include("../header") %>
  <!--Container Main start-->
<div class="dashboard-main-wraper">
  <section class="dashboard-welcome-section">
    <div class="container-fluid">
      <div class="new-head"> 
        <h3>Downline Commission Report</h3>
        <!-- <form action="">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
            <input type="text" id="searchUser" onkeyup="myFunction()" list=text_editors class="form-control searchUser" placeholder="search user" aria-label="Username" aria-describedby="basic-addon1" autocomplete="off">
            <div class="wrapper">
              <ul id="search" class="users">

              </ul>
              <ul id="button" class="button">

              </ul>
            </div>
          </div>
        </form> -->
      </div>
  </section>

  <div class="bredcum-container">
    <ul class="open">
      <%for(let i = 0; i < adminBredcumArray.length; i++){%>
        <%if(adminBredcumArray[i].role === "Admin"){%>
          <li> <a href="/admin/downlinecommissionReort">  <%=adminBredcumArray[i].userName%></a></li>

        <%}else if(adminBredcumArray[i].role === "Super-Duper-Admin"){%>
          <%if(adminBredcumArray[i].status){%>
            <li><a href="/admin/downlinecommissionReort">  <%=adminBredcumArray[i].userName%></a></li>
          <%}else{%>
            <li> <a href="/admin/downlinecommissionReort?id=<%=adminBredcumArray[i].id%>">  <%=adminBredcumArray[i].userName%></a></li>
          <%}%>

        <%}else if(adminBredcumArray[i].role === "Super-Admin"){%>
          <%if(adminBredcumArray[i].status){%>
            <li><a href="/admin/downlinecommissionReort">  <%=adminBredcumArray[i].userName%></a></li>
          <%}else{%>
            <li><a href="/admin/downlinecommissionReort?id=<%=adminBredcumArray[i].id%>">  <%=adminBredcumArray[i].userName%></a></li>
          <%}%>
        <%}else if(adminBredcumArray[i].role === "Duper-Admin"){%>
          <%if(adminBredcumArray[i].status){%>
            <li><a href="/admin/downlinecommissionReort">  <%=adminBredcumArray[i].userName%></a></li>
          <%}else{%>
            <li><a href="/admin/downlinecommissionReort?id=<%=adminBredcumArray[i].id%>">  <%=adminBredcumArray[i].userName%></a></li>
          <%}%>
        <%}else if(adminBredcumArray[i].role === "AGENT"){%>
            <%if(adminBredcumArray[i].status){%>
              <li class="afteraddnewbredcum"><a href="/admin/downlinecommissionReort">  <%=adminBredcumArray[i].userName%></a></li>
            <%}else{%>
              <li class="afteraddnewbredcum"><a href="/admin/downlinecommissionReort?id=<%=adminBredcumArray[i].id%>">  <%=adminBredcumArray[i].userName%></a></li>
            <%}%>
        <%}%>
      <%}%>
    </ul>
  </div>

  <section>
    <div class="container-fluid">
      <div class="table-data-section">
        <div class="table-heading">
          <div class="table-heading-btn">
            <form action="" class="betlist-heading-from">
              <div class="input-group">
                <label>From Date</label>
                <input type="date" style="border-radius: 10px;padding: 5px;border: 2px solid #EAEEF7;" id="fromDate"> 
              </div>
              <div class="input-group">
                <label>To Date</label>
                <input type="date" style="border-radius: 10px;padding: 5px;border: 2px solid #EAEEF7;" id="toDate"> 
              </div>
            </form>
          </div>
        </div>
        <div class="data-table">
          <table id="table12" class="commissionupdowntable">
            <thead>
              <tr>
                <th>User Name</th>
                <th>Commission</th>
                <th>Unclaimed Commission</th>
              </tr>
            </thead>
            <tbody class="new-body">
              <%if(sportdownlinecomm.length > 0){%>
              <%for(let i = 0;i<sportdownlinecomm.length;i++){%>
              <tr style="cursor:pointer" class="usernametr">
                  <td class="usernametd" data-username="<%=sportdownlinecomm[i].userid%>"><%=sportdownlinecomm[i]._id%></td>
                  <td><%=sportdownlinecomm[i].commissionClaim%></td>
                  <td><%=sportdownlinecomm[i].commissionUnclaim%></td>
                </tr>
                <%}%>
              </tr>
              <%}else{%>
                <tr class="empty_table"><td>No record found</td></tr>
              <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


</div>

<div class="modal commissiondownup_popup fade align-top-popup" id="myModaladduser" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
      </div>
      <div class="modal-header" >
        <h4 class="modal-title" ></h4>
      </div>
      <div class="modal-body">
       <table id="modaltable">
        <thead>
          <th>Bet Placed Date</th>
          <th>	User</th>
          <th>	Bet On</th>
          <th>	Odds</th>
          <th>	Amount</th>
          <th>	Profit/Loss</th>
          <th>Status</th>
        </thead>
        <tbody class="modal-tbody">

        </tbody>
       </table>
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>
<script type="text/javascript" src="../js/bundle.js"></script>


</body>
    </html> 