<%- include("../header") %>
  <div class="dashboard-main-wraper">
  <section class="dashboard-welcome-section">
    <div class="container-fluid">
      <div class="new-head"> 
        <h3>Promotion</h3>
        <form action="">
            
        </form>
    </div>
    </div>
    </section>

    <section>
      <div class="container-fluid">
          <div class="table-data-section">
              <div class="table-heading">
                  <div class="table-heading-btn">
                    <button class="btn-filter" data-bs-toggle="modal" data-bs-target="#myModaladduser"><i class="fa-solid fa-plus"></i> &nbsp; Add Position</button>
                  </div>
              </div>
              <div class="data-table">
                <table>
                    <thead>
                        <tr>
                          <th>S.No</th>
                          <th>Name</th>
                          <th>Link</th>
                          <th>click</th>
                          <th>Image</th>
                          <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="new-body">
                    <%for(let i = 0; i < data.length; i++){%>
                      <tr>
                        <td><%=i + 1%></td>
                        <td class="promotionData" ><%=data[i].position%></td>
                        <td  ><%=data[i].link%></td>
                        <td  ><%=data[i].click%></td>
                        <%if(data[i].video){%>
                          <td><video src="../img/<%=data[i].position%>.mp4" type="video/mp4" class="form__user-photo"></td>
                        <%}else{%>
                          <td><img src="../img/<%=data[i].position%>.png" alt="img" class="form__user-photo"></td>
                        <%}%>
                        <td>
                          <div class="btn-group">
                            <button data-bs-toggle="modal" data-bs-target="#myModal5" id="<%=data[i].id%>" class="btn promotionDetails"><i class="fa-solid fa-database"></i></button>
                            <!-- <button class="btn delete" id="<%=data[i].id%>"><i class="fa-solid fa-trash-can" ></i></button> -->
                          </div>  
                        </td>
                      </tr>
                    <%}%>
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
  </section>
  </div> 

  <div class="modal fade" id="myModal5" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-header">
                  <h4 class="modal-title">Promotion Details</h4>
                </div>
                <div class="modal-body">
                  <form class="form-data1" id="edit-form1">
                    <div class="row">
                      <div class="col">
                        <label for="name">Name</label>
                        <input type="text" readonly class="form-control ml0" id="name" name="name">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label for="link">Link</label>
                        <input type="url" class="form-control ml0" id="link" name="link">
                      </div>
                    </div>
                    <br>

                    <div class="row">
                      <label for="check">Status</label>
                      <div class="on-off-btn-section">
                        <span class="on-off">OFF &nbsp; <label class="switch">
                          <input type="checkbox" id="check" name="check">
                          <span class="slider round"></span>
                          </label>&nbsp; ON</span>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col" id="img">
                      </div>
                      <div class="col" >
                        <input type="file" name="file" id="file">
                      </div>
                    </div>
                    <button type="submit" class="btn-submit mt-3">Save</button>
                  </form>
                </div>
              </div>
            </div>
          </div>


          <div class="modal fade" id="myModaladduser" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-header">
                  <h4 class="modal-title">Add Position</h4>
                </div>
                <div class="modal-body">
                  <form class="form-data2" id="edit-form2">
                    <div class="row">
                      <div class="col">
                        <label for="name">Name</label>
                        <input type="text" class="form-control ml0" id="name1" name="name" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label for="url">URL</label>
                        <input type="url" class="form-control ml0" id="url1" name="url" required>
                      </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                      <div class="col" >
                        <input type="file" name="file" id="file1" required>
                      </div>
                    </div>
                    <button type="submit" class="btn-submit mt-3">Save</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"  
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
    <script type="text/javascript" src="../js/bundle.js"></script>    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"> -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>

    <!-- <script type="text/javascript">
    	AOS.init();
  	</script>
   <script>
    
    const currentUrl = window.location.href;
    const links = document.querySelectorAll('ul li a');
    links.forEach(link => {
      if (link.href === currentUrl) {
        link.classList.add('active');
      }
    });

    
    $("#testimonial-slider").owlCarousel({
      loop:true,
      autoplay:true,
      margin:10,
        nav:true,
        dots: true,
        speed: 1000,
			infinite: true,
			autoplaySpeed: 1000,
			autoplay: true,
			cssEase: 'cubic-bezier(0.600, -0.280, 0.735, 0.045)',
      
       responsive:{
          0:{
              items:1
          },
          600:{
              items:1,
        
          },
          1000:{
              items:2
          }
      }
   });	
  </script>
  <script>
    const video = document.getElementById('video');
    const playButton = document.getElementById('play-button');
    
    playButton.addEventListener('click', function() {
      video.play();
      playButton.style.display = 'none';
    });

    
  </script> -->

</body>
    </html>