<table>
  <thead>
      <tr>
        <th>S.No</th>
        <th>Date</th>
        <th>User Name</th>
        <th>Event</th>
        <th>Market </th>
        <th>Odds</th>
        <th>Match</th>
        <th>Bet On</th>
        <th>Stake</th>
        <th>Txn ID </th>
        <th>Status</th>
        <th>Remark</th>
        <th>Actions</th>                      
      </tr>
  </thead>
  <tbody class="new-body">
    <% for(let i = 0; i < bets.length; i++){%>
      <% let date = new Date(bets[i].date)%>
      <%if(bets[i].bettype2 === 'BACK'){%>
          <tr class="back">
      <%}else{%>
          <tr class="lay">
      <%}%>
      <td><%=i + 1%></td>
      <td class="text-nowrap" ><%=date.getDate() + '-' +(date.getMonth() + 1) + '-' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes() +':' + date.getSeconds()%></td>
      <td><%=bets[i].userName%></td>
      <td class="text-nowrap" ><%=bets[i].event%></td>
      <%if(bets[i].match){%>
        <td class="text-nowrap" ><%=bets[i].marketName%></td>
        <td><%=bets[i].oddValue%></td>
        <td class="text-nowrap" ><%=bets[i].match%></td>
        <td class="text-nowrap" ><%=bets[i].selectionName%></td>
      <%}else{%>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
      <%}%>
      <td><%=bets[i].Stake%></td>
      <td><%=bets[i].transactionId%></td>
      <td><%=bets[i].status%></td>
      <%if(bets[i].remark){%>
      <td><%=bets[i].remark%></td>
      <%}else{%>
        <td>-</td>
      <%}%>
      <td>
        <%if(bets[i].status == 'Alert'){%>
        <div class="btn-group">
          <button data-bs-toggle="modal" data-bs-target="#myModal2" class="btn cancel" id="<%=bets[i]._id%>">Cancle Bet</button>
          <button class="btn accept" id="<%=bets[i]._id%>">accept Bet</button>
        </div>
        <%}else{%>
          -
        <%}%>
      </td>
  </tr>
  <%}%>
    
   
  </tbody>
</table>