<table>
    <thead>
        <tr>
          <th>Transaction Date</th>
          <th>User Name</th>
          <th>Transaction Type</th>
          <th>Transaction Status </th>
          <th>Payment Method</th>
          <th>Amount</th>
          <th>UTR</th>
          <th>Approved Amount</th>
          <th>View Image </th>
          <th>Actions</th>                      
        </tr>
    </thead>
    <tbody class="new-body tbody">
      <% for(let i = 0; i < paymentreq.length; i++){%>
        <%
        let date = paymentreq[i].date
        %>
        <tr class="" data-trid="paymentreq[i]._id">
        <td><%=date.getDate() + '-' +(date.getMonth() + 1) + '-' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes() +':' + date.getSeconds()%></td>
        <td class="text-nowrap" ><%=paymentreq[i].username%></td>
        <td class="text-nowrap" >Deposit</td>
        <td class="text-nowrap"><%=paymentreq[i].status%></td>
        <td class="text-nowrap" ><%=paymentreq[i].pmethod%></td>
        <td class="text-nowrap" ><%=paymentreq[i].amount%></td>
        <td class="text-nowrap" ><%=paymentreq[i].utr%></td>
        <%if(paymentreq[i].approvedamount){%>
          <td class="text-nowrap" ><%=paymentreq[i].approvedamount%></td>
        <%}else{%>
          <td>-</td>
        <%}%>
       
        <td class="text-nowrap" ><img src="/paymentimg/<%=paymentreq[i].image%>.png" alt=""></td>
        <td>
          <div class="btn-group">
            <button data-bs-toggle="modal" data-bs-target="#myModal2" class="btn cancel" id="<%=paymentreq[i]._id%>">Approve</button>
            <button class="btn accept" id="<%=paymentreq[i]._id%>">Denie</button>
          </div>
        </td>
        </tr>
      <%}%>
      <%if(paymentreq.length == 0){%>
        <tr class="empty_table"><td>No record found</td></tr>
      <%}%>
    </tbody>
  </table>