<div class="card card-body my-exc-inn-colaps-txt-body">
  <div class="close-btn">×</div>
    <div class="nww-bet-slip-wrp">
      <div class="nww-bet-slip-wrp-col3">
        <div class="nww-bet-slip-wrp-col3-txt1">
          <%if(match ){%>
            <p class="name" id=""><%=match.eventData.name%></p>
          <%}else{%>
            <p class="name" id=""><%=result.eventData.name%></p>
            <%}%>
        </div>
      </div>
      <div class="nww-bet-slip-wrp-col3">
        <div class="nww-bet-slip-wrp-col3-txt1">
          <p class="beton">
            
          </p>
        </div>
      </div>
      <div class="nww-bet-slip-wrp-col1">
        <div class="nww-bet-slip-wrp-col1-txt selection-name">
          Melbourne Renegades @ 7.60
        </div>
        <div class="nww-bet-slip-wrp-col1-txt">
          <%if(match ){%>
            <span>Profit : <b class="c-gren" id="<%=match.eventData.sportId%>">00</b></span>
          <%}else{%>
            <span>Profit : <b class="c-gren" id="<%=result.eventData.sportId%>">00</b></span>
            <%} %>
        </div>

        <div class="nww-bet-slip-wrp-col1-txt odds-new-class betslip-odds">
         <strong>Odds</strong>
          <span class="nww-bet-slip-wrp-col1-txt-num blue-text" >1.75</span>
        </div>

        <div class="nww-bet-slip-wrp-col1-txt betslip-stake">
          <strong>Stake</strong>
          <div class="nww-bet-slip-wrp-col1-txt-inn input-group-sm">
            <span class="minus">-</span>
            <input type="text" class="form-control set-stake-form-input2" placeholder="00" aria-label="Last name" autofocus maxlength="2">
            <span class="plus">+</span>
          </div>
        </div>
      </div>

      <div class="nww-bet-slip-wrp-col2 betSlip-price-placebutton">
        <div class="nww-bet-slip-wrp-col2-inn">
          <!-- <%for(let i = 0; i < stakeLabledata.stakeArray.length; i++){%>
            <span id="<%=stakeLabledata.stakeArray[i].value%>">+<%=stakeLabledata.stakeArray[i].key%></span>
            <%}%> -->
            <span id="100">+100</span>
            <span id="500">+500</span>
            <span id="1000">+1000</span>
            <span id="10000">+10000</span>
            <span id="50000">+50000</span>
            <span id="100000">+100000</span>
            <span id="1000" class="MAX">MAX</span>
            <%if(user){%>
            <span id="<%=user.availableBalance%>" class="ALLIN">ALL IN</span>
            <%}%>
        </div>
        <div class="nww-bet-slip-wrp-col3-txt1">
          <%if(user){ %>
            <%if(match ){%>
              <a class="eventId" id="<%=match.eventData.eventId%>"> Place Bet </a>
            <%}else{ %>
              <a class="eventId" id="<%=result.eventData.eventId%>"> Place Bet </a>
              <%} %>
          <%}else{ %>
            <a class="liv-casino-games-cards-txt2-btn" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">LOGIN TO CONTINUE</a>
          <%}%>
        </div>

      </div>

      <div class="nww-bet-slip-wrp-col3">
        <div class="nww-bet-slip-wrp-col3-txt1 betslip-checkbox">
          <p>
            Please select a Stake Amount. Enter a custom amount by clicking on the custom box.
          </p>
            <div class="nww-bet-slip-wrp-col3-txt1  betslip-checkbox">
              <label for="checkbox">Accept any odds changes</label>
              <input type="checkbox" name="checkbox" id="changes">
            </div>
        </div>

        <!-- <div class="nww-bet-slip-wrp-col3-txt1">
          <%if(user){ %>
            <%if(match ){%>
              <a class="eventId" id="<%=match.eventData.eventId%>"> Place Bet </a>
            <%}else{ %>
              <a class="eventId" id="<%=result.eventData.eventId%>"> Place Bet </a>
              <%} %>
          <%}else{ %>
            <a class="liv-casino-games-cards-txt2-btn" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">LOGIN TO CONTINUE</a>
          <%}%>
        </div> -->

      </div>
      
    </div>
  </div>