<section class="footer-sec">
    <footer class="footer-sec-tg">
      <div class="footer-sec-contnr container-fluid">
        <div class="footer-sec-col-dv col-lg-11 col-md-11 col-12">

          <div class="footer-sec--logo-ro">
            <a href="/">
              <%if(basicDetails.length > 0){%>
                <img class="footer-logo" src="logo/<%=basicDetails[0].logo2%>.png" alt="logo">
              <%}else{%>
                <img class="footer-logo" src="logo/Royal77701.png" alt="logo">
              <%}%>
            </a>
          </div>

          <div class="footer-sec--p-ro">
            <div class="footer-sec--p-col col-lg-10 col-md-10 col-11">
              <p>
                <%let footerDetails = pages.find(item => item.Name === "footerDetails")%>
                <%=footerDetails.details%>
              </p>
            </div>
          </div>

          <div class="footer-sec--payment-ro">
            <div class="footer-sec--payment-ro-wrp">
              <h6>PAYMENT ACCEPTED BY :</h6>
              <div class="footer-sec--payment-img-ro">
                <a >
                  <img class="img-fluid" src="assets/img/home/footer-payment-img01.png" alt="payment image">
                </a>
                <a >
                  <img class="img-fluid" src="assets/img/home/footer-payment-img02.png" alt="payment image">
                </a>
                <a >
                  <img class="img-fluid" src="assets/img/home/footer-payment-img03.png" alt="payment image">
                </a>
                <a >
                  <img class="img-fluid" src="assets/img/home/footer-payment-img04.png" alt="payment image">
                </a>
                <a >
                  <img class="img-fluid" src="assets/img/home/footer-payment-img05.png" alt="payment image">
                </a>
              </div>
            </div>
          </div>

          <div class="footer-sec--contact-ro">
            <div class="footer-sec--contact-col">
              <h6 class="">CONTACT US</h6>
            </div>
            <div class="footer-sec--payment-img-ro">
              <a >
                <img class="img-fluid" src="assets/img/home/footer-payment-img01.png" alt="payment image">
              </a>
              <a >
                <img class="img-fluid" src="assets/img/home/footer-payment-img02.png" alt="payment image">
              </a>
              <a >
                <img class="img-fluid" src="assets/img/home/footer-payment-img03.png" alt="payment image">
              </a>
              <a >
                <img class="img-fluid" src="assets/img/home/footer-payment-img04.png" alt="payment image">
              </a>
              <a >
                <img class="img-fluid" src="assets/img/home/footer-payment-img05.png" alt="payment image">
              </a>
            </div>
            <div class="footer-sec--contact-col2">
              <%if(basicDetails.length > 0){%>
                <a >+91 <%=basicDetails[0].contactNumber%></a>  <span>|</span>  <a ><%=basicDetails[0].email%></a>
                <%}else{%>
                <a >+91 00000 00000</a>  <span>|</span>  <a >info@royal777.com</a>
              <%}%>
            </div>
          </div>

          <div class="footer-sec--options-ro">
            <ul class="footer-sec--options-ul">
              <%for(let i = 0; i < footerDetailsContentA.length; i++){
                if(i == footerDetailsContentA.length - 1){%>
                  <li><a href="<%=footerDetailsContentA[i].link%>"><%=footerDetailsContentA[i].name%></a></li>
                <%}else{%>
                  <li><a href="<%=footerDetailsContentA[i].link%>"><%=footerDetailsContentA[i].name%>  |</a></li>
                <%}%>
              <%}%>
              <!-- <li><a href="/">gambling responsibilities  |</a></li>
              <li><a href="/">Terms & Conditions  |</a></li>
              <li><a href="/">Privacy policy  |</a></li>
              <li><a href="/">fAQs</a></li> -->
            </ul>
          </div>

        </div>
      </div>
    </footer>
  </section>


  <div class="modal fade my-model-regestermodl" id="About_us" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content regestermodl-content">
        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <div class="modal-body regestermodl-body">
          <div class="gam-rul-pop-data-wrp">
            <div class="gam-rul-pop-data-wrp-titl">
              <h6>About us</h6>
            </div>
            <div class="gam-rul-pop-data-acc-sv">
              <div class="accordion accordion-flush gam-rul-pop-data-btnnh2-item" id="accordionFlushExample">
                
               

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer regestermodl-fotr">
          <button type="button" class="myloginmodl-fotr-closbtn" data-bs-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>