<!DOCTYPE html>
<html lang="en">
  <%if(loginData){%>
  <script>
    console.log('<%= loginData.Token %>', 13254)
    localStorage.setItem('JWTUSER', JSON.stringify('<%= loginData.Token %>'));
  </script>
    <%}else{%>
      <script>
        localStorage.setItem('JWTUSER', undefined);
      </script>

    <%}%>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%if(title){%>
      <title><%=title%></title>
      <%}else{%>
      <title>Royal 777</title>
    <%}%>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <meta property="og:title" content="Royal-777 For Enjoy Live Sports Score" />
    <meta
      property="og:description"
      content="Get the Royal-777 & Enjoy Live Sports Score, Sports News and Much More."
    />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <!-- FONTAWOSAM CSS  -->
    <!-- <script>
      if (!sessionStorage.tabIdentifier) {
        sessionStorage.tabIdentifier = Math.random().toString(36).substring(2) + '_' + Date.now();
        console.log('working')
        user = undefined
        console.log(user, "useruser")
      }
    </script> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- FONTAWOSAM CSS  -->

    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- GOOGLE FONTS  -->

    <!-- SLICK SLIDER CDN  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css"
    />
    <!-- SLICK SLIDER CDN  -->

    <!-- AOS ANOMATION CDN  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
      integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- AOS ANOMATION CDN  -->

    <!-- LOCAL CSS  -->
    <link rel="stylesheet" href="http://dev.ollscores.com/assets/css/style.css" />
    <link rel="stylesheet" href="http://dev.ollscores.com/assets/css/loggedin-page-style.css" />
    <link rel="stylesheet" href="http://dev.ollscores.com/assets/css/media.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/webSocket.js"></script>
    <!-- LOCAL CSS  -->
    <style>
      <%if(colorCode){%>
        :root {
          --color6: linear-gradient(135deg, <%= colorCode.color6_1 %> 0%, <%= colorCode.color6_2 %> 100%);
          --color1: linear-gradient(136deg, <%= colorCode.color1_1 %> 0%, <%= colorCode.color1_2 %> 100%);
          --color2: <%= colorCode.color2 %>;
          --color7: <%= colorCode.color7 %>;
          --color14: <%= colorCode.color14 %>;
          --color15: <%= colorCode.color15 %>;
          --color13: <%= colorCode.color13 %>;
          --color5: <%= colorCode.color5 %>;
          --color3: <%= colorCode.color3 %>;
        }
        <%}%>
    </style>

    <%if(check != "ACCC" && check != "My Bets" && check != "My game"){%>
    <style type="text/css">
      .popup .overlay { position:fixed; top:0px; left:0px; width:100vw; height:100vh; background:rgba(0,0,0,0.6); z-index:9999; display:none; }
      .popup .content { position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%) scale(0); font-family: 'Kanit', sans-serif; font-weight: 400; font-size: 20px; line-height: normal;color: #fff; background: green; width: 100%; max-width: 600px; height: initial; z-index: 99999; text-align: center; box-sizing: border-box; padding: 20px; }
      .popup .content p { padding: 0; margin: 0; }
      .popup .close-btn { cursor: pointer; position: absolute; right: -15px; top: -15px; width: 30px; height: 30px; background: #182ea6; color: #fff; font-size: 25px; font-weight: 600; line-height: 27px; text-align: center; border-radius: 50%; }
      .popup.active .overlay { display:block; }
      .popup.active .content { transition:all 300ms ease-in-out; transform:translate(-50%,-50%) scale(1); }

      .popup.Error .content { background: red; }      
    </style>
    <%} %>
  </head>
  <noscript>
    <style type="text/css">
        .BODY *:not(.noscriptmsg) {display:none;}
    </style>
    <div class="noscriptmsg">
    You don't have javascript enabled.  Good luck with that.
    </div>
  </noscript>
  <%if(loginData){%>
    <body class="BODY">
      <%}else{%>
    <body class="BODY">
  <%}%>
 
  <div class="main-loader"><div class="loader"></div></div>
    <%if(check != "ACCC" && check != "My Bets" && check != "My game"){%>
    <div class="popup" id="popup-1">
      <div class="overlay"></div>
      <div class="content">
        <div class="close-btn">&times;</div>
        <p id="redPopUP">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aspernatur laborum rem sed laudantium excepturi veritatis voluptatum architecto, dolore quaerat totam officiis nisi animi accusantium alias inventore nulla atque debitis.</p>
      </div>
    </div>

    <div class="popup Error" id="popup-2">
      <div class="overlay"></div>
      <div class="content">
        <div class="close-btn">&times;</div>
        <p id="redPopUP2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aspernatur laborum rem sed laudantium excepturi veritatis voluptatum architecto, dolore quaerat totam officiis nisi animi accusantium alias inventore nulla atque debitis.</p>
      </div>
    </div>
    <%} %>
    
    <main class="main-tg-dv">
      <!-- ----= NAVBAR SECTION START =-----   -->
      
      <%if(user){%>
        <div class="site-header" >
          <div class="navbar-wrp">
            <nav class="navbar navbar-expand-lg my-nav-bg">
              <div class="container-fluid my-nav-contnr">
                <div class="mob-sidevar-mnu-btn-dv">
                  <span class="fa-solid fa-bars mob-offcanvas-mnu" id="offsetmenubtnn"></span>
                  
                </div>
                <div class="logo-col-dv">
                  <a class="navbar-brand my-navbrand" href="/">
                    
                    <%if(basicDetails.length > 0){%>
                      <img
                        class="my-nav-logo"
                        src="../../logo/<%=basicDetails[0].logo1%>.png"
                        alt="logo"
                      />
                    <%}else{%>
                      <img
                        class="my-nav-logo"
                        src="../../logo/Royal777.png"
                        alt="logo"
                      />
                    <%}%>
                  </a>
                </div>
                <!-- <button
                  class="navbar-toggler my-nav-togl-btnn"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="fa-solid fa-bars"></span>
                </button> -->
    
                <div class="mbl-login-reg-btnn-dv">
                  <div class="nav-login-regstr-btn-dv dropup-center">
                    <div class="my-bets-btn"><a href="/mybets" class="btn">My Bets</a></div>
                    <div class="bet-blns-nav-wrp userBalance">
                      <div class="bet-blns-nav-wrp-amount-num">
                        
                        <span class="">
                          <i class="fa-solid fa-wallet"></i>
                          Bal : <%=user.availableBalance%> <span> &nbsp;</span></span>
                      </div>
                    </div>
                    <!-- <div class="nav-login-regstr-btn-anim">
                      <span id="setingnavbtnn" class="nav-login-regstr-btn">
                        <i class="fa-solid fa-magnifying-glass SEarCh"></i>
                      </span>
                      <div class="search-sv-nav-seting-wrp" id="setingnavbtnntxt">
                        <div class="search-sv-nav-seting-inn">
                          <div class="search-sv-nav-seting-inn-col1">
                            <div class="input-group flex-nowrap input-group-sm my-setting-nav-form">
                              <input type="text" id="search_field1" class="form-control" placeholder="Search Anything" aria-label="Username" aria-describedby="addon-wrapping">
                              <span class="input-group-text" id="addon-wrapping">
                                <i class="fa-solid fa-magnifying-glass SEarCh"></i>
                              </span>
                            </div>
                          </div>
                          <ul id="demonames1">
                          </ul>
                        </div>
                      </div>
                    </div> -->
                    <div class="dropdown dropup-center">
                        <button class="btn my-nav-profiel-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="nav-profile-img" src="../../assets/img/exchange/user.png" alt="">
                            <div class="btn-header-username"><%=user.userName%></div>
                            <svg class="MuiSvgIcon__root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></svg>
                           
                        </button>
    
                            <div class="dropdown-menu profile-contnt-wrper dropdown-menu-end">
                                <div class="profile-contnt-wrper-ro">
                                    <!-- <div class="profile-contnt-amount-dv">
                                        <span class="profile-contnt-amount">Bal : <span> 10,000.00</span></span>
                                        <span class="profile-contnt-amount">Exp : <span> - 500.00</span></span>
                                    </div> -->
                                    <div class="profile-contnt-mnu-option-dv">
                                      <ul>
                                        <li class="profile-bord-botm">
                                          <a href="" title="" data-bs-toggle="modal" data-bs-target="#navmod1"> Change Password</a>
                                        </li>
                                        <%if(check === "userP"){%>
                                          <li class="profile-bord-botm"><a class="c-activee" href="/profile" title=""> User Profile</a></li>
                                        <%}else{%>
                                          <li class="profile-bord-botm"><a  href="/profile" title=""> User Profile</a></li>
                                        <%}%>
                                        <%if(check === "ACCC"){%>
                                          <li class="profile-bord-botm"><a class="c-activee" href="/myAccountStatment" title=""> Account Statement</a></li>
                                        <%}else{%>
                                          <li class="profile-bord-botm"><a  href="/myAccountStatment" title=""> Account Statement</a></li>
                                        <%}%>
                                        <%if(check === "Kyc"){%>
                                          <li class="profile-bord-botm"><a class="c-activee" href="/Kyc" title=""> Kyc</a></li>
                                        <%}else{%>
                                          <li class="profile-bord-botm"><a  href="/Kyc" title=""> Kyc</a></li>
                                        <%}%>
                                        <%if(check === "plStatemenet"){%>
                                          <li class="profile-bord-botm"><a class="c-activee" href="/MyPlStatement" title=""> P/L Statement</a></li>
                                          <%}else{%>
                                          <li class="profile-bord-botm"><a href="/MyPlStatement" title=""> P/L Statement</a></li>
                                        <%}%>
                                        <%if(check === "My Bets"){%>
                                          <li class="profile-bord-botm"><a class="c-activee" href="/mybets" title=""> My Bets</a></li>
                                          <%}else{%>
                                          <li class="profile-bord-botm"><a href="/mybets" title=""> My Bets</a></li>
                                        <%}%>
                                        <%if(user.roleName !== 'DemoLogin'){%>
                                        <%if(check === "Comm"){%>
                                          <li class="profile-bord-botm"><a class="c-activee" href="/myCommissionReports" title="">Commission Report</a></li>
                                          <%}else{%>
                                          <li class="profile-bord-botm"><a href="/myCommissionReports" title="">Commission Report</a></li>
                                        <%}%>
                                        <%}%>
                                        <%if(check === "My game"){%>
                                          <li class="profile-bord-botm"><a class="c-activee" href="/myGameReport" title=""> Game Report</a></li>
                                          <%}else{%>
                                          <li class="profile-bord-botm"><a href="/myGameReport" title=""> Game Report</a></li>
                                        <%}%>
                                        <%if(B2C_Status){%>
                                        <li class="profile-bord-botm">
                                          <a href="" title="" data-bs-toggle="modal" class="paymentDepositeMenu" data-bs-target="#navmod3"> Deposit</a>
                                        </li>
                                        <li class="profile-bord-botm">
                                          <a href="" title="" data-bs-toggle="modal" class="WithrowReqMenu" data-bs-target="#navmod4"> withdraw</a>
                                        </li>
                                        <%}%>
                                        <li class=""><a href="#" title="" data-bs-toggle="modal" data-bs-target="#navmod2"> Set Button Stake</a></li>
                                    </ul>
                                    <a class="logOutUser profile-contnt-mnu-option-logout-btn">logOut</a>
                                    </div>
                                </div>
                            </div>
                      </div>
                  </div>
    
                </div>
                
                <div
                  class="collapse navbar-collapse my-nav-ul-dv"
                  id="navbarSupportedContent"
                >
                <ul class="navbar-nav m-auto mb-2 mb-lg-0 my-nav-ul">
                  <%for(let i = 0; i < verticalMenus.length; i++){%>
                    <%if(verticalMenus[i].status){%>
                      <%if(verticalMenus[i].menuName == "In-Play"){%>
                      <li class="nav-item my-nav-ul-li">
                        <a class="nav-link my-nav-ul-li-a blink-nav-mnu" href="<%=verticalMenus[i].url%>"><%=verticalMenus[i].menuName%> </a>
                      </li>
                      <%}else if(check == verticalMenus[i].menuName){%>
                        <li class="nav-item my-nav-ul-li">
                          <a class="nav-link my-nav-ul-li-a active-mnu-nav" href="<%=verticalMenus[i].url%>"><%=verticalMenus[i].menuName%> </a>
                        </li>
                      <%} else{%>
                        <li class="nav-item my-nav-ul-li">
                          <a class="nav-link my-nav-ul-li-a" href="<%=verticalMenus[i].url%>"><%=verticalMenus[i].menuName%> </a>
                        </li>
                      <%}%>
                    <%}%>
                  <%}%>
                </ul>
    
                  <div class="nav-login-regstr-btn-dv dropup-center">
                    <div class="my-bets-btn"><a href="/mybets" class="btn">My Bets</a></div>
                    <div class="bet-blns-nav-wrp userBalance">
                      
                      <div class="bet-blns-nav-wrp-amount-num">
                        <span class=""><i class="fa-solid fa-wallet"></i> Bal : <%=user.availableBalance%> <span> &nbsp; </span></span>
                      </div>
                    </div>
                    <!-- <div class="nav-login-regstr-btn-anim">
                      <span id="setingnavbtnn2" class="nav-login-regstr-btn">
                        <i class="fa-solid fa-magnifying-glass SEarCh"></i>
                      </span>
                      <div class="search-sv-nav-seting-wrp" id="setingnavbtnntxt2">
                        <div class="search-sv-nav-seting-inn">
                          <div class="search-sv-nav-seting-inn-col1">
                            <div class="input-group flex-nowrap input-group-sm my-setting-nav-form">
                              <input type="text" id="search_field" class="form-control" placeholder="Search Anything" aria-label="Username" aria-describedby="addon-wrapping">
                              <span class="input-group-text" id="addon-wrapping">
                                <i class="fa-solid fa-magnifying-glass SEarCh"></i>
                              </span>
                            </div>
                          </div>
                          <ul id="demonames">
                          </ul>
                        </div>
                      </div>
                    </div> -->
                    <div class="dropdown  dropup-center">
                        <button class="btn my-nav-profiel-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="nav-profile-img" src="../../assets/img/exchange/user.png" alt="">
                            <div class="btn-header-username"><%=user.userName%></div>
                            <svg class="MuiSvgIcon__root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></svg>
                           
                        </button>
    
                            <div class="dropdown-menu profile-contnt-wrper dropdown-menu-end">
                                <div class="profile-contnt-wrper-ro">
                                    <!-- <div class="profile-contnt-amount-dv">
                                        <span class="profile-contnt-amount">Bal : <span> 10,000.00</span></span>
                                        <span class="profile-contnt-amount">Exp : <span> - 500.00</span></span>
                                    </div> -->
                                    <div class="profile-contnt-mnu-option-dv">
                                      <ul>
                                        <li class="profile-bord-botm">
                                          <a href="" title="" data-bs-toggle="modal" data-bs-target="#navmod1"> Change Password</a>
                                        </li>
                                        <%if(check === "userP"){%>
                                          <li class="profile-bord-botm"><a class="c-activee" href="/profile" title=""> User Profile</a></li>
                                        <%}else{%>
                                          <li class="profile-bord-botm"><a  href="/profile" title=""> User Profile</a></li>
                                        <%}%>
                                        <%if(check === "ACCC"){%>
                                          <li class="profile-bord-botm"><a class="c-activee" href="/myAccountStatment" title=""> Account Statement</a></li>
                                        <%}else{%>
                                          <li class="profile-bord-botm"><a  href="/myAccountStatment" title=""> Account Statement</a></li>
                                        <%}%>
                                        <%if(check === "Kyc"){%>
                                          <li class="profile-bord-botm"><a class="c-activee" href="/Kyc" title=""> Kyc</a></li>
                                        <%}else{%>
                                          <li class="profile-bord-botm"><a  href="/Kyc" title=""> Kyc</a></li>
                                        <%}%>
                                        <%if(check === "plStatemenet"){%>
                                          <li class="profile-bord-botm"><a class="c-activee" href="/MyPlStatement" title=""> P/L Statement</a></li>
                                          <%}else{%>
                                          <li class="profile-bord-botm"><a href="/MyPlStatement" title=""> P/L Statement</a></li>
                                        <%}%>
                                        <%if(check === "My Bets"){%>
                                          <li class="profile-bord-botm"><a class="c-activee" href="/mybets" title=""> My Bets</a></li>
                                          <%}else{%>
                                          <li class="profile-bord-botm"><a href="/mybets" title=""> My Bets</a></li>
                                        <%}%>
                                        <%if(user.roleName !== 'DemoLogin'){%>
                                        <%if(check === "Comm"){%>
                                          <li class="profile-bord-botm"><a class="c-activee" href="/myCommissionReports" title="">Commission Report</a></li>
                                          <%}else{%>
                                          <li class="profile-bord-botm"><a href="/myCommissionReports" title="">Commission Report</a></li>
                                        <%}%>
                                        <%}%>
                                        <%if(check === "My game"){%>
                                          <li class="profile-bord-botm"><a class="c-activee" href="/myGameReport" title=""> Game Report</a></li>
                                          <%}else{%>
                                          <li class="profile-bord-botm"><a href="/myGameReport" title=""> Game Report</a></li>
                                        <%}%>
                                        <%if(B2C_Status){%>
                                        <li class="profile-bord-botm">
                                          <a href="" title="" data-bs-toggle="modal" class="paymentDepositeMenu" data-bs-target="#navmod3"> Deposit</a>
                                        </li>
                                        <li class="profile-bord-botm">
                                          <a href="" title="" data-bs-toggle="modal" class="WithrowReqMenu" data-bs-target="#navmod4"> withdraw</a>
                                        </li>
                                        <%}%>
                                        <li class=""><a href="#" title="" data-bs-toggle="modal" data-bs-target="#navmod2"> Set Button Stake</a></li>
                                    </ul>
                                    <a class="logOutUser profile-contnt-mnu-option-logout-btn">logOut</a>
                                    </div>
                                </div>
                            </div>
                      </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="exchange-pg-inn-tbl-marqq-dv2 natification-bar">
            <div class="exchange-pg-inn-tbl-marqq-dv-wrp2">
              <button data-bs-toggle="modal" data-bs-target="#latest-notifiction-popup"><i class="fa-solid fa-bell"></i>Latest</button>
                <marquee>
                  <%for(let i = 0; i < notifications.length; i++){%>
                    <%if(notifications[i].status){%>
                    &nbsp; &nbsp;
                    <%=notifications[i].message%> 
                    &nbsp; &nbsp;
                    <%}%>
                    <%}%>
                </marquee>
            </div>
          </div>
        </div>
      <%}else{%>
        <div class="site-header" >
          <div class="navbar-wrp">
            <nav class="navbar navbar-expand-lg my-nav-bg">
              <div class="container-fluid my-nav-contnr">
                <div class="mob-sidevar-mnu-btn-dv">
                  <span class="fa-solid fa-bars mob-offcanvas-mnu" id="offsetmenubtnn"></span>
                  
                </div>
                <div class="logo-col-dv">
                  <a class="navbar-brand my-navbrand" href="/">
                    <%if(basicDetails.length > 0){%>
                      <img
                        class="my-nav-logo"
                        src="../../logo/<%=basicDetails[0].logo1%>.png"
                        alt="logo"
                      />
                    <%}else{%>
                      <img
                        class="my-nav-logo"
                        src="../../logo/Royal777.png"
                        alt="logo"
                      />
                    <%}%>
                  </a>
                </div>
                <!-- <button
                  class="navbar-toggler my-nav-togl-btnn"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="fa-solid fa-bars"></span>
                </button> -->
    
                <div class="mbl-login-reg-btnn-dv">
                  <button class="mbl-login-reg-btnn-dv-a" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">SIGN IN / REGISTER</button>
                </div>
                
                <div
                  class="collapse navbar-collapse my-nav-ul-dv"
                  id="navbarSupportedContent"
                >
                  <ul class="navbar-nav m-auto mb-2 mb-lg-0 my-nav-ul">
                    <%for(let i = 0; i < verticalMenus.length; i++){%>
                      <%if(verticalMenus[i].status){%>
                        <%if(verticalMenus[i].menuName == "In-Play"){%>
                        <li class="nav-item my-nav-ul-li">
                          <a class="nav-link my-nav-ul-li-a blink-nav-mnu" href="<%=verticalMenus[i].url%>"><%=verticalMenus[i].menuName%> </a>
                        </li>
                        <%}else if(verticalMenus[i].menuName == "Sportsbook"){%>
                          <li class="nav-item my-nav-ul-li">
                            <a class="nav-link my-nav-ul-li-a " data-bs-toggle="modal" data-bs-target="#exampleModalToggle"><%=verticalMenus[i].menuName%> </a>
                          </li>
                        
                        <%}else if(check == verticalMenus[i].menuName){%>
                          <li class="nav-item my-nav-ul-li">
                            <a class="nav-link my-nav-ul-li-a active-mnu-nav" href="<%=verticalMenus[i].url%>"><%=verticalMenus[i].menuName%> </a>
                          </li>
                        <%} else{%>
                          <li class="nav-item my-nav-ul-li">
                            <a class="nav-link my-nav-ul-li-a" href="<%=verticalMenus[i].url%>"><%=verticalMenus[i].menuName%> </a>
                          </li>
                        <%}%>
                      <%}%>
                    <%}%>
                  </ul>
    
                  <div class="nav-login-regstr-btn-dv d-flex-gap">
                    <a class="nav-login-regstr-btn" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" href="#">SIGN IN </a>
                    <!-- <div class="nav-login-regstr-btn-anim">
                      <span id="setingnavbtnn2" class="nav-login-regstr-btn">
                        <i class="fa-solid fa-magnifying-glass SEarCh"></i>
                      </span>
                      <div class="search-sv-nav-seting-wrp" id="setingnavbtnntxt2">
                        <div class="search-sv-nav-seting-inn">
                          <div class="search-sv-nav-seting-inn-col1">
                            <div class="input-group flex-nowrap input-group-sm my-setting-nav-form">
                              <input type="text" id="search_field" class="form-control" placeholder="Search Anything" aria-label="Username" aria-describedby="addon-wrapping">
                              <span class="input-group-text" id="addon-wrapping">
                                <i class="fa-solid fa-magnifying-glass SEarCh"></i>
                              </span>
                            </div>
                          </div>
                          <ul id="demonames">
                            
                          </ul>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="exchange-pg-inn-tbl-marqq-dv2 natification-bar">
            <div class="exchange-pg-inn-tbl-marqq-dv-wrp2">
              <button data-bs-toggle="modal" data-bs-target="#latest-notifiction-popup"><i class="fa-solid fa-bell"></i>Latest</button>
                <marquee>
                  <%for(let i = 0; i < notifications.length; i++){%>
                    <%if(notifications[i].status){%>
                    &nbsp; &nbsp;
                    <%=notifications[i].message%> 
                    &nbsp; &nbsp;
                    <%}%>
                    <%}%>
                </marquee>
            </div>
          </div>
        </div>
        <!-- ----= NAVBAR SECTION END =-----   -->
      <%}%>


      


      <div id="latest-notifiction-popup"  class="modal fade latest-notifiction-popup" role="dialog" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2> <i class="fa-solid fa-bell"></i> Notification</h2>
                    <button type="button" class="closbtn" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="notification-list">
                      <%for(let i = 0; i < notifications.length; i++){%>
                        <%
                          var date = new Date(notifications[i].startDate);
                          var options = { 
                          year: 'numeric',
                          month: 'long',
                          day: 'numeric',
                          hour: 'numeric',
                          minute: 'numeric',
                          hour12: true
                          };
                          var formattedTime = date.toLocaleString('en-US', options);
                          var formattedDATE = formattedTime.split(" at ")[0];
                          var formattedtime = formattedTime.split(" at ")[1];
                        %>
                        <div class="box">
                            <div class="notification-header"><%=formattedDATE%></div>
                            <div class="notification-content">
                                <div class="date-titme">
                                  <%
                                  let formattedDATE2 = formattedTime.split(",")[0]
                                  %>
                                    <p class="date"><%=formattedDATE2%></p>
                                    <p class="time"><%=formattedtime%></p>
                                </div>
                                <div class="conent">
                                    <p><%=notifications[i].message%></p>
                                    <!-- <p class="cat">Cricket</p> -->
                                </div>
                            </div>
                        </div>
                      <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- <script type="text/javascript">
        let closeClicked = false;
    
        function togglePopup(idname) {
            const popupElement = document.getElementById(idname);
            
            if (closeClicked) {
                popupElement.classList.remove("active");
                closeClicked = false;
            } else {
                popupElement.classList.add("active");
                setTimeout(function() {
                    popupElement.classList.remove("active");
                }, 2000);
            }
        }
    
        function markCloseClicked() {
            closeClicked = true;
        }
    </script> -->
      <script>
        $(document).ready(function(){
          $("#setingnavbtnn").click(function(){
            $("#setingnavbtnntxt").toggleClass("setting-btn-nav-contnt");
          });
        });
      </script>
      
      <script>
        $(document).ready(function(){
          $("#setingnavbtnn2").click(function(){
            $("#setingnavbtnntxt2").toggleClass("setting-btn-nav-contnt");
          });
        });
      </script>
      <script>
        // SEARCH FUNCTION
        var btsearch = {
          init: function(search_field, searchable_elements, searchable_text_class) {
            $(search_field).keyup(function(e){
              e.preventDefault();
              var query = $(this).val().toLowerCase();
              if(query){
                // loop through all elements to find match
                $.each($(searchable_elements), function(){
                  var title = $(this).find(searchable_text_class).text().toLowerCase();
                  if(title.indexOf(query) == -1){
                    $(this).hide();
                  } else {
                    $(this).show();
                  }
                });
              } else {
                // empty query so show everything
                $(searchable_elements).show();
              }
            });
          }
        }
  
        // INIT
        $(function(){
          // USAGE: btsearch.init(('search field element', 'searchable children elements', 'searchable text class');
          btsearch.init('#search_field', '#demonames li', '.demoname');
        });
        </script>
  
        <script>
          $(document).ready(function(){
            $("#search_field").click(function(){
              $("#demonames").toggleClass("show-nav-serch-list");
            });
          });
        </script>
        <script>
          document.addEventListener('contextmenu', event => {
            event.preventDefault();
          });
        </script>