<section>
    <div class="container-fluid">
      <div class="table-data-section">
        <div class="table-heading New_table_heading">
          <h3>Basic Details</h3>
          <!-- <div class="table-heading-btn">
            <button class="btn-filter" data-bs-toggle="modal" data-bs-target="#myModaladduser"><i class="fa-solid fa-plus"></i> &nbsp; Add Menu</button>
          </div> -->
        </div>
        <div class="data-table">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Data</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <%if(basicDetails.length > 0){%>
                <tr>
                  <td>Logo With white Background</td>
                  <td><img src="../../logo/<%=basicDetails[0].logo1%>.png" ></td>
                  <td>
                    <div class="btn-group">
                      <button data-bs-toggle="modal" data-bs-target="#myModal7" id="<%=basicDetails[0]._id%>" class="getBannerDetails"><i class="fa-solid fa-database"></i></button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Logo With thime color Background</td>
                  <td><img src="../../logo/<%=basicDetails[0].logo2%>.png" ></td>
                  <td>
                    <div class="btn-group">
                      <button data-bs-toggle="modal" data-bs-target="#myModa18" id="<%=basicDetails[0]._id%>" class="getBannerDetails"><i class="fa-solid fa-database"></i></button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>contact email and Number</td>
                  <td><%=basicDetails[0].email%>  || <%=basicDetails[0].contactNumber%></td>
                  <td>
                    <div class="btn-group">
                      <button data-bs-toggle="modal" data-bs-target="#myModal9" id="<%=basicDetails[0]._id%>" class="getBannerDetails"><i class="fa-solid fa-database"></i></button>
                    </div>
                  </td>
                </tr>
              <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>



  <div class="modal fade" id="myModal7" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header">
          <h4 class="modal-title">image Details</h4>
        </div>
        <div class="modal-body">
          <form class="form-data25" id="Add-User4">
            <div class="row mt-2">
              <div class="col" id="banner12">
  
              </div>
              <div class="col" >
                <input type="file" name="file" id="file" >
              </div>
            </div>
            <button type="submit" class="btn-submit mt-3">submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>