<table>
    <thead>
<<<<<<< HEAD
        <tr style="text-align: center;font-size: 11px;">
=======
        <tr>
>>>>>>> 4dfe15377a0e35d954e7af35a413aa490c6221bd
          <th>S.No</th>
          <th>User Name</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody class="new-body">
    <%for(let i =0; i< users.length; i++){%>
<<<<<<< HEAD
        <tr style="text-align: center;" class="blue">
            <td><%=i+1%></td>
            <td><%=users[i].userName%></td>
            <td>

                <button type="button" id="<%=users[i]._id%>" class="logout">Logout</button>
=======
        <tr>
            <td><%=i+1%></td>
            <td><%=users[i].userName%></td>
            <td>
                <div class="btn-group">
                    <button type="button" id="<%=users[i]._id%>" class="btn logout">Logout</button>
                </div>
>>>>>>> 4dfe15377a0e35d954e7af35a413aa490c6221bd
            </td>
        </tr>
    <%}%>
     
    </tbody>
  </table>