<table>
    <thead>
        <tr>
          <th>Account Holder Name</th>
          <th>Account Number</th>
          <th>Ifsc Code</th>
          <th>Bank Name</th>
          <th>Branch Name </th>
          <th>Display Name</th>
          <th>Payment Method</th>
          <th>Status</th>
          <th>Actions</th>                      
        </tr>
    </thead>
    <tbody class="new-body tbody">
    <% for(let i = 0; i < paymentmethod.length; i++){%>
      <tr class="" data-trid="paymentmethod[i]._id">
      <td><%=paymentmethod[i].accountholdername%></td>
      <td class="text-nowrap" ><%=paymentmethod[i].accountnumber%></td>
      <td class="text-nowrap" ><%=paymentmethod[i].ifsccode%></td>
      <td class="text-nowrap"><%=paymentmethod[i].bankname%></td>
      <td class="text-nowrap" ><%=paymentmethod[i].branchname%></td>
      <td class="text-nowrap" ><%=paymentmethod[i].displayname%></td>
      <td class="text-nowrap" ><%=paymentmethod[i].pmethod%></td>
      <%if(paymentmethod[i].status){%>
        <td>
          <div class="on-off-btn-section">
            <span class="on-off">OFF &nbsp; <label class="switch on">
            <input class="checkbox status_check_payment" type="checkbox" data-statusid="<%=paymentmethod[i]._id%>" checked="">
            <span class="slider round"></span>
            </label>&nbsp; ON</span>
          </div>
        </td>
      <%}else{%>
        <td>
          <div class="on-off-btn-section">
            <span class="on-off">OFF &nbsp; <label class="switch">
            <input class="checkbox status_check_payment" type="checkbox" data-statusid="<%=paymentmethod[i]._id%>">
            <span class="slider round"></span>
            </label>&nbsp; ON</span>
          </div>
        </td>
      <%}%>
      <td>
        <div class="btn-group">
          <button class="btn delete" data-docid="<%=paymentmethod[i]._id%>">Delete</button>
        </div>
      </td>
      </tr>
    <%}%>
    <%if(paymentmethod.length == 0){%>
      <tr class="empty_table"><td>No record found</td></tr>
    <%}%>
    </tbody>
  </table>