<%if(LiveCricket.length > 0 || upcomintCricket.length > 0){%>
  <div class="exch-mob-data-tbl-ro">
    <div class="exch-mob-data-tbl-ro-titl">
      <h6>Cricket</h6>
    </div>
  <%for(let i = 0; i < cricketSeries.length; i++){%>
    <%if(cricketSeries[i].series != "1"){ %>
      <%if(!catalog.some(item => item.name == cricketSeries[i].series)){ %>
      <div class="series-wise-data">
        <div class="series-title"><%=cricketSeries[i].series%></div>
        <%for(let j = 0; j < cricketSeries[i].matchdata.length; j++){%>
          <%if(!catalog.some(item => item.Id == cricketSeries[i].matchdata[j].eventData.eventId)){ %>
          <%
              
          var timestamp = `${cricketSeries[i].matchdata[j].eventData.time}` * 1000; 
          var date = new Date(timestamp);
          var options = { 
            day: '2-digit',
            month: 'short',
            hour: 'numeric',
            minute: 'numeric',
            hour12: true // This ensures the time is displayed in AM/PM format
          };
          var formattedTime = date.toLocaleString('en-US', options);
            %>
          <div class="exch-mob-data-tbl-card-wrp">
            <a class="exch-mob-data-tbl-card-wrp-a" href="/exchange_inPlay/match?id=<%=cricketSeries[i].matchdata[j].eventData.eventId%>">
              <%if(cricketSeries[i].matchdata[j].eventData.type === "IN_PLAY"){%>
                <div class="top-mobile-table-data">
                  <div class="short-score">
                    <div class="block right">
                      <span>In play</span>
                    </div>
                  </div>
                  <span class="flash-live-button">live</span></b>
                  <div class="date"><%=formattedTime%></div>
                </div>
              <%}else{%>
                <div class="top-mobile-table-data">
                  <!-- <div class="short-score">
                    <div class="block right">
                      <span>In play</span>
                    </div>
                  </div> -->
                  <!-- <span class="flash-live-button">live</span></b> -->
                  <div class="date"><%=formattedTime%></div>
                </div>
              <%}%>
              <div class="exch-mob-data-tbl-card-ro">
                <div class="exch-mob-data-tbl-card-dv">
                  <p>
                    <%if(cricketSeries[i].matchdata[j].eventData.type === "IN_PLAY"){%>
                      
                      
                      <p>
                        <b><%=cricketSeries[i].matchdata[j].eventData.name%></b>
                      </p>
                    <%}else{%>
                      <p>
                         <b><%=cricketSeries[i].matchdata[j].eventData.name%></b>
                      </p>
                    <%} %>
                  </p>
                </div>
                <div class="exch-mob-data-tbl-card-dv2">
                  <%if(cricketSeries[i].matchdata[j].eventData.isTv){%>
                    <span class="exch-mob-data-tbl-card-dv2-spns">
                      <i class="fa-solid fa-tv c-activee"></i>
                    </span>
                  <%}%>

                  <%if(cricketSeries[i].matchdata[j].marketList.match_odd != null){%>
                    <span class="exch-mob-data-tbl-card-dv2-spns">
                      <p> MO </p>
                      <span>35</span>
                    </span>
                  <%} %>
                  <%if(cricketSeries[i].matchdata[j].marketList.fancy != null || cricketSeries[i].matchdata[j].marketList.session!= null || cricketSeries[i].matchdata[j].marketList.odd_even!= null ){%>
                    <span class="exch-mob-data-tbl-card-dv2-spns">
                      <p> F </p>
                      <span>1</span>
                    </span>
                  <%} %>
                  <%if(cricketSeries[i].matchdata[j].marketList.bookmaker != null){%>
                    <span class="exch-mob-data-tbl-card-dv2-spns">
                      <p> B </p>
                      <span>1</span>
                    </span>
                  <%}%>
                  <span class="mobile-star-mutlimarket exch-mob-data-tbl-card-dv2-spns">
                    <%if(user && userMultimarkets != null && cricketSeries[i].matchdata[j].marketList.match_odd != null){ %>
                      <%let check = userMultimarkets.marketIds.find(item => item == cricketSeries[i].matchdata[j].marketList.match_odd.marketId) %>
                      <%if(check){%>
                      <button class="multi_market" id="<%=cricketSeries[i].matchdata[j].marketList.match_odd.marketId%>" ><img src="https://bigbull9exch.com/assets/img/exchange/Vector2.svg" alt=""/></button> 
                      <%}else{%>
                      <button class="multi_market" id="<%=cricketSeries[i].matchdata[j].marketList.match_odd.marketId%>" ><img src="https://bigbull9exch.com/assets/img/exchange/Vector.png" alt=""/></button> 
                      <%}%>
                    <%}else{%>
                      <button class="multi_market"  ><img src="https://bigbull9exch.com/assets/img/exchange/Vector.png" alt=""/></button> 
                    <%}%>
                  </span>
                </div>
              </div>
            
              <%if(cricketSeries[i].matchdata[j].marketList.match_odd != null){ %>
              <% let runners = JSON.parse(cricketSeries[i].matchdata[j].marketList.match_odd.runners); %>
              <% let runners1 = []; %>
              <%let secIds = []; %>
              <%runners.forEach(item => {%>
                  <%runners1.push(item.runner);%>
                  <%secIds.push(item.secId);%>
              <%});%>
              <%if(runners1.length === 2){%>
                  <div class="exch-mob-data-tbl-card-ro2">
                      <div class="exch-mob-data-tbl-card-ro2-dv">
                        <span class=" 0B" id="<%=secIds[0]%>"> </span>
                        <span class=" 0L" id="<%=secIds[0]%>"> </span>
                      </div>
                      <div class="exch-mob-data-tbl-card-ro2-dv">
                          <span class="tbl-td-bg-blu-spn mylock-data">
                              <i class="fa-solid fa-lock"></i>
                            </span>
                            <span class="tbl-td-bg-pich-spn mylock-data">
                              <i class="fa-solid fa-lock"></i>
                            </span>
                      </div>
                      <div class="exch-mob-data-tbl-card-ro2-dv">
                        <span class=" 1B" id="<%=secIds[1]%>"> </span>
                        <span class=" 1L" id="<%=secIds[1]%>"> </span>
                      </div>
                    </div>
              <%}else{%>
                  <div class="exch-mob-data-tbl-card-ro2">
                    <div class="exch-mob-data-tbl-card-ro2-dv">
                      <span class=" 0B" id="<%=secIds[0]%>"> </span>
                      <span class=" 0L" id="<%=secIds[0]%>"> </span>
                    </div>
                    <div class="exch-mob-data-tbl-card-ro2-dv">
                      <span class=" 2B" id="<%=secIds[2]%>"> </span>
                      <span class=" 2L" id="<%=secIds[2]%>"> </span>
                    </div>
                    <div class="exch-mob-data-tbl-card-ro2-dv">
                      <span class=" 1B" id="<%=secIds[1]%>"> </span>
                      <span class=" 1L" id="<%=secIds[1]%>"> </span>
                    </div>
                  </div>
              <%}%>
              <%}else{ %>
                <div class="exch-mob-data-tbl-card-ro2">
                  <div class="exch-mob-data-tbl-card-ro2-dv">
                    <span class="tbl-td-bg-blu-spn mylock-data">
                      <i class="fa-solid fa-lock"></i>
                    </span>
                    <span class="tbl-td-bg-pich-spn mylock-data">
                      <i class="fa-solid fa-lock"></i>
                    </span>
                  </div>
                  <div class="exch-mob-data-tbl-card-ro2-dv">
                      <span class="tbl-td-bg-blu-spn mylock-data">
                          <i class="fa-solid fa-lock"></i>
                        </span>
                        <span class="tbl-td-bg-pich-spn mylock-data">
                          <i class="fa-solid fa-lock"></i>
                        </span>
                  </div>
                  <div class="exch-mob-data-tbl-card-ro2-dv">
                    <span class="tbl-td-bg-blu-spn mylock-data">
                      <i class="fa-solid fa-lock"></i>
                    </span>
                    <span class="tbl-td-bg-pich-spn mylock-data">
                      <i class="fa-solid fa-lock"></i>
                    </span>
                  </div>
                </div>
              <%} %>
            </a>
          </div>
        <%}%>
        <%}%>
      </div>
      <%} %>
    <%}%>
  <%}%>
  </div>
<%}%>