<%- include("../header") %>
  <!--Container Main start-->
  <div class="dashboard-main-wraper">

<!-- skin device sec -->

  <section class="dashboard-welcome-section" >
    <div class="container-fluid">
      <div class="new-head"> 
          <h3 >User Detail <%=userDetails.userName%></h3>
          <!-- <form action="">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Search or type  a URL" aria-label="Username" aria-describedby="basic-addon1">
              
            </div>
            <button class="btn-filter"><i class="fa-solid fa-filter"></i>&nbsp;Filter</button>
          </form> -->
      </div>
    </div>
    </section>
    
<!-- seling section -->

<section>
  <div class="container-fluid">
      <div class="tab-data-section">
        <div class="tab" >
          <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'Cricket')"> User Details  </button>
          <!-- <button class="tablinks" onclick="openCity(event, 'FOOTBALL')"> User Config</button> -->
          <button class="tablinks" onclick="openCity(event, 'TENNIS')"> Wallet Settings</button>
          <button class="tablinks" onclick="openCity(event, 'BASEBALL')"> Balance  </button>
          <button class="tablinks" onclick="openCity(event, 'BASKETBALL')"> BetList</button>
          <button class="tablinks" onclick="openCity(event, 'HORSE RACING')"> Account Statement</button>
          <button class="tablinks" onclick="openCity(event, 'Greyhound')"> Login History</button>
          <%if(currentUser.roleName === "Admin"){%>
          <button class="tablinks" onclick="openCity(event, 'Payment')"> Payment</button>
          <%}%>
          <%if(userDetails.roleName === "user"){%>
            <button class="tablinks" onclick="openCity(event, 'kyc')"> kyc</button>
          <%}%>
      </div>
              <div id="Cricket" class="tabcontent">
                  <div class="row">
                      <div class="container">
                          <div class="form-container">
                            <div class="form-column blue">
                              <div class="tab-heading"> <h4>User Details</h4> </div>
                              <form class="form-data userDetails" id="<%=userDetails._id%>">
                                  <div class="row">
                                      <div class="col form-group">
                                          <label for="name">Name</label>
                                          <input type="text" readonly  id="name" name="name" placeholder="<%=userDetails.name%>" value="<%=userDetails.name%>">
                                      </div>
                                      <div class="col form-group">
                                          <label for="userName">User Name</label>
                                          <input type="text" readonly id="userName" name="userName" placeholder="<%=userDetails.userName%>" value="<%=userDetails.userName%>">
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col form-group">
                                          <label for="contact">Contact</label>
                                          <input type="text" readonly id="contact" name="contact" placeholder="<%=userDetails.contact%>" value="<%=userDetails.contact%>">
                                      </div>
                                      <div class="col form-group">
                                          <label for="email">Email</label>
                                          <input type="email" readonly id="email" name="email" placeholder="<%=userDetails.email%>" value="<%=userDetails.email%>">
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col form-group">
                                          <label for="userRole">User Role</label>
                                          <input type="text" readonly id="userRole" name="userRole" placeholder="<%=userDetails.roleName%>" value="<%=userDetails.roleName%>">
                                      </div>
                                      <div class="col form-group">
                                        <label for="creditReference">Credit Reference</label>
                                        <input type="number" readonly id="creditReference" name="creditReference" placeholder="<%=userDetails.balance%>" value="<%=userDetails.balance%>">
                                      </div>
                                    </div>
                                    <%if(userDetails.roleName != 'user'){%>
                                    <div class="row">
                                      <div class="col form-group">
                                        <label for="myShare">Share <b><%= userDetails.myShare + userDetails.Share%></b></label>
                                        <input type="number" readonly id="myShare" name="myShare" placeholder="<%=userDetails.myShare%>" value="<%=userDetails.myShare%>">
                                      </div>
                                      <div class="col form-group">
                                          <label for="Share">My Share</label>
                                          <input type="number" readonly id="Share" name="Share" placeholder="<%=userDetails.Share%>" value="<%=userDetails.Share%>">
                                      </div>
                                    </div>
                                    <%}%>
                                  <!-- <div class="row">
                                      <div class="col form-group">
                                          <button type="submit">Submit</button>
                                      </div>
                                  </div> -->
                              </form>
                            </div>
                          </div>
                        </div>
                  
                  </div>
              </div> 
              <div id="TENNIS" class="tabcontent">
                  <div class="row">
                      <div class="container">
                          <div class="form-container">
                            <div class="form-column blue">
                              <form class="Wallet" id="<%=userDetails._id%>">
                                  <div class="row">
                                      <div class="col form-group">
                                          <label for="maxCreditReference">Max Credit Ref</label>
                                          <input type="number" id="maxCreditReference" name="maxCreditReference" placeholder="<%=userDetails.maxLimitForChildUser%>" value="<%=userDetails.maxLimitForChildUser%>">
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col form-group">
                                          <label for="transferLock">Transfer Lock</label>
                                          <select name="transferLock" id="transferLock">
                                              <%if(userDetails.transferLock){ %>
                                                  <option value="true"selected >Active</option>
                                                  <option value="false"  >In-Active</option>
                                              <%}else{ %>
                                                  <option value="true" >Active</option>
                                                  <option value="false"selected>In-Active</option>
                                              <%} %>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col form-group">
                                          <button type="submit" >save</button>
                                      </div>
                                  </div>
                              </form>
                              
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
              <div id="BASEBALL" class="tabcontent">
                <div class="row">
                  <div class="container">
                      <div class="form-container">
                        <div class="form-column blue">
                          <form class="Wallet" >
                              <div class="row">
                                  <div class="col form-group">
                                      <label for="availableBalance">Available Bal</label>
                                      <input type="number" readonly id="availableBalance" name="availableBalance" placeholder="<%=userDetails.availableBalance%>" value="<%=userDetails.availableBalance%>">
                                  </div>
                                  <div class="col form-group">
                                      <label for="creditReference">Credit Reference</label>
                                      <input type="number" readonly id="creditReference" name="creditReference" placeholder="<%=userDetails.balance%>" value="<%=userDetails.balance%>">
                                  </div>
                                  <div class="col form-group">
                                      <label for="exposure">Net Exposure</label>
                                      <input type="number" readonly id="exposure" name="exposure" placeholder="<%=userDetails.exposure%>" value="<%=userDetails.exposure%>">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col form-group">
                                      <label for="downlineBalance">Downlevel Bal</label>
                                      <input type="number" readonly id="downlineBalance" name="downlineBalance" placeholder="<%=userDetails.downlineBalance%>" value="<%=userDetails.downlineBalance%>">
                                  </div>
                                  <div class="col form-group">
                                      <label for="uplinePL">Upline P/L</label>
                                      <input type="number" readonly id="uplinePL" name="uplinePL" placeholder="<%=userDetails.uplinePL%>" value="<%=userDetails.uplinePL%>">
                                  </div>
                              </div>
                          </form>
                          
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div id="BASKETBALL" class="tabcontent">
                <div class="row">
                  <form action="">
                    <div class="table-top-from-data">
                      <div class="input-group text">
                      <div class="cur-bet-amount-dv">
                          <!-- <select class="form-select form-select-sm acount-stat-ro-form-input" aria-label="Default select example">
                              <option selected>All Reports</option>
                              <option value="1">Deposit/Withdraw Reports</option>
                              <option value="2">Game Reports</option>
                          </select> -->
                          <% if(betsDetails.length > 0){ %>
                            <span class="cur-bet-amount-spn">Total Bets : <span><%=betsDetails[0].totalCount %></span></span>
                            <%if(betsDetails[0].totalReturns > 0){ %>
                              <span class="cur-bet-amount-spn">Total Amount : <span class="c-gren"><%=betsDetails[0].totalReturns %></span></span>
                            <%}else{%>
                              <span class="cur-bet-amount-spn">Total Amount : <span class="c-reed"><%=betsDetails[0].totalReturns %></span></span>
                              <%} %>
                          <%}else {%>
                            <span class="cur-bet-amount-spn">Total Bets : <span>00</span></span>
                              <span class="cur-bet-amount-spn">Total Amount : <span class="c-reed">0</span></span>
                          <%} %>
                      </div>
                  </div>
  
                      <div class="input-group">
                          <input type="date" class="form-control form-control-sm acount-stat-ro-form-input" id="FdateBet">
                          <input type="date" class="form-control form-control-sm acount-stat-ro-form-input" id="TdateBet">
                          <select id="selectBet" class="form-select form-select-sm acount-stat-ro-form-input" aria-label="Default select example">
                            <option selected>All Bets</option>
                            <option value="OPEN">Open</option>
                            <option value="CANCEL">Void</option>
                            <option value="WON">Won</option>
                            <option value="LOSS">Loss</option>
                        </select>
                      </div>
                    </div>
                    </form>
                    <div class="pageId" data-pageid="1"></div>
                    <section>
                      <div class="container-fluid">
                          <div class="row">
                          </div>
                          <div class="table-data-section data-table">
                            <table >
                                <thead>
                                    <tr>
                                      <th>S.No</th>
                                      <th>Date</th>
                                      <th>User Name</th>
                                      <th>Event</th>
                                      <th>Market </th>
                                      <th>Odds</th>
                                      <th>Match</th>
                                      <th>Bet On</th>
                                      <th>Stake</th>
                                      <th>Status</th>
                                      <th>P/L</th>
                                    </tr>
                                </thead>
                                <tbody class="new-body">
                                  <%if(bets.length !== 0){%>
                                  <% for(let i = 0; i < bets.length; i++){%>
                                    <% let date = new Date(bets[i].date)
                                    var options = { 
                                      year: 'numeric',
                                      month: 'long',
                                      day: 'numeric',
                                      hour: 'numeric',
                                      minute: 'numeric',
                                      hour12: true
                                  };
                                  var formattedTime = date.toLocaleString('en-US', options);
                                    %>
                                    <%if(bets[i].bettype2=='BACK'){%>
                                        <tr class="back" >
                                    <%}else{%>
                                        <tr class="lay">
                                    <%}%>
                                    <td><%=i + 1%></td>

                                    <td><%=formattedTime%></td>
                                    <td><%=bets[i].userName%></td>
                                    <td><%=bets[i].event%></td>
                                    <%if(bets[i].match){%>
                                      <%if(bets[i].selectionName.includes('@')){%>
                                        <%
                                        let oddValue1 = bets[i].selectionName.split('@')[1]
                                        let selectionName = bets[i].selectionName.split('@')[0]
                                        let oddValue2 = bets[i].oddValue
                                        %>
                                        <td><%=bets[i].marketName%></td>
                                        <td><%=oddValue1%></td>
                                        <td><%=bets[i].match%></td>
                                        <td><%=selectionName%>@<%=oddValue2%></td>
                                      <%}else{%>
                                        <td><%=bets[i].marketName%></td>
                                        <td><%=bets[i].oddValue%></td>
                                        <td><%=bets[i].match%></td>
                                        <td><%=bets[i].selectionName%></td>
                                      <%}%>
                                    <%}else{%>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    <%}%>
                                    <td><%=bets[i].Stake%></td>
                                    <td><%=bets[i].status%></td>
                                    <td><%=bets[i].returns%></td>
                                </tr>
                                <%}%>
                                <%}else{%>
                                  <tr class="empty_table">
                                    <td>No record found</td>
                                  </tr>
                                <%}%>
                                  
                                 
                                </tbody>
                              </table>
                              <% if(bets.length > 0){%>
                                <div class="loadMoredive" >
                                    <a id="loadMore">Load More</a>
                                  </div>
                              <%}%>
                            </div>
                      </div>
                  </section>
                    </div>
                </div>
              <div id="HORSE RACING" class="tabcontent">
                <%if(userDetails.roleName != "user"){%>
                  <div class="row">
                    <form action="">
                      <div class="table-top-from-data">
                      <div class="input-group">
                          <input type="date" class="form-control form-control-sm acount-stat-ro-form-input" id="FdateACC">
                          <input type="date" class="form-control form-control-sm acount-stat-ro-form-input" id="TdateACC">
                          <select id="selectACC" class="form-select form-select-sm acount-stat-ro-form-input" aria-label="Default select example">
                            <option selected>All Reports</option>
                            <option value="Deposit">Deposit</option>
                            <option value="Withdraw">Withdraw</option>
                            <option value="SDeposit">Settlement Deposit</option>
                            <option value="SWithdraw">Settlement Withdraw</option>
                        </select>
                      </div>
                      <div class="btn-group">
                        <button  id="downloadBtnACC" class="btn acount-stat-ro-titl-form-btnn load">Download PDF </button>
                      <button  id="pdfDownloadACC" class="btn acount-stat-ro-titl-form-btnn load">Download CSV</button>
                      </div>
                    </div>
                    </form>
                    <div class="pageIdACC" data-pageid="1"></div>
                    <section>
                      <div class="container-fluid">
                          <div class="row">
                          </div>
                          <div class="table-data-section">
                            <table class="acount-stat-tbl" id="table12">
    
                              <thead class="acount-stat-tbl-hed">
                                  <tr class="acount-stat-tbl-hed-tr">
                                      <th class="bod-red-lft">Date & Time</th>
                                      <th>Transaction</th>
                                      <th>From / To</th>
                                      <th>Opening Balance</th>
                                      <th>Amount</th>
                                      <th>Closing Balance</th>
                                      <th>Remarks</th>
                                  </tr>
                              </thead>
                              <tbody class="new-body acount-stat-tbl-body">
                                <%if(ACCount.length !== 0){%>
                                <%for(let i = 0; i < ACCount.length; i++){%>
                                <% let date = new Date(ACCount[i].date)%>
                                <% 
                                var options = { 
                                    year: 'numeric',
                                    month: 'long',
                                    day: 'numeric',
                                    hour: 'numeric',
                                    minute: 'numeric',
                                    hour12: true
                                  };
                                  var formattedTime = date.toLocaleString('en-US', options);
                                  %>
                                <%if((i%2 == 0)){%>
                                <tr>
                                  
                                  <td class="text-nowrap" ><%=formattedTime%></td>
                                  <%if(ACCount[i].description.startsWith('Chips')){%>
                                    <%if(ACCount[i].user_id == ACCount[i].child_id){%>
                                      <%console.log('GOTGHEREGFGFGFGFG')%>
                                      <%if(ACCount[i].creditDebitamount > 0){%>
                                        <td >Deposit</td>
                                      <%}else{%>
                                        <td >Withdraw</td>
                                      <%}%>

                                    <%}else{%>
                                      <%if(ACCount[i].creditDebitamount > 0){%>
                                        <td >Withdraw</td>
                                        <%}else{%>
                                          <td >Deposit</td>
                                      <%}%>
                                    <%}%>
                                  <%}else if(ACCount[i].child_id) {%>
                                    <%if(ACCount[i].creditDebitamount > 0){%>
                                      <td >Settlement Deposit</td>
                                    <%}else{%>
                                      <td >Settlement Withdraw</td>
                                    <%}%>
                                  <%}else{%>
                                    <td>commission Settlement</td>
                                  <%}%>
                                  <%if(ACCount[i].creditDebitamount > 0){%>
                                  <%if(ACCount[i].parent_id){%>
                                  <%if(ACCount[i].parent_id.userName == ACCount[i].user_id.userName){%>
                                  <%if(ACCount[i].child_id == null){ %>
                                  <td>-/<%=ACCount[i].parent_id.userName%></td>
                                  <%}else{ %>
                                  <td><%=ACCount[i].child_id.userName%>/<%=ACCount[i].parent_id.userName%></td>
                                  <%} %>
                                  <%}else{%>
                                  <%if(ACCount[i].child_id == null){ %>
                                  <td><%=ACCount[i].parent_id.userName%>/-</td>
                                  <%}else{ %>
                                  <td><%=ACCount[i].parent_id.userName%>/<%=ACCount[i].child_id.userName%></td>
                                  <%} %>
                                  <%}%>
                                  <%}else{%>
                                  <td>-</td>  
                                  <%}%>
                                  <%}else{%>
                                  <%if(ACCount[i].parent_id){%>
                                  <%if(ACCount[i].parent_id.userName == ACCount[i].user_id.userName){%>
                                  <%if(ACCount[i].child_id == null){ %>
                                  <td><%=ACCount[i].parent_id.userName%>/-</td>
                                  <%}else{ %>
                                  <td><%=ACCount[i].parent_id.userName%>/<%=ACCount[i].child_id.userName%></td>
                                  <%} %>
                                  <%}else{%>
                                  <%if(ACCount[i].child_id == null){ %>
                                  <td>-/<%=ACCount[i].parent_id.userName%></td>
                                  <%}else{ %>
                                  <td><%=ACCount[i].child_id.userName%>/<%=ACCount[i].parent_id.userName%></td>
                                  <%} %>
                                  <%}%>
                                  <%}else{%>
                                  <td>-</td>  
                                  <%}%>
                                  <%}%>
                                  <td><%=(ACCount[i].balance - ACCount[i].creditDebitamount).toFixed(2)%></td>
                                  <td><%=ACCount[i].creditDebitamount%></td>
                                  <td><%=ACCount[i].balance%></td>
                                  <%if(ACCount[i].Remark){%>
                                    <td><%=ACCount[i].Remark%></td>
                                  <%}else{%>
                                    <td>-</td>
                                  <%}%>
                                </tr>
                                <%}else{%>
                                <tr>
                                  <td class="text-nowrap" ><%=formattedTime%></td>
                                  <%if(ACCount[i].description.startsWith('Chips')){%>
                                    <%if(ACCount[i].user_id == ACCount[i].child_id){%>
                                      <%if(ACCount[i].creditDebitamount > 0){%>
                                        <td >Deposit</td>
                                      <%}else{%>
                                        <td >Withdraw</td>
                                      <%}%>

                                    <%}else{%>
                                      <%if(ACCount[i].creditDebitamount > 0){%>
                                        <td >Withdraw</td>
                                        <%}else{%>
                                          <td >Deposit</td>
                                      <%}%>
                                    <%}%>
                                  <%}else if(ACCount[i].child_id) {%>
                                    <%if(ACCount[i].creditDebitamount > 0){%>
                                      <td >Settlement Deposit</td>
                                    <%}else{%>
                                      <td >Settlement Withdraw</td>
                                    <%}%>
                                  <%}else{%>
                                    <td>commission Settlement</td>
                                  <%}%>
                                  <%if(ACCount[i].creditDebitamount > 0){%>
                                  <%if(ACCount[i].parent_id){%>
                                  <%if(ACCount[i].parent_id.userName == ACCount[i].user_id.userName){%>
                                  <%if(ACCount[i].child_id == null){ %>
                                  <td>-/<%=ACCount[i].parent_id.userName%></td>
                                  <%}else{ %>
                                  <td><%=ACCount[i].child_id.userName%>/<%=ACCount[i].parent_id.userName%></td>
                                  <%} %>
                                  <%}else{%>
                                  <%if(ACCount[i].child_id == null){ %>
                                  <td><%=ACCount[i].parent_id.userName%>/-</td>
                                  <%}else{ %>
                                  <td><%=ACCount[i].parent_id.userName%>/<%=ACCount[i].child_id.userName%></td>
                                  <%} %>
                                  <%}%>
                                  <%}else{%>
                                  <td>-</td>  
                                  <%}%>
                                  <%}else{%>
                                  <%if(ACCount[i].parent_id){%>
                                  <%if(ACCount[i].parent_id.userName == ACCount[i].user_id.userName){%>
                                  <%if(ACCount[i].child_id == null){ %>
                                  <td><%=ACCount[i].parent_id.userName%>/-</td>
                                  <%}else{ %>
                                  <td><%=ACCount[i].parent_id.userName%>/<%=ACCount[i].child_id.userName%></td>
                                  <%} %>
                                  <%}else{%>
                                  <%if(ACCount[i].child_id == null){ %>
                                  <td>-/<%=ACCount[i].parent_id.userName%></td>
                                  <%}else{ %>
                                  <td><%=ACCount[i].child_id.userName%>/<%=ACCount[i].parent_id.userName%></td>
                                  <%} %>
                                  <%}%>
                                  <%}else{%>
                                  <td>-</td>  
                                  <%}%>
                                  <%}%>
                                  <td><%=(ACCount[i].balance - ACCount[i].creditDebitamount).toFixed(2)%></td>
                                  <td><%=ACCount[i].creditDebitamount%></td>
                                  <td><%=ACCount[i].balance%></td>
                                  <%if(ACCount[i].Remark){%>
                                    <td><%=ACCount[i].Remark%></td>
                                  <%}else{%>
                                    <td>-</td>
                                  <%}%>
                                </tr>
                                <%}%>
                                <%}%>
                                <%}else{%>
                                  <tr class="empty_table"><td>No record found</td></tr>
                                <%}%>
                              </tbody>
                              
      
                          </table>
                          <%if(ACCount.length != 0){%>
                            <div class="loadMorediveACC" >
                                <a id="loadMoreACC">Load More</a>
                            </div>
                          <%}%>
                            </div>
                      </div>
                      <div class="skipid" data-skipid="<%=skipvalue%>"></div>
                  </section>
                  </div>
                <%}else{%>
                  <div class="row">
                    <form action="">
                      <div class="table-top-from-data">
                      <div class="input-group">
                          <input type="date" class="form-control form-control-sm acount-stat-ro-form-input" id="FdateACC">
                          <input type="date" class="form-control form-control-sm acount-stat-ro-form-input" id="TdateACC">
                          <select id="selectACC" class="form-select form-select-sm acount-stat-ro-form-input" aria-label="Default select example">
                            <option selected>All Reports</option>
                            <option value="Deposit">Deposit</option>
                            <option value="Withdraw">Withdraw</option>
                            <option value="SDeposit">Settlement Deposit</option>
                            <option value="SWithdraw">Settlement Withdraw</option>
                            <option value="bsettlement">bet settlement</option>
                        </select>
                      </div>
                      <div class="btn-group">
                        <button  id="downloadBtnACC" class="btn acount-stat-ro-titl-form-btnn load">Download PDF </button>
                      <button  id="pdfDownloadACC" class="btn acount-stat-ro-titl-form-btnn load">Download CSV</button>
                      </div>
                    </div>
                    </form>
                    <div class="pageIdACC" data-pageid="1"></div>
                    <section>
                      <div class="container-fluid">
                          <div class="row">
                          </div>
                          <div class="table-data-section">
                            <table class="acount-stat-tbl" id="table12">
    
                              <thead class="acount-stat-tbl-hed">
                                  <tr class="acount-stat-tbl-hed-tr">
                                      <th class="bod-red-lft">Transaction</th>
                                      <th>Date</th>
                                      <th>Event</th>
                                      <th>Market Type</th>
                                      <th>Credit/Debit</th>
                                      <th>closing Balance</th>
                                      <th>Transaction ID</th>
                                  </tr>
                              </thead>
      
                              <tbody class="acount-stat-tbl-body">
                                  <%if(ACCount.length != 0){%>
                                  <%for(let i = 0; i < ACCount.length; i++){%>
                                      <%
                                          <!-- var timestamp = `${ACCount[i].time}`;  -->
                                          var date = new Date(ACCount[i].date);
                                          var options = { 
                                              year: 'numeric',
                                              month: 'long',
                                              day: 'numeric',
                                              hour: 'numeric',
                                              minute: 'numeric',
                                              hour12: true
                                          };
                                          var formattedTime = date.toLocaleString('en-US', options);
                                      %>
                                      <%if(ACCount[i].gameId){%>
                                        <tr class="acount-stat-tbl-body-tr rowtoggle_AccountStatment" data-gameid="<%=ACCount[i].transactionId%>" id="rowid-<%=i + 1%>">
                                            <%if(ACCount[i].creditDebitamount > 0){%>
                                              <td title="Transaction" class="positive transactiontype">Casino Bet  Settlement</td>
                                            <%}else if(ACCount[i].creditDebitamount < 0){%>
                                              <td title="Transaction" class="transactiontype negative">Casino Bet Placement</td>
                                            <%}%>
                                              <td title="Date" ><%=formattedTime%></td>
                                            <%if(ACCount[i].match){%>
                                              <td title="Event"><%=ACCount[i].match%></td>
                                            <%}else{%>
                                              <td title="Event">-</td>
                                            <%}%>
                                            <%if(ACCount[i].marketName){%>
                                              <td title="Market Type"><%=ACCount[i].marketName%></td>
                                            <%}else{%>
                                              <td title="Market Type">-</td>
                                            <%}%>
                                            <%if(ACCount[i].creditDebitamount > 0){%>
                                                <td title="Credit/Debit" class="c-gren"><%=ACCount[i].creditDebitamount%></td>
                                            <%}else{%>
                                                <td title="Credit/Debit" class="c-reed"><%=ACCount[i].creditDebitamount%></td>
                                            <%}%>
                                              <td title="Closing Balance"><%=ACCount[i].balance%></td>
                                              <td><a class="ownAccDetails negative" data-gameid="<%=ACCount[i].transactionId%>" style="background-color: transparent;" data-bs-toggle="modal" data-bs-target="#myModal5"> <%=ACCount[i].transactionId%>&nbsp;</a></td>
                                              
                                          <%}else if(ACCount[i].transactionId && ACCount[i].transactionId.length > 16 && ACCount[i]._id.marketId){%>
                                            <tr class="acount-stat-tbl-body-tr rowtoggle_AccountStatment" data-marketid="<%=ACCount[i]._id.marketId%>" data-gameid="<%=ACCount[i]._id.eventId%>" id="rowid-<%=i + 1%>">
                                            <td title="Transaction">Sport Book Bet Settlement</td>
                                            <td title="Date" ><%=formattedTime%></td>
                                            <!-- <td title="Date" ><%=formattedTime%></td> -->
                                            <%if(ACCount[i].match){%>
                                              <td title="Event"><%=ACCount[i].match%></td>
                                            <%}else{%>
                                              <td title="Event">-</td>
                                            <%}%>
                                            <%if(ACCount[i].marketName){%>
                                              <td title="Market Type"><%=ACCount[i].marketName%></td>
                                            <%}else{%>
                                              <td title="Market Type">-</td>
                                            <%}%>
                                            <%if(ACCount[i].creditDebitamount > 0){%>
                                                <td title="Credit/Debit" class="c-gren"><%=ACCount[i].creditDebitamount%></td>
                                            <%}else{%>
                                                <td title="Credit/Debit" class="c-reed"><%=ACCount[i].creditDebitamount%></td>
                                            <%}%>
                                              <td title="Closing Balance"><%=ACCount[i].balance%></td>
                                              <td><a class="ownAccDetails" data-marketid="<%=ACCount[i]._id.marketId%>" data-gameid="<%=ACCount[i]._id.eventId%>" style="background-color: transparent;" data-bs-toggle="modal" data-bs-target="#myModal5"> <%=ACCount[i].transactionId%>&nbsp;</a></td>
                                              
                                          <%}else if(ACCount[i]._id.marketId){%>
                                            <tr class="acount-stat-tbl-body-tr rowtoggle_AccountStatment" data-marketid="<%=ACCount[i]._id.marketId%>" id="rowid-<%=i + 1%>">
                                              <%if(ACCount[i].rollbackMarketId){%>
                                                <td title="Transaction">Settle Bet Rollback</td>
                                              <%}else if(ACCount[i].cacelMarketId){%>
                                                <td title="Transaction">Settle Bet Void</td>
                                                <%}else{%>
                                                  <td title="Transaction">Bet Settlement</td>
                                              <%}%>
                                              <td title="Date" ><%=formattedTime%></td>
                                                <%if(ACCount[i].match){%>
                                                  <td title="Event"><%=ACCount[i].match%></td>
                                                <%}else{%>
                                                  <td title="Event">-</td>
                                                <%}%>
                                                <%if(ACCount[i].marketName){%>
                                                  <td title="Market Type"><%=ACCount[i].marketName%></td>
                                                <%}else{%>
                                                  <td title="Market Type">-</td>
                                                <%}%>
                                                <%if(ACCount[i].creditDebitamount > 0){%>
                                                    <td title="Credit/Debit" class="c-gren"><%=ACCount[i].creditDebitamount%></td>
                                                <%}else{%>
                                                    <td title="Credit/Debit" class="c-reed"><%=ACCount[i].creditDebitamount%></td>
                                                <%}%>
                                                  <td title="Closing Balance"><%=ACCount[i].balance%></td>
                                                  <td><a class="ownAccDetails" data-marketid="<%=ACCount[i]._id.marketId%>" style="background-color: transparent;" data-bs-toggle="modal" data-bs-target="#myModal5"> <%=ACCount[i].transactionId%>&nbsp;</a></td>
                                          <%}else{%>
                                            <tr class="acount-stat-tbl-body-tr " data-marketid="" id="rowid-<%=i + 1%>">
                                              <%if(ACCount[i].child_id){%>
                                                <%if(ACCount[i].description.startsWith('Chips')){%>
                                                  <%if(ACCount[i].creditDebitamount > 0){%>
                                                    <td title="Transaction">Deposit</td>
                                                  <%}else{%>
                                                    <td title="Transaction">Withdraw</td>
                                                  <%}%>
                                                <%}else{%>
                                                  <%if(ACCount[i].creditDebitamount > 0){%>
                                                    <td title="Transaction">Settlement Deposit</td>
                                                  <%}else{%>
                                                    <td title="Transaction">Settlement Withdraw</td>
                                                  <%}%>
                                                <%}%>
                                                <!-- <td title="Transaction">Settlement</td> -->
                                                <%}else{%>
                                                  <%console.log(ACCount[i])%>
                                                  <%if(ACCount[i].description.startsWith("Revoke") || ACCount[i].description.startsWith("Settle")){%>
                                                    <td title="Transaction"><%=ACCount[i].description%></td>
                                                    <%}else{%>
                                                      <td title="Transaction">Commission Settlement</td>
                                                      <%}%>
                                                      <%}%>
                                                      <td title="Date" ><%=formattedTime%></td>
                                            <td title="Event">-</td>
                                            <td title="Market Type">-</td>
                                            <%if(ACCount[i].creditDebitamount > 0){%>
                                                <td title="Credit" class="c-gren"><%=ACCount[i].creditDebitamount%></td>
                                            <%}else{%>
                                                <td title="Debit" class="c-reed"><%=ACCount[i].creditDebitamount%></td>
                                            <%}%>
                                            <td title="Closing Balance"><%=ACCount[i].balance%></td>
                                            <td title="Transaction ID">-</td>
                                          <%}%>
                                          </tr>
                                      <%}%>
                                      <%}else{%>
                                        <tr class="empty_table">
                                          <td>No record found</td>
                                        </tr>
                                      <%}%>
                              </tbody>
      
                          </table>
                          <%if(ACCount.length != 0){%>
                            <div class="loadMorediveACC" >
                                <a id="loadMoreACC">Load More</a>
                            </div>
                          <%}%>
                            </div>
                      </div>
                      <div class="skipid" data-skipid="<%=skipvalue%>"></div>
                  </section>
                  </div>
                <%}%>
              </div>
              <div id="Greyhound" class="tabcontent">
                <div class="row">
                  <div class="pageIdHistory" data-pageid="1"></div>
                  <section>
                    <div class="container-fluid">
                        <div class="row">
                        </div>
                        <div class="table-data-section">
                          <table class="acount-stat-tbl" >
  
                            <thead class="acount-stat-tbl-hed">
                                <tr class="acount-stat-tbl-hed-tr">
                                    <th class="bod-red-lft">SR No.</th>
                                    <th>Login Date & Time</th>
                                    <th>LogOut Date & Time</th>
                                    <th>IP</th>
                                    <th class="bod-red-rit">Audit Type</th>
                                </tr>
                            </thead>
    
                            <tbody class="acount-stat-tbl-body111">
                                <%if(historty.length != 0){%>
                                <%for(let i = 0; i < historty.length; i++){%>
                                    <%
                                        <!-- var timestamp = `${historty[i].time}`;  -->
                                        var date = new Date(historty[i].login_time);
                                        var options = { 
                                          year: 'numeric',
                                          month: 'long',
                                          day: 'numeric',
                                          hour: 'numeric',
                                          minute: 'numeric',
                                          hour12: true
                                        };
                                        var formattedTime = date.toLocaleString('en-US', options);
                                        let date2
                                        let formattedTime2
                                        if(!historty[i].isOnline){
                                           date2 = new Date(historty[i].logOut_time);
                                           formattedTime2 = date2.toLocaleString('en-US', options);
  
                                        }
                                    %>
                                    <tr class="acount-stat-tbl-body-tr">
                                        <td><%=i+1%></td>
                                        <td class="date-time"><%=formattedTime%></td>
                                        <%if(!historty[i].isOnline){ %>
                                          <td class="date-time"><%=formattedTime2%></td> 
                                        <%}else{ %>
                                          <td>-</td>
                                        <%} %>
                                        <td><%=historty[i].ip_address%></td>
                                        <%if(historty[i].isOnline){ %>
                                        <td>Online</td>
                                        <%}else{ %>
                                          <td>LogOut</td>
                                        <%} %>
                                        
                                    </tr>
                                    <%}%>
                                    <%}else{%>
                                      <tr class="empty_table">
                                        <td>No record found</td>
                                      </tr>
                                    <%}%>
                            </tbody>
    
                        </table>
                        <%if(historty.length != 0){%>
                          <div class="loadMorediveHistory" >
                              <a id="loadMoreHistory">Load More</a>
                            </div>
                        <%}%>
                          </div>
                    </div>
                </section>
                </div>
              </div>
              <div id="Payment" class="tabcontent">
                  <div class="row">
                    
                  </div>
                </div>
                
                <%if(userDetails.roleName === "user"){%>
                <div id="kyc" class="tabcontent">
                  <div class="row">
                <%if(userDetails.kycDoc){%>
                  <div class="row">
                    <div class="container">
                        <div class="form-container">
                          <div class="form-column blue">
                            <%if(userDetails.kycDoc === null){%>
                              <<div class="tab-heading"> <h4>KYC Status : <span class="red">Pending</span></h4> </div>
                            <%}else if(userDetails.kycDoc != null && userDetails.isKycVer){ %>
                              <div class="tab-heading"> <h4>KYC Status : <span class="green">Successfull</span></h4> </div>
                            <%}else if(userDetails.kycDoc != null && !userDetails.isKycVer){ %>
                              <div class="tab-heading"> <h4>KYC Status : <span class="yellow">Processing</span></h4> </div>
                            <%} %>
                            <div class="row">
                              <div class="container">
                                  <div class="form-container">
                                    <div class="form-column blue">
                                      <form class="form-data userDetails" id="<%=userDetails._id%>">
                                          <div class="row">
                                              <div class="col form-group">
                                                  <label for="contact">Document Number</label>
                                                  <input type="number" readonly name="contact" placeholder="<%=userDetails.kycDocNum%>" value="<%=userDetails.kycDocNum%>">
                                              </div>
                                              <div class="col form-group">
                                                <label for="contact">verified</label>
                                                <%if(userDetails.kycDoc != null && userDetails.isKycVer){ %>
                                                  <input type="checkbox" name="contact" checked>
                                                <%}else{%>
                                                  <input type="checkbox" name="contact">
                                                <%}%>
                                            </div>
                                          </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                          
                          </div>



                            <button class="kycPdf" id="<%=userDetails.id%>" >View Uploaded Document</button>
                            

                          </div>
                        </div>
                      </div>
                
                </div>
                <%}else{%>
                  <div class="row">
                    <div class="container">
                        <div class="form-container">
                          <div class="form-column blue">
                            <div class="tab-heading"> <h4>KYC Status : <span class="red">Pending</span></h4> </div>
                          </div>
                        </div>
                      </div>
                
                </div>
                <%}%>
                  </div>
                </div>
                <%}%>
      </div>
  </div>
</section>
 
</div>
  </div>
  <div class="modal fade useracount-modal" id="myModal5" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" >
          <h4 class="modal-title">Transaction Details</h4>
        </div>
        <div class="modal-body">
          <div class="data-table">
            <table>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>
<script type="text/javascript" src="../js/bundle.js"></script>


  <script>
        function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
    
  }
  document.getElementById("defaultOpen").click();
  </script>

</body>
    </html>