<!DOCTYPE html>
<html>

<head>
    <title>Risk Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <%- include("../header") %>

  <div class="dashboard-main-wraper">
    <section class="dashboard-welcome-section">
      <div class="container-fluid">
        <div class="new-head"> 
          <%if(bets.length > 0){%>
                  <h3><%=bets[0].match%> <span class="match-odd-text"><%=bets[0].marketName%></span> </h3><br>
          <%}else{%>
              <h3>There is no bets in this market</h3><br>
          <%}%>
          <form action="">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
              <input type="text" id="searchUser" list="text_editors" class="form-control searchUser" placeholder="search user" aria-label="Username" aria-describedby="basic-addon1" autocomplete="off">
              <div class="wrapper">
                <ul id="search" class="users">
              
                </ul>
                <ul id="button" class="button">
                  
                </ul>
              </div>
              
            </div>
          </form>
        </div>

    </section>
    <section>
      <div class="container-fluid">
        <div class="table-data-section">
          <div class="table-heading betmonitor-heading">
            <div class="rowId" data-rowid="1"></div>
            <div class="table-heading-btn">
              <form action="" class="betmonitor-heading-from">
                <div class="input-group">
                  <label class="up-down-form">From Date</label>
                  <input type="date" id="fromDate">
                </div>
                <div class="input-group">
                  <label class="up-down-form">To Date</label>
                  <input type="date" id="toDate">
                </div>
                </form>
                <!-- <button class="btn-filter filter"><i class="fa-solid fa-filter"></i> &nbsp; Filter</button> -->
            </div>
        </div>
          <div class="data-table">
              <table id="betTable">
                <thead>

                  <tr>
                      <th>Username</th>
                      <th>Place Date</th>
                      <th>Market</th>
                      <!-- <th>Bet Type</th> -->
                      <th>Odds</th>
                      <th>Stake</th>
                      <th>Action</th>
                  </tr>
                </thead>
                <tbody class="new-body">

                  <%if(bets.length > 0){%>

                  <%for(let i = 0; i < bets.length; i++){%>
                    <% let date = new Date(bets[i].date)%>
                    <tr>
                        <td><%=bets[i].userName%></td>
                        <td><%=date.getDate() + '-' +(date.getMonth() + 1) + '-' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes() +':' + date.getSeconds()%></td>
                        <td><%=bets[i].marketName%></td>
                        <td><%=bets[i].oddValue%></td>
                        <td><%=bets[i].Stake%></td>
                        <td><div class="btn-group"><button class="btn alert" id="<%=bets[i].id%>">Alert</button></div></td>
                    </tr>
                  <%}%>
                  <%}else{%>
                    <tr class="empty_table"><td>There is no bets in this market</td></tr>
                  <%}%>
                </tbody>

              </table>
          </div>
      </div>
      </div>
      
    </section>
    </div>
    <%if(bets.length != 0){%>
    <div id="load-more">
      <button class="load-more">Load More</button>
    </div>
    <%}%>

<div class="modal fade" id="matchodd-modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">×</button>
        </div>
        <div class="modal-header">
          <h4 class="modal-title">Match Odds</h4>
        </div>
        <div class="modal-body">
          <div class="data-table">
            <table id="match_odd">
                
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="bookmaker-modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">×</button>
        </div>
        <div class="modal-header">
          <h4 class="modal-title">Match Odds</h4>
        </div>
        <div class="modal-body">
            <div class="data-table">
          <table id="bookmakerTable">
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="../../js/bundle.js"></script>

<script>
  $(document).ready(function(){
    $('.bets-table .tab-data-section .tab .tablinks').click(function(){
        $('.bets-table .tab-data-section .tab .tablinks').removeClass('active');
        $(this).addClass('active');
        var tagid = $(this).data('tag');
        $('.bets-table .tab-data-section .tabcontent').removeClass('active').addClass('hide-tab');
        $('#'+tagid).addClass('active').removeClass('hide-tab');
    });
    $('.bets-table .tab-data-section .tab .tablinks[data-tag="all"]').click(function(){
        $('.bets-table .tab-data-section .tabcontent').removeClass('hide-tab')
    });
    $('.analysis-data .sidebar .sidebar-title').click(function(){
        $(this).siblings('.sidebar-content').slideToggle();
        $(this).toggleClass('active');
    });
    $('.analysis-data .main-tab-btn ul li button.open-bets-show').click(function(){
        $(this).parents('.analysis-data').addClass('show-open-bets-data');
        $('.analysis-data .main-tab-btn ul li button').removeClass('active');
        $(this).addClass('active');
    });
    $('.analysis-data .main-tab-btn ul li button.book-show').click(function(){
        $(this).parents('.analysis-data').removeClass('show-open-bets-data');
        $('.analysis-data .main-tab-btn ul li button').removeClass('active');
        $(this).addClass('active');
    });
});
</script>

<script>
     var betsButtons = document.querySelectorAll('.tbl-data-href');

betsButtons.forEach(function(button) {
    button.addEventListener('click', function () {
        var newURL = button.getAttribute('data-href');
        window.location.href = newURL
    });
});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</html>