<%if(LiveCricket.length > 0 ){%>
  <% let hasNonNullMatchOdd = false; %>
  <% for (let i = 0; i < LiveCricket.length; i++) { %>
    <% if (LiveCricket[i].marketList.match_odd !== null) { %>
      <% hasNonNullMatchOdd = true; %>
      <% break; %>
    <% } %>
  <% } %>
  <%if(hasNonNullMatchOdd){%>
    <div class="exch-mob-data-tbl-ro">
        <div class="exch-mob-data-tbl-ro-titl">
          <h6>Cricket</h6>
        </div>
        <% let cricketNum = 1 %>
        <%for(let i = 0; i < LiveCricket.length; i++){%>
            <%if(LiveCricket[i].marketList.match_odd != null){%>
                <%
                  var timestamp = `${LiveCricket[i].eventData.time}` * 1000; 
                  var date = new Date(timestamp);
                  var options = { 
                    day: '2-digit',
                    month: 'short'
                  };
                  var formattedTime = date.toLocaleString('en-US', options);
                %>
                <div class="exch-mob-data-tbl-card-wrp">
                    <a class="exch-mob-data-tbl-card-wrp-a" href="/exchange_inPlay/match?id=<%=LiveCricket[i].eventData.eventId%>">
                      <div class="exch-mob-data-tbl-card-ro">
                        <div class="exch-mob-data-tbl-card-dv">
                          <p>
                            <span class="exchange-pg-mytbl-body-liv-dot"></span>
                            <span class="c-activee"><%=LiveCricket[i].eventData.league%></span> • <%=formattedTime%>
                          </p>
                          <p>
                              <b><%=LiveCricket[i].eventData.name%></b>
                          </p>
                        </div>
                        <div class="exch-mob-data-tbl-card-dv2">
                          <%if(LiveCricket[i].eventData.isTv){%>
                              <span class="exch-mob-data-tbl-card-dv2-spns">
                                <i class="fa-solid fa-tv c-activee"></i>
                              </span>
                          <%}%>
                          <%if(LiveCricket[i].marketList.match_odd != null){%>
                            <span class="exch-mob-data-tbl-card-dv2-spns">
                              <p> MO </p>
                              <span>35</span>
                            </span>
                          <%} %>
                          <%if(LiveCricket[i].marketList.fancy != null || LiveCricket[i].marketList.session!= null || LiveCricket[i].marketList.odd_even!= null ){%>
                            <span class="exch-mob-data-tbl-card-dv2-spns">
                              <p> F </p>
                              <span>1</span>
                            </span>
                            <%} %>
                            <%if(LiveCricket[i].marketList.bookmaker != null){%>
                              <span class="exch-mob-data-tbl-card-dv2-spns">
                                <p> B </p>
                                <span>1</span>
                              </span>
                            <%} %>
                        <span class="exch-mob-data-tbl-card-dv2-spns">
                          <button href="multimarket.html"><img src="assets/img/exchange/Vector.png" alt=""/></button> 
                        </span>
                      </div>
                      </div>
                        <% let runners = JSON.parse(LiveCricket[i].marketList.match_odd.runners); %>
                        <% let runners1 = []; %>
                        <%let secIds = []; %>
                        <%runners.forEach(item => {%>
                            <%runners1.push(item.runner);%>
                            <%secIds.push(item.secId);%>
                        <%});%>
                        <%if(runners1.length === 2){%>
                            <div class="exch-mob-data-tbl-card-ro2">
                                <div class="exch-mob-data-tbl-card-ro2-dv">
                                  <span class=" 0B" id="<%=secIds[0]%>"> </span>
                                  <span class=" 0L" id="<%=secIds[0]%>"> </span>
                                </div>
                                <div class="exch-mob-data-tbl-card-ro2-dv">
                                    <span class="tbl-td-bg-blu-spn mylock-data">
                                        <i class="fa-solid fa-lock"></i>
                                      </span>
                                      <span class="tbl-td-bg-pich-spn mylock-data">
                                        <i class="fa-solid fa-lock"></i>
                                      </span>
                                </div>
                                <div class="exch-mob-data-tbl-card-ro2-dv">
                                  <span class=" 1B" id="<%=secIds[1]%>"> </span>
                                  <span class=" 1L" id="<%=secIds[1]%>"> </span>
                                </div>
                              </div>
                        <%}else{%>
                            <div class="exch-mob-data-tbl-card-ro2">
                              <div class="exch-mob-data-tbl-card-ro2-dv">
                                <span class=" 0B" id="<%=secIds[0]%>"> </span>
                                <span class=" 0L" id="<%=secIds[0]%>"> </span>
                              </div>
                              <div class="exch-mob-data-tbl-card-ro2-dv">
                                <span class=" 2B" id="<%=secIds[2]%>"> </span>
                                <span class=" 2L" id="<%=secIds[2]%>"> </span>
                              </div>
                              <div class="exch-mob-data-tbl-card-ro2-dv">
                                <span class=" 1B" id="<%=secIds[1]%>"> </span>
                                <span class=" 1L" id="<%=secIds[1]%>"> </span>
                              </div>
                            </div>
                        <%}%>
                    </a>
                  </div>
                  <%cricketNum++%>
            <%}%>
        <%}%>
    </div>
  <%} %>
<%}%>


<%if(liveFootBall.length > 0 ){%>
  <% let hasNonNullMatchOdd = false; %>
  <% for (let i = 0; i < liveFootBall.length; i++) { %>
    <% if (liveFootBall[i].marketList.match_odd !== null) { %>
      <% hasNonNullMatchOdd = true; %>
      <% break; %>
    <% } %>
  <% } %>
  <%if(hasNonNullMatchOdd){%>
    <div class="exch-mob-data-tbl-ro">
        <div class="exch-mob-data-tbl-ro-titl">
          <h6>Football</h6>
        </div>
        <% let cricketNum = 1 %>
        <%for(let i = 0; i < liveFootBall.length; i++){%>
            <%if(liveFootBall[i].marketList.match_odd != null){%>
                <%
                  var timestamp = `${liveFootBall[i].eventData.time}` * 1000; 
                  var date = new Date(timestamp);
                  var options = { 
                    day: '2-digit',
                    month: 'short'
                  };
                  var formattedTime = date.toLocaleString('en-US', options);
                %>
                <div class="exch-mob-data-tbl-card-wrp">
                    <a class="exch-mob-data-tbl-card-wrp-a" href="/exchange_inPlay/match?id=<%=liveFootBall[i].eventData.eventId%>">
                      <div class="exch-mob-data-tbl-card-ro">
                        <div class="exch-mob-data-tbl-card-dv">
                          <p>
                            <span class="exchange-pg-mytbl-body-liv-dot"></span>
                            <span class="c-activee"><%=liveFootBall[i].eventData.league%></span> • <%=formattedTime%>
                          </p>
                          <p>
                              <b><%=liveFootBall[i].eventData.name%></b>
                          </p>
                        </div>
                        <div class="exch-mob-data-tbl-card-dv2">
                          <%if(liveFootBall[i].eventData.isTv){%>
                              <span class="exch-mob-data-tbl-card-dv2-spns">
                                <i class="fa-solid fa-tv c-activee"></i>
                              </span>
                          <%}%>
                          <%if(liveFootBall[i].marketList.match_odd != null){%>
                            <span class="exch-mob-data-tbl-card-dv2-spns">
                              <p> MO </p>
                              <span>35</span>
                            </span>
                          <%} %>
                          <%if(liveFootBall[i].marketList.fancy != null){%>
                            <span class="exch-mob-data-tbl-card-dv2-spns">
                              <p> F </p>
                              <span>1</span>
                            </span>
                            <%} %>
                            <%if(liveFootBall[i].marketList.bookmaker != null){%>
                              <span class="exch-mob-data-tbl-card-dv2-spns">
                                <p> B </p>
                                <span>1</span>
                              </span>
                            <%} %>
                        <span class="exch-mob-data-tbl-card-dv2-spns">
                          <button href="multimarket.html"><img src="assets/img/exchange/Vector.png" alt=""/></button> 
                        </span>
                      </div>
                      </div>
                        <% let runners = JSON.parse(liveFootBall[i].marketList.match_odd.runners); %>
                        <% let runners1 = []; %>
                        <%let secIds = []; %>
                        <%runners.forEach(item => {%>
                            <%runners1.push(item.runner);%>
                            <%secIds.push(item.secId);%>
                        <%});%>
                        <%if(runners1.length === 2){%>
                            <div class="exch-mob-data-tbl-card-ro2">
                                <div class="exch-mob-data-tbl-card-ro2-dv">
                                  <span class=" 0B" id="<%=secIds[0]%>"> </span>
                                  <span class=" 0L" id="<%=secIds[0]%>"> </span>
                                </div>
                                <div class="exch-mob-data-tbl-card-ro2-dv">
                                    <span class="tbl-td-bg-blu-spn mylock-data">
                                        <i class="fa-solid fa-lock"></i>
                                      </span>
                                      <span class="tbl-td-bg-pich-spn mylock-data">
                                        <i class="fa-solid fa-lock"></i>
                                      </span>
                                </div>
                                <div class="exch-mob-data-tbl-card-ro2-dv">
                                  <span class=" 1B" id="<%=secIds[1]%>"> </span>
                                  <span class=" 1L" id="<%=secIds[1]%>"> </span>
                                </div>
                              </div>
                        <%}else{%>
                            <div class="exch-mob-data-tbl-card-ro2">
                              <div class="exch-mob-data-tbl-card-ro2-dv">
                                <span class=" 0B" id="<%=secIds[0]%>"> </span>
                                <span class=" 0L" id="<%=secIds[0]%>"> </span>
                              </div>
                              <div class="exch-mob-data-tbl-card-ro2-dv">
                                <span class=" 2B" id="<%=secIds[2]%>"> </span>
                                <span class=" 2L" id="<%=secIds[2]%>"> </span>
                              </div>
                              <div class="exch-mob-data-tbl-card-ro2-dv">
                                <span class=" 1B" id="<%=secIds[1]%>"> </span>
                                <span class=" 1L" id="<%=secIds[1]%>"> </span>
                              </div>
                            </div>
                        <%}%>
                    </a>
                  </div>
                  <%cricketNum++%>
            <%}%>
        <%}%>
    </div>
  <%} %>
<%}%>

<%if(liveTennis.length > 0 ){%>
  <% let hasNonNullMatchOdd = false; %>
  <% for (let i = 0; i < liveTennis.length; i++) { %>
    <% if (liveTennis[i].marketList.match_odd !== null) { %>
      <% hasNonNullMatchOdd = true; %>
      <% break; %>
    <% } %>
  <% } %>
  <%if(hasNonNullMatchOdd){%>
    <div class="exch-mob-data-tbl-ro">
        <div class="exch-mob-data-tbl-ro-titl">
          <h6>Tennis</h6>
        </div>
        <% let cricketNum = 1 %>
        <%for(let i = 0; i < liveTennis.length; i++){%>
            <%if(liveTennis[i].marketList.match_odd != null){%>
                <%
                  var timestamp = `${liveTennis[i].eventData.time}` * 1000; 
                  var date = new Date(timestamp);
                  var options = { 
                    day: '2-digit',
                    month: 'short'
                  };
                  var formattedTime = date.toLocaleString('en-US', options);
                %>
                <div class="exch-mob-data-tbl-card-wrp">
                    <a class="exch-mob-data-tbl-card-wrp-a" href="/exchange_inPlay/match?id=<%=liveTennis[i].eventData.eventId%>">
                      <div class="exch-mob-data-tbl-card-ro">
                        <div class="exch-mob-data-tbl-card-dv">
                          <p>
                            <span class="exchange-pg-mytbl-body-liv-dot"></span>
                            <span class="c-activee"><%=liveTennis[i].eventData.league%></span> • <%=formattedTime%>
                          </p>
                          <p>
                              <b><%=liveTennis[i].eventData.name%></b>
                          </p>
                        </div>
                        <div class="exch-mob-data-tbl-card-dv2">
                          <%if(liveTennis[i].eventData.isTv){%>
                              <span class="exch-mob-data-tbl-card-dv2-spns">
                                <i class="fa-solid fa-tv c-activee"></i>
                              </span>
                          <%}%>
                          <%if(liveTennis[i].marketList.match_odd != null){%>
                            <span class="exch-mob-data-tbl-card-dv2-spns">
                              <p> MO </p>
                              <span>35</span>
                            </span>
                          <%} %>
                          <%if(liveTennis[i].marketList.fancy != null){%>
                            <span class="exch-mob-data-tbl-card-dv2-spns">
                              <p> F </p>
                              <span>1</span>
                            </span>
                            <%} %>
                            <%if(liveTennis[i].marketList.bookmaker != null){%>
                              <span class="exch-mob-data-tbl-card-dv2-spns">
                                <p> B </p>
                                <span>1</span>
                              </span>
                            <%} %>
                        <span class="exch-mob-data-tbl-card-dv2-spns">
                          <button href="multimarket.html"><img src="assets/img/exchange/Vector.png" alt=""/></button> 
                        </span>
                      </div>
                      </div>
                        <% let runners = JSON.parse(liveTennis[i].marketList.match_odd.runners); %>
                        <% let runners1 = []; %>
                        <%let secIds = []; %>
                        <%runners.forEach(item => {%>
                            <%runners1.push(item.runner);%>
                            <%secIds.push(item.secId);%>
                        <%});%>
                        <%if(runners1.length === 2){%>
                            <div class="exch-mob-data-tbl-card-ro2">
                                <div class="exch-mob-data-tbl-card-ro2-dv">
                                  <span class=" 0B" id="<%=secIds[0]%>"> </span>
                                  <span class=" 0L" id="<%=secIds[0]%>"> </span>
                                </div>
                                <div class="exch-mob-data-tbl-card-ro2-dv">
                                    <span class="tbl-td-bg-blu-spn mylock-data">
                                        <i class="fa-solid fa-lock"></i>
                                      </span>
                                      <span class="tbl-td-bg-pich-spn mylock-data">
                                        <i class="fa-solid fa-lock"></i>
                                      </span>
                                </div>
                                <div class="exch-mob-data-tbl-card-ro2-dv">
                                  <span class=" 1B" id="<%=secIds[1]%>"> </span>
                                  <span class=" 1L" id="<%=secIds[1]%>"> </span>
                                </div>
                              </div>
                        <%}else{%>
                            <div class="exch-mob-data-tbl-card-ro2">
                              <div class="exch-mob-data-tbl-card-ro2-dv">
                                <span class=" 0B" id="<%=secIds[0]%>"> </span>
                                <span class=" 0L" id="<%=secIds[0]%>"> </span>
                              </div>
                              <div class="exch-mob-data-tbl-card-ro2-dv">
                                <span class=" 2B" id="<%=secIds[2]%>"> </span>
                                <span class=" 2L" id="<%=secIds[2]%>"> </span>
                              </div>
                              <div class="exch-mob-data-tbl-card-ro2-dv">
                                <span class=" 1B" id="<%=secIds[1]%>"> </span>
                                <span class=" 1L" id="<%=secIds[1]%>"> </span>
                              </div>
                            </div>
                        <%}%>
                    </a>
                  </div>
                  <%cricketNum++%>
            <%}%>
        <%}%>
    </div>
  <%} %>
<%}%>