<div class="rowId" data-rowid="1"></div>
<table>
  <thead>
      <tr>
        <th>Type</th>
        <th>Min Stake</th>
        <th>Max Stake </th>
        <th>Max Profit</th>
        <th>Max Odd</th>
        <th>Delay</th>
        <th>Actions </th>
        </tr>
  </thead>
  <tbody class="new-body">
      <%for(let i = 0; i<betLimit.length; i++){%>
          <tr id="<%=i + 1%>">
            <td class="btn-filter"><%=betLimit[i].type%></td>
            <td><input type="text" class="form-datas" value='<%=betLimit[i].min_stake%>' readonly></td>
            <td><input type="text" class="form-datas" value='<%=betLimit[i].max_stake%>' readonly></td>
            <td><input type="text" class="form-datas" value='<%=betLimit[i].max_profit%>' readonly></td>
            <td><input type="text" class="form-datas" value='<%=betLimit[i].max_odd%>' readonly></td>
            <td><input type="text" class="form-datas" value='<%=betLimit[i].delay%>' readonly></td>
            <td data-details="<%=JSON.stringify(betLimit[i])%>">
              <div class="btn-group">
                <button type="button" data-bs-toggle="modal" data-bs-target="#myModal2"class="btn update updateBetLimit">Update</button>
              </div>
            </td>
          </tr>
      <%}%>
  </tbody>
</table>