<section>
  <div class="container-fluid">
      <div class="table-data-section">
          <div class="data-table">
            <div class="rowId" data-rowid="1"></div>
<table class="bet-list-table">
<thead>
    <tr>
      <th>Type</th>
      <th>Min Stake</th>
      <th>Max Stake </th>
      <th>Max Profit</th>
      <th>Max Odd</th>
      <th>Delay</th>
      <th>Max Bet</th>
      <th>Actions </th>
      </tr>
</thead>
<tbody class="new-body">
  <tr>
    <td id="Home"><div class="bet-list-dropdown"><span dataId="home"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg></span>Home</div></td>
    <td><input type="text" class="form-datas" value="<%=homeData.min_stake%>"></td>
    <td><input type="text" class="form-datas" value="<%=homeData.max_stake%>"></td>
    <td><input type="text" class="form-datas" value="<%=homeData.max_profit%>"></td>
    <td><input type="text" class="form-datas" value="<%=homeData.max_odd%>"></td>
    <td><input type="text" class="form-datas" value="<%=homeData.delay%>"></td>
    <td><input type="text" class="form-datas" value="<%=homeData.max_bet%>"></td>
    <td>
      <div class="btn-group">
        <button type="button" class="btn update updateBetLimit">Update</button>
      </div>
    </td>
  </tr>

  <tr class="hide-row">
    <td id="Sport"><a href="/admin/betlimit/sport">Sports</a></td>
    <td><input type="text" class="form-datas" value="<%=sportData.min_stake%>" readonly=""></td>
    <td><input type="text" class="form-datas" value="<%=sportData.max_stake%>" readonly=""></td>
    <td><input type="text" class="form-datas" value="<%=sportData.max_profit%>" readonly=""></td>
    <td><input type="text" class="form-datas" value="<%=sportData.max_odd%>" readonly=""></td>
    <td><input type="text" class="form-datas" value="<%=homeData.delay%>" readonly=""></td>
    <td><input type="text" class="form-datas" value="<%=homeData.max_bet%>" readonly=""></td>
    <td>
      <div class="btn-group">
        <button type="button" data-bs-toggle="modal" data-bs-target="#myModal2" class="btn update updateBetLimit">Update</button>
      </div>
    </td>
  </tr>
</tbody>
</table>
          </div>
      </div>
  </div>
</section>