<table>
  <thead>
      <tr>
        <th>S.No</th>
        <th>Date</th>
        <th>White Label</th>
        <th>User Name</th>
        <th>Event</th>
        <th>Market </th>
        <th>Odds</th>
        <!-- <th>Bet On</th> -->
        <th>Stake</th>
        <th>Status</th>
        <th>Result</th>
        <th>Profit</th>
        <th>Loss</th>
        <th>IP</th>
        <th>Actions</th>                      
      </tr>
  </thead>
  <tbody class="new-body">
    <%if(bets.length !== 0){%>
    <% for(let i = 0; i < bets.length; i++){%>
      <% let date = new Date(bets[i].date)%>
      <%if(bets[i].bettype2 === 'BACK'){%>
          <tr class="back">
      <%}else{%>
          <tr class="lay">
      <%}%>
      <td><%=i + 1%></td>
      <%
      var options = { 
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric',
        hour12: true
    };
      var formattedTime = date.toLocaleString('en-US', options);
      %>
      <td class="date-time" ><%=formattedTime%></td>
      <td><%=bets[i].whitelabelData[0].whiteLabel%></td>
      <td><%=bets[i].userName%></td>
      <%if(bets[i].match){%>
        <td class="text-nowrap" ><%=bets[i].match%></td>
        <%if(bets[i].selectionName.includes('@')){%>
          <%
          let oddValue1 = bets[i].selectionName.split('@')[1]
          let selectionName = bets[i].selectionName.split('@')[0]
          let oddValue2 = bets[i].oddValue
          %>
          <td  class="text-nowrap"><%=bets[i].marketName%> - <%=oddValue2%> </td>
          <td><%=oddValue1%></td>
        <%}else{%>
          <td  class="text-nowrap"><%=bets[i].marketName%> - <%=bets[i].selectionName%> </td>
          <td><%=bets[i].oddValue%></td>
        <%}%>
      <%}else{%>
          <td>-</td>
          <td>-</td>
          <td>-</td>
      <%}%>
      <td><%=bets[i].Stake%></td>
      <td><%=bets[i].status%></td>
      <%if(bets[i].result){%>
        <td><%=bets[i].result%></td>
      <%}else{%>
        <td>-</td>
      <%}%>
      <!-- <%if(bets[i].status == 'OPEN' || bets[i].status == 'MAP'){%>
        <td><%=0%></td>
      <%}else{%>
        <td><%=bets[i].returns%></td>
      <%}%> -->
      <%if(bets[i].WinAmount){%>
        <td><%=bets[i].WinAmount%></td>
      <%}else{%>
        <td>-</td>
      <%}%>

      <%if(bets[i].exposure){%>
        <td><%=bets[i].exposure%></td>
        <%}else{%>
          <td>-</td>
      <%}%>
      <%if(bets[i].ip){%>
        <td><%=bets[i].ip%></td>
      <%}else{%>
        <td>-</td>
      <%}%>
      <td>
        <div class="btn-group">
          <!-- <button class="btn cancel" id="<%=bets[i]._id%>"> Cancel Bet</button> -->
         
          <%if(bets[i].status == 'Alert'){%>
            <button data-bs-toggle="modal" data-bs-target="#myModal2" class="btn alert flag-button" id="<%=bets[i]._id%>"><svg fill="#000000" height="800px" width="800px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
              viewBox="0 0 447.514 447.514" xml:space="preserve">
           <path d="M389.183,10.118c-3.536-2.215-7.963-2.455-11.718-0.634l-50.653,24.559c-35.906,17.409-77.917,16.884-113.377-1.418
             c-38.094-19.662-83.542-18.72-120.789,2.487V20c0-11.046-8.954-20-20-20s-20,8.954-20,20v407.514c0,11.046,8.954,20,20,20
             s20-8.954,20-20V220.861c37.246-21.207,82.694-22.148,120.789-2.487c35.46,18.302,77.47,18.827,113.377,1.418l56.059-27.18
             c7.336-3.557,11.995-10.993,11.995-19.146V20.385C394.866,16.212,392.719,12.333,389.183,10.118z"/>
           </svg></button>
           <%}else{%>
            <button data-bs-toggle="modal" data-bs-target="#myModal2" class="btn alert flag-button" id="<%=bets[i]._id%>"><svg fill="#000000" height="800px" width="800px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
              viewBox="0 0 489 489" xml:space="preserve">
           <g>
             <g>
               <path d="M454.3,31.6c-28.5-15.3-59.1-23.4-93.7-23.4c-40.7,0-81.5,11.2-120.2,21.4S166,50,130.4,50c-23.8,0-45.3-4.6-65.2-13.7
                 V20.4C65.2,9.2,56,0,44.8,0S24.4,9.2,24.4,20.4v448.2c0,11.2,9.2,20.4,20.4,20.4s20.4-9.2,20.4-20.4v-148
                 c20,6.9,41.2,10.5,64.2,10.5c40.7,0,81.5-11.2,120.2-20.4c38.7-10.2,74.4-20.4,110-20.4c27.5,0,52,6.1,74.4,18.3
                 c12.7,8.7,30.6-2.1,30.6-17.3V49.9C464.4,41.8,460.4,35.7,454.3,31.6z M423.7,258.8c-20.4-7.1-41.8-10.2-64.2-10.2
                 c-40.7,0-81.5,11.2-120.2,21.4s-74.4,20.4-110,20.4c-23.4,0-44.8-4.1-64.2-13.2V79.5c20.4,7.1,41.8,10.2,64.2,10.2
                 c40.7,0,81.5-11.2,120.2-21.4s74.4-20.4,110-20.4c23.4,0,44.8,4.1,64.2,13.2V258.8z"/>
             </g>
           </g>
           </svg></button>
          <%}%>
        </div>
      </td>
  </tr>
  <%}%>
    
   <%}else{%>
    <tr class="empty_table"><td>No record found</td></tr>
    <%}%>
  </tbody>
</table>