<%- include("../header") %>
<!--Container Main start-->
<div class="dashboard-main-wraper">
  <section class="dashboard-welcome-section">
    <div class="container-fluid">
      <div class="new-head"> 
        <h3 class="main-heading">My Account Statement</h3>
        <div class="rowId" data-rowid="1"></div>
        <form action="">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
            <input type="text" id="searchUserSdm" onkeyup="myFunction()" list=text_editors class="form-control searchUsersdm" placeholder="search user" aria-label="Username" aria-describedby="basic-addon1" autocomplete="off">
            <div class="wrapper">
              <ul id="search" class="users">
              </ul>
              <ul id="button" class="button">
              </ul>
            </div>
          </div>
        </form>
      </div>
      <%- include("../loginUserAdminsideDetails") %>
  </section>

  <section>
    <div class="container-fluid">
      <div class="table-data-section">
        <div class="table-heading">
          <div class="table-heading-btn">
            <form class="game-analysis-heading-from">
              <div class="input-group">
                <label>Transaction</label>
                <select name="transaction_type" id="transaction_type">
                  <option value="All" selected>All</option>
                  <option value="Deposit">Deposit</option>
                  <option value="Withdraw">Withdraw</option>
                  <option value="Settlement_Deposit">Settlement Deposit</option>
                  <option value="Settlement_Withdraw">Settlement Withdraw</option>
                  <!-- <option value="Bet_Settlement">Bet Settlement</option>
                  <option value="Rollback">Rollback</option>
                  <option value="Voided">Voided</option>
                  <option value="Incentive_Transfer">Incentive Transfer</option>
                  <option value="Claim_Incentive">Claim Incentive</option> -->
                </select>
              </div>
              <div class="input-group">
                <label>From Date</label>
                <input type = "date" id="Fdate"  > 
              </div>
              <div class="input-group">
                <label>To Date</label>
                <input type = "date" id="Tdate"  > 
              </div>
            </form>
            <!-- <button type="click" class="btn-filter load"> &nbsp; Load</button> -->
            <button  id="downloadBtn" class="btn-filter load">Download CSV</button>
            <button  id="pdfDownload" class="btn-filter load">Download PDF</button>
          </div>
        </div>
        <div class="data-table">
          <table id="table12">
            <thead>
              <tr>
                <th>Date</th>
                <th>Transaction</th>
                <th>From / To</th>
                <th>Opening Balance</th>
                <th>Amount</th>
                <th>Closing Balance</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody class="new-body">
              <%if(data.length !== 0){%>
              <%for(let i = 0; i < data.length; i++){%>
              <% let date = new Date(data[i].date)%>
              <%
                  var options = { 
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',
                    hour12: true
                };
                var formattedTime = date.toLocaleString('en-US', options);
              %>
              <%if((i%2 == 0)){%>
              <tr>
                <td class="text-nowrap" ><%=formattedTime%></td>
                <%if(data[i].description.startsWith('Chips')){%>
                  <%if(data[i].creditDebitamount > 0){%>
                    <td >Deposit</td>
                  <%}else{%>
                    <td >Withdraw</td>
                  <%}%>
                <%}else if(data[i].child_id) {%>
                  <%if(data[i].creditDebitamount > 0){%>
                    <td >Settlement Deposit</td>
                  <%}else{%>
                    <td >Settlement Withdraw</td>
                  <%}%>
                <%}else{%>
                  <td>commission Settlement</td>
                <%}%>
                <%if(data[i].creditDebitamount > 0){%>
                <%if(data[i].parent_id){%>
                <%if(data[i].parent_id.userName == data[i].user_id.userName){%>
                <%if(data[i].child_id == null){ %>
                <td>-/<%=data[i].parent_id.userName%></td>
                <%}else{ %>
                <td><%=data[i].child_id.userName%>/<%=data[i].parent_id.userName%></td>
                <%} %>
                <%}else{%>
                <%if(data[i].child_id == null){ %>
                <td><%=data[i].parent_id.userName%>/-</td>
                <%}else{ %>
                <td><%=data[i].parent_id.userName%>/<%=data[i].child_id.userName%></td>
                <%} %>
                <%}%>
                <%}else{%>
                <td>-</td>  
                <%}%>
                <%}else{%>
                <%if(data[i].parent_id){%>
                <%if(data[i].parent_id.userName == data[i].user_id.userName){%>
                <%if(data[i].child_id == null){ %>
                <td><%=data[i].parent_id.userName%>/-</td>
                <%}else{ %>
                <td><%=data[i].parent_id.userName%>/<%=data[i].child_id.userName%></td>
                <%} %>
                <%}else{%>
                <%if(data[i].child_id == null){ %>
                <td>-/<%=data[i].parent_id.userName%></td>
                <%}else{ %>
                <td><%=data[i].child_id.userName%>/<%=data[i].parent_id.userName%></td>
                <%} %>
                <%}%>
                <%}else{%>
                <td>-</td>  
                <%}%>
                <%}%>
                <td><%=(data[i].balance - data[i].creditDebitamount).toFixed(2)%></td>
                <td><%=data[i].creditDebitamount%></td>
                <td><%=data[i].balance%></td>
                <%if(data[i].Remark){%>
                  <td><%=data[i].Remark%></td>
                <%}else{%>
                  <td>-</td>
                <%}%>
              </tr>
              <%}else{%>
              <tr>
                <td class="text-nowrap" ><%=formattedTime%></td>
                <%if(data[i].description.startsWith('Chips')){%>
                  <%if(data[i].creditDebitamount > 0){%>
                    <td >Deposit</td>
                  <%}else{%>
                    <td >Withdraw</td>
                  <%}%>
                <%}else if(data[i].child_id) {%>
                  <%if(data[i].creditDebitamount > 0){%>
                    <td >Settlement Deposit</td>
                  <%}else{%>
                    <td >Settlement Withdraw</td>
                  <%}%>
                <%}else{%>
                  <td>commission Settlement</td>
                <%}%>
                <%if(data[i].creditDebitamount > 0){%>
                <%if(data[i].parent_id){%>
                <%if(data[i].parent_id.userName == data[i].user_id.userName){%>
                <%if(data[i].child_id == null){ %>
                <td>-/<%=data[i].parent_id.userName%></td>
                <%}else{ %>
                <td><%=data[i].child_id.userName%>/<%=data[i].parent_id.userName%></td>
                <%} %>
                <%}else{%>
                <%if(data[i].child_id == null){ %>
                <td><%=data[i].parent_id.userName%>/-</td>
                <%}else{ %>
                <td><%=data[i].parent_id.userName%>/<%=data[i].child_id.userName%></td>
                <%} %>
                <%}%>
                <%}else{%>
                <td>-</td>  
                <%}%>
                <%}else{%>
                <%if(data[i].parent_id){%>
                <%if(data[i].parent_id.userName == data[i].user_id.userName){%>
                <%if(data[i].child_id == null){ %>
                <td><%=data[i].parent_id.userName%>/-</td>
                <%}else{ %>
                <td><%=data[i].parent_id.userName%>/<%=data[i].child_id.userName%></td>
                <%} %>
                <%}else{%>
                <%if(data[i].child_id == null){ %>
                <td>-/<%=data[i].parent_id.userName%></td>
                <%}else{ %>
                <td><%=data[i].child_id.userName%>/<%=data[i].parent_id.userName%></td>
                <%} %>
                <%}%>
                <%}else{%>
                <td>-</td>  
                <%}%>
                <%}%>
                <td><%=(data[i].balance - data[i].creditDebitamount).toFixed(2)%></td>
                <td><%=data[i].creditDebitamount%></td>
                <td><%=data[i].balance%></td>
                <%if(data[i].Remark){%>
                  <td><%=data[i].Remark%></td>
                <%}else{%>
                  <td>-</td>
                <%}%>
              </tr>
              <%}%>
              <%}%>
              <%}else{%>
                <tr class="empty_table"><td>No record found</td></tr>
              <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <div class="pageLink" data-page="1"></div>

  <div class="meDetails" id="meDatails" data-me='<%=JSON.stringify(me)%>'></div>

  <!-- end gallary -->

  <div class="modal fade useracount-modal" id="myModal5" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">&times;</button>
        </div>
        <div class="modal-header" >
          <h4 class="modal-title">Transaction Details</h4>
        </div>
        <div class="modal-body">
          <div class="data-table">
            <table>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="load-more">
  
  <button class="load-more">Load More</button>
  
</div>

<script type="text/javascript" src="../js/bundle.js"></script>
<script>
  function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("searchUser");
    filter = input.value.toUpperCase();
    ul = document.getElementById("search");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        txtValue = li.textContent || li.innerText;
    }
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.40.0/dist/apexcharts.min.js"></script>
<script type="text/javascript" src="../js/bundle.js"></script>


</body>
    </html> 