<section>
    <div class="container-fluid">
        <div class="table-data-section">
            
            <div class="data-table">
              <div class="rowId" data-rowid="1"></div>
  <table class="bet-list-table">
      <%if(series.length > 0){%>
        <thead>
            <tr>
                <th>Competition</th>
                <th>Min Stake</th>
                <th>Max Stake </th>
                <th>Max Profit</th>
                <th>Max Odd</th>
                <th>Delay</th>
                <th>Actions </th>
                </tr>
        </thead>
        <tbody class="new-body">
  
  
  
  
            <!-- CRICKET -->
            <%for(let i = 0; i < series.length; i++){%>
              <%
                
                let limitData = betLimit.find(item => item.type == series[i].series)
              %>
              <%if(limitData){%>
                <tr id="<%=i + 1%>">
                  <td id="<%=series[i].series%>" class="btn-filter"><a href="/admin/betlimit/sports/event?event=<%=series[i].series%>"><%=series[i].series%></a></td>
                  <td><input type="text" class="form-datas" value="<%=limitData.min_stake%>" readonly=""></td>
                  <td><input type="text" class="form-datas" value="<%=limitData.max_stake%>" readonly=""></td>
                  <td><input type="text" class="form-datas" value="<%=limitData.max_profit%>" readonly=""></td>
                  <td><input type="text" class="form-datas" value="<%=limitData.max_odd%>" readonly=""></td>
                  <td><input type="text" class="form-datas" value="<%=limitData.delay%>" readonly=""></td>
                  <td>
                    <div class="btn-group">
                      <button type="button" data-bs-toggle="modal" data-bs-target="#myModal2"class="btn update updateBetLimit">Update</button>
                    </div>
                  </td>
                </tr>
              <%}else{%>
                <tr id="<%=i + 1%>">
                    <td id="<%=series[i].series%>" class="btn-filter"><a href="/admin/betlimit/sports/event?event=<%=series[i].series%>"><%=series[i].series%></a></td>
                    <td><input type="text" class="form-datas" value="0" readonly=""></td>
                    <td><input type="text" class="form-datas" value="0" readonly=""></td>
                    <td><input type="text" class="form-datas" value="0" readonly=""></td>
                    <td><input type="text" class="form-datas" value="0" readonly=""></td>
                    <td><input type="text" class="form-datas" value="0" readonly=""></td>
                    <td>
                      <div class="btn-group">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#myModal2"class="btn update updateBetLimit">Update</button>
                      </div>
                    </td>
                  </tr>
              <%}%>
            <%}%>
        </tbody>
    <%}else{%>
        <tr class="empty_table"><td>No <%=gameName%> Series! </td></tr>
    <%}%>
  </table>
            </div>
        </div>
    </div>
  </section>