<section>
    <div class="container-fluid">
        <div class="table-data-section">
            <div class="data-table">
              <div class="rowId" data-rowid="1"></div>
  <table class="bet-list-table">
      <%if(seriesMatch.length > 0){%>
        <thead>
            <tr>
                <!-- <th>Date</th> -->
                <th> <div class="date-match-wrap" ><span class="date-span" >Date</span> Competition</div></th>
                <th>Min Stake</th>
                <th>Max Stake </th>
                <th>Max Profit</th>
                <th>Max Odd</th>
                <th>Delay</th>
                <th>Actions </th>
                </tr>
        </thead>
        <tbody class="new-body">
  
  
  
  
            <!-- CRICKET -->
            <%for(let i = 0; i < seriesMatch.length; i++){%>
              <%
                let limitData = betLimit.find(item => item.type == seriesMatch[i].eventData.name)
                var timestamp = `${seriesMatch[i].eventData.time}` * 1000; 
                  var date = new Date(timestamp);
                  var options = { 
                    day: '2-digit',
                    month: 'short',
                    hour: 'numeric',
                    minute: 'numeric',
                    hour12: true // This ensures the time is displayed in AM/PM format
                  };
                  var formattedTime = date.toLocaleString('en-US', options);
              %>
                
                  <%if(limitData){%>
                    <tr id="<%=i + 1%>">
                      <!-- <td></td> -->
                      <td id="<%=seriesMatch[i].eventData.name%>" class="btn-filter"><div class="date-match-wrap" >  <span class="date-span"><%=formattedTime%></span> <a href="/admin/betlimit/sports/match?match=<%=seriesMatch[i].eventData.name%>">  <%=seriesMatch[i].eventData.name%></a></div></td>
                      <td><input type="text" class="form-datas" name="min_stake"  value="<%=limitData.min_stake%>" ></td>
                      <td><input type="text" class="form-datas" name="max_stake" value="<%=limitData.max_stake%>" ></td>
                      <td><input type="text" class="form-datas" name="max_profit" value="<%=limitData.max_profit%>" ></td>
                      <td><input type="text" class="form-datas" name="max_odd" value="<%=limitData.max_odd%>" ></td>
                      <td><input type="text" class="form-datas" name="delay" value="<%=limitData.delay%>" ></td>
                      <td>
                        <div class="btn-group">
                            <button type="button" class="btn update updateBetLimit">Update</button>
                        </div>
                      </td>
                    </tr>
                  <%}else{%>
                    <tr id="<%=i + 1%>">
                      <!-- <td><%=formattedTime%></td> -->
                      <td id="<%=seriesMatch[i].eventData.name%>" class="btn-filter"><div class="date-match-wrap" >  <span class="date-span" ><%=formattedTime%></span> <a href="/admin/betlimit/sports/match?match=<%=seriesMatch[i].eventData.name%>"> <%=seriesMatch[i].eventData.name%></a></div></td>
                        <td><input type="text"  class="form-datas" name="min_stake"  value="0" ></td>
                        <td><input type="text" class="form-datas" name="max_stake" value="0" ></td>
                        <td><input type="text" class="form-datas" name="max_profit" value="0" ></td>
                        <td><input type="text" class="form-datas" name="max_odd" value="0" ></td>
                        <td><input type="text" class="form-datas" name="delay" value="0" ></td>
                        <td>
                          <div class="btn-group">
                          
                            <button type="button" class="btn update updateBetLimit">Update</button>
                          </div>
                        </td>
                      </tr>
                  <%}%>
            <%}%>
        </tbody>
    <%}else{%>
        <tr class="empty_table"><td>No <%=gameName%> Series! </td></tr>
    <%}%>
  </table>
            </div>
        </div>
    </div>
  </section>