<div class="exchange-pg-inn-banner-col2">
    <div class="exchange-pg-inn-banner-col-titi">
      <div class="exchange-pg-inn-banner-col-titi-txt">
          <h6><span>Fancy</span> <span class="game-info-popup-spn" data-bs-toggle="modal" data-bs-target="#gameroulspop"> 
            <i class="fa-solid fa-circle-info"></i> 
          </span></h6>
      </div>
      
    </div>

    <div class="exch-pg-inn-fancy-tab-wrp">
      <ul class="nav nav-pills mb-3 exch-pg-inn-fancy-tab-ul" id="pills-tab" role="tablist">
        <li class="nav-item exch-pg-inn-fancy-tab-li" role="presentation">
          <button class="nav-link active exch-pg-inn-fancy-tab-btn" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">All</button>
        </li>
        <%if(match.marketList.session != null){%>
          <%let sessionData = match.marketList.session.filter(item =>  item.status == 1 && item.bet_allowed == 1 && item.game_over == 0 && !item.title.startsWith("Only") && item.title.includes("Over"))%>
          <%if(sessionData.length > 0){ %>
            <li class="nav-item exch-pg-inn-fancy-tab-li" role="presentation">
              <button class="nav-link exch-pg-inn-fancy-tab-btn" id="fancytab5-tab" data-bs-toggle="pill" data-bs-target="#fancytab5" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Session</button>
            </li>
          <%} %>
          <% let dataSessionOnly = match.marketList.session.filter(item =>  item.status == 1 && item.bet_allowed == 1 && item.game_over == 0 && item.title.startsWith("Only")) %>
          <%if(dataSessionOnly.length > 0){%>
            <li class="nav-item exch-pg-inn-fancy-tab-li" role="presentation">
              <button class="nav-link exch-pg-inn-fancy-tab-btn" id="fancytab3-tab" data-bs-toggle="pill" data-bs-target="#fancytab3" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Only Over</button>
            </li>
          <%} %>
          <% let dataNotOnly = match.marketList.session.filter(item =>  item.status == 1 && item.bet_allowed == 1 && item.game_over == 0 && !item.title.includes("Over")) %>
          <%if(dataNotOnly.length > 0 ) {%>
            <li class="nav-item exch-pg-inn-fancy-tab-li" role="presentation">
              <button class="nav-link exch-pg-inn-fancy-tab-btn" id="fancytab4-tab" data-bs-toggle="pill" data-bs-target="#fancytab4" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">W/P Market</button>
            </li>
          <%} %>
        <%}%>
        <%if(match.marketList.odd_even != null){%>
          <li class="nav-item exch-pg-inn-fancy-tab-li" role="presentation">
            <button class="nav-link exch-pg-inn-fancy-tab-btn" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Odd/Even</button>
          </li>
        <%}%>        
      </ul>
      <div class="tab-content exch-pg-inn-fancy-tab-txt" id="pills-tabContent">
        <div class="exch-pg-inn-fancy-tab-txtdv tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
          <div class="exch-pg-inn-fancy-tab-txt-inn">
           
            <%if(match.marketList.session != null){%>
              <%let sessionData = match.marketList.session.filter(item =>  item.status == 1 && item.bet_allowed == 1 && item.game_over == 0 && !item.title.startsWith("Only") &&  item.title.includes("Over"))%>
              <%if(sessionData.length > 0){ %>
                <div class="exch-pg-inn-fancy-tab-txt-inn-scrol">
                  <table class="acount-stat-tbl mt-2">
      
                    <thead class="acount-stat-tbl-hed3">
                        <tr class="acount-stat-tbl-hed-tr3" >
                            <th colspan="2" style="text-align: left;" class="bod-red-lft " >Sessions</th>
                            <th style="text-align: center;" colspan=""></th>
                            <th style="text-align: center;" colspan="" class="bod-red-rit">NO</th>
                            <th style="text-align: center;" colspan="">YES</th>
                        </tr>
                    </thead>
      
                    <tbody class="acount-stat-tbl-body">
                        <%for(let i = 0; i < sessionData.length; i++){%>
                          <tr class="acount-stat-tbl-body-tr odd_even" data-href='#'>
                            <td colspan="2" style="text-align: left;" class="market" id="<%=sessionData[i].marketId%>">
                              <%=sessionData[i].title%>
                              <%if(commissionmarkerarr.includes(sessionData[i].marketId)){%>
                                <span class="blink-commission-bookmaker">*</span>
                              <%}%>
                            </td>
    
                            <td><span class="c-activee market-limit" id="<%=sessionData[i].marketId%>">Min : <%=minFancy%>, Max : <%=maxFancy%></span></td>
                            
                            <td class="tbl-td-with5">
                                <snan data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-sessionData-<%=i%>" class="tbl-bg-pech-spn button only_over_red" id="<%=sessionData[i].marketId%>2">
                                    
                                </snan> 
                                
                            </td>  
                            <td class="tbl-td-with5">
                                <snan data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-sessionData-<%=i%>" class="tbl-bg-blu-spn button only_over_blue" id="<%=sessionData[i].marketId%>1">
                                    
                                </snan> 
                                <div class="match-status-message">
                                </div>
                            </td>
    
                        </tr>
                        <tr>
                          <td colspan="8">
                            <div class="my-exc-inn-colaps-txt-dv collapse" id="bt-slp-colps-sessionData-<%=i%>" >
                              <%-include("../betslip")%>
                            </div>
                          </td>
                        </tr>
                        <%}%>
                        
                    </tbody>
      
                  </table>
                </div>
              <%} %>
              <% let dataSessionOnly = match.marketList.session.filter(item =>  item.status == 1 && item.bet_allowed == 1 && item.game_over == 0 && item.title.startsWith("Only")) %>
              <%if(dataSessionOnly.length > 0){%>
                  <div class="exch-pg-inn-fancy-tab-txt-inn-scrol">
                    <table class="acount-stat-tbl mt-2">
        
                      <thead class="acount-stat-tbl-hed3">
                          <tr class="acount-stat-tbl-hed-tr3" >
                              <th colspan="2" style="text-align: left;" class="bod-red-lft " >Only Over</th>
                              <th style="text-align: center;" colspan=""></th>
                              <th style="text-align: center;" colspan="" class="bod-red-rit">NO</th>
                              <th style="text-align: center;" colspan="">YES</th>
                          </tr>
                      </thead>
        
                      <tbody class="acount-stat-tbl-body">
                          <%for(let i = 0; i < dataSessionOnly.length; i++){%>
                            <tr class="acount-stat-tbl-body-tr odd_even" data-href='#'>
                              <td colspan="2" style="text-align: left;" class="market" id="<%=dataSessionOnly[i].marketId%>">
                                <%=dataSessionOnly[i].title%>
                                <%if(commissionmarkerarr.includes(dataSessionOnly[i].marketId)){%>
                                  <span class="blink-commission-bookmaker">*</span>
                                <%}%>
                              </td>
      
                              <td><span class="c-activee market-limit" id="<%=dataSessionOnly[i].marketId%>">Min : <%=minFancy%>, Max : <%=maxFancy%></span></td>
                              <td class="tbl-td-with5">
                                  <snan data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-dataSessionOnly-<%=i%>" class="tbl-bg-pech-spn button only_over_red" id="<%=dataSessionOnly[i].marketId%>2">
                                      
                                  </snan> 
                                  
                              </td>  
                              
                              <td class="tbl-td-with5">
                                  <snan data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-dataSessionOnly-<%=i%>" class="tbl-bg-blu-spn button only_over_blue" id="<%=dataSessionOnly[i].marketId%>1">
                                      
                                  </snan> 
                                  <div class="match-status-message">
                                  </div>
                              </td>
      
                          </tr>
                          <tr>
                            <td colspan="8">
                              <div class="my-exc-inn-colaps-txt-dv collapse" id="bt-slp-colps-dataSessionOnly-<%=i%>" >
                                <%-include("../betslip")%>
                              </div>
                            </td>
                          </tr>
                          <%}%>
                          
                      </tbody>
        
                    </table>
                  </div>
              <%} %>

            <% let dataNotOnly = match.marketList.session.filter(item =>  item.status == 1 && item.bet_allowed == 1 && item.game_over == 0 && !item.title.includes("Over")) %>
            <%if(dataNotOnly.length > 0) {%>
              <div class="exch-pg-inn-fancy-tab-txt-inn-scrol">
                <table class="acount-stat-tbl mt-2">
    
                  <thead class="acount-stat-tbl-hed3">
                      <tr class="acount-stat-tbl-hed-tr3" >
                          <th colspan="2" style="text-align: left;" class="bod-red-lft " >W/P Market</th>
                          <th style="text-align: center;" colspan=""></th>
                          <th style="text-align: center;" colspan="" class="bod-red-rit">NO</th>
                          <th style="text-align: center;" colspan="">YES</th>
                      </tr>
                  </thead>
    
                  <tbody class="acount-stat-tbl-body">
                    
                      <%for(let i = 0; i < dataNotOnly.length; i++){%>
                        <tr class="acount-stat-tbl-body-tr odd_even" data-href='#'>
                          <td colspan="2" style="text-align: left;" class="market" id="<%=dataNotOnly[i].marketId%>">
                            <%=dataNotOnly[i].title%>
                            <%if(commissionmarkerarr.includes(dataNotOnly[i].marketId)){%>
                              <span class="blink-commission-bookmaker">*</span>
                            <%}%>
                          </td>
  
                          <td><span class="c-activee market-limit" id="<%=dataNotOnly[i].marketId%>">Min : <%=minFancy%>, Max : <%=maxFancy%></span></td>
                          <td class="tbl-td-with5">
                              <snan data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-dataNotOnly-<%=i%>" class="tbl-bg-pech-spn button only_over_red" id="<%=dataNotOnly[i].marketId%>2">
                                  
                              </snan> 
                              
                          </td>  
                          
                          <td class="tbl-td-with5">
                              <snan data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-dataNotOnly-<%=i%>" class="tbl-bg-blu-spn button only_over_blue" id="<%=dataNotOnly[i].marketId%>1">
                                  
                              </snan> 
                              <div class="match-status-message">
                              </div>
                          </td>
  
                      </tr>
                      <tr>
                        <td colspan="8">
                          <div class="my-exc-inn-colaps-txt-dv collapse" id="bt-slp-colps-dataNotOnly-<%=i%>" >
                            <%-include("../betslip")%>
                          </div>
                        </td>
                      </tr>
                      <%}%>
                      
                  </tbody>
    
                </table>
              </div>
            <%} %>
            <%}%>
            <%if(match.marketList.odd_even != null){%>
              <div class="exch-pg-inn-fancy-tab-txt-inn-scrol">
                <table class="acount-stat-tbl mt-2">
  
                  <thead class="acount-stat-tbl-hed3">
                      <tr class="acount-stat-tbl-hed-tr3" >
                          <th colspan="2" style="text-align: left;" class="bod-red-lft " >Odd/Even</th>
                          <th style="text-align: center;" colspan=""></th>
                          <th style="text-align: center;" colspan="" class="bod-red-rit">NO</th>
                          <th style="text-align: center;" colspan="">YES</th>
                      </tr>
                  </thead>
  
                  <tbody class="acount-stat-tbl-body">
                      <%for(let i = 0; i < match.marketList.odd_even.length; i++){%>
                          <tr class="acount-stat-tbl-body-tr odd_even" data-href='#'>
                              <td colspan="2" style="text-align: left;" class="market" id="<%=match.marketList.odd_even[i].marketId%>">
                                <%=match.marketList.odd_even[i].title%>
                                <%if(commissionmarkerarr.includes(match.marketList.odd_even[i].marketId)){%>
                                  <span class="blink-commission-bookmaker">*</span>
                                <%}%>
                              </td>
      
                              <td><span class="c-activee market-limit" id="<%=match.marketList.odd_even[i].marketId%>">Min : <%=minFancy%>, Max : <%=maxFancy%></span></td>
                              
                              
                              <td class="tbl-td-with5">
                                <snan data-bs-toggle="collapse" %>" role="button" aria-expanded="false" aria-controls="bt-slp-colps-odd-even-<%=i%>" class="tbl-bg-pech-spn button odd_even_red" id="<%=match.marketList.odd_even[i].marketId%>2">
                                  
                                </snan> 
                                
                              </td> 
                              
                              <td class="tbl-td-with5">
                                  <snan data-bs-toggle="collapse" %>" role="button" aria-expanded="false" aria-controls="bt-slp-colps-odd-even-<%=i%>" class="tbl-bg-blu-spn button odd_even_blue" id="<%=match.marketList.odd_even[i].marketId%>1">
                                      
                                  </snan> 
                                  <div class="match-status-message">
                                  </div> 
                              </td>
                          </tr>
                          <tr>
                            <td colspan="8">
                              <div class="my-exc-inn-colaps-txt-dv collapse" id="bt-slp-colps-odd-even-<%=i%>" >
                                <%-include("../betslip")%>
                              </div>
                            </td>
                          </tr>
                      <%}%>
                      
                  </tbody>
  
                </table>
              </div>
              <%}%>
              
            

          </div>
        </div>




        <%if(match.marketList.session != null){%>
        <%let sessionData = match.marketList.session.filter(item =>  item.status == 1 && item.bet_allowed == 1 && item.game_over == 0 && !item.title.startsWith("Only") &&  item.title.includes("Over"))%>
        <%if(sessionData.length > 0){ %>
        <div class="exch-pg-inn-fancy-tab-txtdv tab-pane fade" id="fancytab5" role="tabpanel" aria-labelledby="fancytab5-tab" tabindex="0">
          <div class="exch-pg-inn-fancy-tab-txt-inn-scrol">
            <table class="acount-stat-tbl mt-2">

              <thead class="acount-stat-tbl-hed3">
                  <tr class="acount-stat-tbl-hed-tr3" >
                      <th colspan="2" style="text-align: left;" class="bod-red-lft " >Sessions</th>
                      <th style="text-align: center;" colspan=""></th>
                      <th style="text-align: center;" colspan="">YES</th>
                      <th style="text-align: center;" colspan="" class="bod-red-rit">NO</th>
                  </tr>
              </thead>

              <tbody class="acount-stat-tbl-body">
                  <%for(let i = 0; i < sessionData.length; i++){%>
                    <tr class="acount-stat-tbl-body-tr odd_even" data-href='#'>
                      <td colspan="2" style="text-align: left;" class="market" id="<%=sessionData[i].marketId%>">
                        <%=sessionData[i].title%>
                        <%if(commissionmarkerarr.includes(sessionData[i].marketId)){%>
                          <span class="blink-commission-bookmaker">*</span>
                        <%}%>
                      </td>

                      <td><span class="c-activee market-limit" id="<%=sessionData[i].marketId%>">Min : <%=minFancy%>, Max : <%=maxFancy%></span></td>
                      
                      <td class="tbl-td-with5">
                          <snan data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-sessionData-<%=i%>" class="tbl-bg-blu-spn button only_over_blue" id="<%=sessionData[i].marketId%>1">
                              
                          </snan> 
                      </td>

                      <td class="tbl-td-with5">
                          <snan data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-sessionData-<%=i%>" class="tbl-bg-pech-spn button only_over_red" id="<%=sessionData[i].marketId%>2">
                              
                          </snan> 
                          <div class="match-status-message">
                          </div>
                      </td>  
                      
                  </tr>
                  <tr>
                    <td colspan="8">
                      <div class="my-exc-inn-colaps-txt-dv collapse" id="bt-slp-colps-sessionData-<%=i%>" >
                        <%-include("../betslip")%>
                      </div>
                    </td>
                  </tr>
                  <%}%>
                  
              </tbody>

            </table>
          </div>
        </div>
        <%} %>
        <%} %>


        <%if(match.marketList.odd_even != null){%>
          <div class="exch-pg-inn-fancy-tab-txtdv tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            <div class="exch-pg-inn-fancy-tab-txt-inn-scrol">
              <table class="acount-stat-tbl mt-2">
  
                <thead class="acount-stat-tbl-hed3">
                    <tr class="acount-stat-tbl-hed-tr3" >
                        <th colspan="2" style="text-align: left;" class="bod-red-lft " >Odd/Even</th>
                        <th style="text-align: center;" colspan=""></th>
                        <th style="text-align: center;" colspan="">YES</th>
                        <th style="text-align: center;" colspan="" class="bod-red-rit">NO</th>
                    </tr>
                </thead>
  
                <tbody class="acount-stat-tbl-body">
                    <%for(let i = 0; i < match.marketList.odd_even.length; i++){%>
                      <tr class="acount-stat-tbl-body-tr odd_even" data-href='#'>
                        <td colspan="2" style="text-align: left;" class="market" id="<%=match.marketList.odd_even[i].marketId%>">
                          <%=match.marketList.odd_even[i].title%>
                          <%if(commissionmarkerarr.includes(match.marketList.odd_even[i].marketId)){%>
                            <span class="blink-commission-bookmaker">*</span>
                          <%}%>
                        </td>

                        <td><span class="c-activee market-limit" id="<%=match.marketList.odd_even[i].marketId%>">Min : <%=minFancy%>, Max : <%=maxFancy%></span></td>
                        
                        <td class="tbl-td-with5">
                            <snan data-bs-toggle="collapse" %>" role="button" aria-expanded="false" aria-controls="bt-slp-colps-odd-even-<%=i%>" class="tbl-bg-blu-spn button odd_even_blue" id="<%=match.marketList.odd_even[i].marketId%>1">
                                
                            </snan> 
                        </td>

                        <td class="tbl-td-with5">
                            <snan data-bs-toggle="collapse" %>" role="button" aria-expanded="false" aria-controls="bt-slp-colps-odd-even-<%=i%>" class="tbl-bg-pech-spn button odd_even_red" id="<%=match.marketList.odd_even[i].marketId%>2">
                                
                            </snan> 
                            <div class="match-status-message">
                            </div>
                        </td> 
                         
                    </tr>
                    <tr>
                      <td colspan="8">
                        <div class="my-exc-inn-colaps-txt-dv collapse" id="bt-slp-colps-odd-even-<%=i%>" >
                          <%-include("../betslip")%>
                        </div>
                      </td>
                    </tr>
                    <%}%>
                    
                </tbody>
  
              </table>
            </div>
          </div>
        <%}%>

        <%if(match.marketList.session != null){%>
          <% let dataSessionOnly = match.marketList.session.filter(item =>  item.status == 1 && item.bet_allowed == 1 && item.game_over == 0 && item.title.startsWith("Only")) %>
          <%if(dataSessionOnly.length != 0){%>
            <div class="exch-pg-inn-fancy-tab-txtdv tab-pane fade" id="fancytab3" role="tabpanel" aria-labelledby="fancytab3-tab" tabindex="0">
              <div class="exch-pg-inn-fancy-tab-txt-inn-scrol">
                <table class="acount-stat-tbl mt-2">
    
                  <thead class="acount-stat-tbl-hed3">
                      <tr class="acount-stat-tbl-hed-tr3" >
                          <th colspan="2" style="text-align: left;" class="bod-red-lft " >Only Over</th>
                          <th style="text-align: center;" colspan=""></th>
                          <th style="text-align: center;" colspan="">YES</th>
                          <th style="text-align: center;" colspan="" class="bod-red-rit">NO</th>
                      </tr>
                  </thead>
    
                  <tbody class="acount-stat-tbl-body">
                      <%for(let i = 0; i < dataSessionOnly.length; i++){%>
                        <tr class="acount-stat-tbl-body-tr odd_even" data-href='#'>
                          <td colspan="2" style="text-align: left;" class="market" id="<%=dataSessionOnly[i].marketId%>">
                            <%=dataSessionOnly[i].title%>
                            <%if(commissionmarkerarr.includes(dataSessionOnly[i].marketId)){%>
                              <span class="blink-commission-bookmaker">*</span>
                            <%}%>
                          </td>
  
                          <td><span class="c-activee market-limit" id="<%=dataSessionOnly[i].marketId%>">Min : <%=minFancy%>, Max : <%=maxFancy%></span></td>
                          
                          <td class="tbl-td-with5">
                              <snan data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-dataSessionOnly-<%=i%>" class="tbl-bg-blu-spn button only_over_blue" id="<%=dataSessionOnly[i].marketId%>1">
                                  
                              </snan> 
                          </td>
  
                          <td class="tbl-td-with5">
                              <snan data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-dataSessionOnly-<%=i%>" class="tbl-bg-pech-spn button only_over_red" id="<%=dataSessionOnly[i].marketId%>2">
                                  
                              </snan> 
                              <div class="match-status-message">
                              </div> 
                          </td>  
                      </tr>
                      <tr>
                        <td colspan="8">
                          <div class="my-exc-inn-colaps-txt-dv collapse" id="bt-slp-colps-dataSessionOnly-<%=i%>" >
                            <%-include("../betslip")%>
                          </div>
                        </td>
                      </tr>
                      <%}%>
                      
                  </tbody>
    
                </table>
              </div>
            </div>
          <%} %>
        <%}%>
        

        <%if(match.marketList.session != null){%>
        <% let dataNotOnly = match.marketList.session.filter(item =>  item.status == 1 && item.bet_allowed == 1 && item.game_over == 0 && !item.title.includes("Over")) %>
        <%if(dataNotOnly.length > 0) {%>
          <div class="exch-pg-inn-fancy-tab-txtdv tab-pane fade" id="fancytab4" role="tabpanel" aria-labelledby="fancytab4-tab" tabindex="0">
            <div class="exch-pg-inn-fancy-tab-txt-inn-scrol">
              <table class="acount-stat-tbl mt-2">
  
                <thead class="acount-stat-tbl-hed3">
                    <tr class="acount-stat-tbl-hed-tr3" >
                        <th colspan="2" style="text-align: left;" class="bod-red-lft " >W/P Market</th>
                        <th style="text-align: center;" colspan=""></th>
                        <th style="text-align: center;" colspan="">YES</th>
                        <th style="text-align: center;" colspan="" class="bod-red-rit">NO</th>
                    </tr>
                </thead>
  
                <tbody class="acount-stat-tbl-body">
                    <%for(let i = 0; i < dataNotOnly.length; i++){%>
                      <tr class="acount-stat-tbl-body-tr odd_even" data-href='#'>
                        <td colspan="2" style="text-align: left;" class="market" id="<%=dataNotOnly[i].marketId%>">
                          <%=dataNotOnly[i].title%>
                          <%if(commissionmarkerarr.includes(dataNotOnly[i].marketId)){%>
                            <span class="blink-commission-bookmaker">*</span>
                          <%}%>
                        </td>

                        <td><span class="c-activee market-limit" id="<%=dataNotOnly[i].marketId%>">Min : <%=minFancy%>, Max : <%=maxFancy%></span></td>
                        
                        <td class="tbl-td-with5">
                            <snan data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-dataNotOnly-<%=i%>" class="tbl-bg-blu-spn button only_over_blue" id="<%=dataNotOnly[i].marketId%>1">
                                
                            </snan> 
                        </td>

                        <td class="tbl-td-with5">
                            <snan data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-dataNotOnly-<%=i%>" class="tbl-bg-pech-spn button only_over_red" id="<%=dataNotOnly[i].marketId%>2">
                                
                            </snan> 
                            <div class="match-status-message">
                            </div> 
                        </td>  
                    </tr>
                    <tr>
                      <td colspan="8">
                        <div class="my-exc-inn-colaps-txt-dv collapse" id="bt-slp-colps-dataNotOnly-<%=i%>" >
                          <%-include("../betslip")%>
                        </div>
                      </td>
                    </tr>
                    <%}%>
                    
                </tbody>
  
              </table>
            </div>
          </div>
        <%} %>
        <%} %>
        
      </div>
    </div>
  </div>