<div class="exchange-pg-inn-banner-col2">
    <div class="exchange-pg-inn-banner-col-titi">
      <div class="exchange-pg-inn-banner-col-titi-txt">
          <h6><span>Fancy</span> &nbsp; <i class="fa-solid fa-circle-info"></i></h6>
      </div>
      
    </div>

    <div class="exch-pg-inn-fancy-tab-wrp">
      <ul class="nav nav-pills mb-3 exch-pg-inn-fancy-tab-ul" id="pills-tab" role="tablist">
        <li class="nav-item exch-pg-inn-fancy-tab-li" role="presentation">
          <button class="nav-link active exch-pg-inn-fancy-tab-btn" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">tab-01</button>
        </li>
        <li class="nav-item exch-pg-inn-fancy-tab-li" role="presentation">
          <button class="nav-link exch-pg-inn-fancy-tab-btn" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">tab-02</button>
        </li>
        <li class="nav-item exch-pg-inn-fancy-tab-li" role="presentation">
          <button class="nav-link exch-pg-inn-fancy-tab-btn" id="fancytab4-tab" data-bs-toggle="pill" data-bs-target="#fancytab4" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">tab-03</button>
        </li>
        <li class="nav-item exch-pg-inn-fancy-tab-li" role="presentation">
          <button class="nav-link exch-pg-inn-fancy-tab-btn" id="fancytab3-tab" data-bs-toggle="pill" data-bs-target="#fancytab3" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">tab-04</button>
        </li>
        <li class="nav-item exch-pg-inn-fancy-tab-li" role="presentation">
          <button class="nav-link exch-pg-inn-fancy-tab-btn" id="fancytab5-tab" data-bs-toggle="pill" data-bs-target="#fancytab5" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">tab-05</button>
        </li>
        <li class="nav-item exch-pg-inn-fancy-tab-li" role="presentation">
          <button class="nav-link exch-pg-inn-fancy-tab-btn" id="fancytab6-tab" data-bs-toggle="pill" data-bs-target="#fancytab6" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">tab-06</button>
        </li>
        
      </ul>
      <div class="tab-content exch-pg-inn-fancy-tab-txt" id="pills-tabContent">
        <div class="exch-pg-inn-fancy-tab-txtdv tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
          <div class="exch-pg-inn-fancy-tab-txt-inn">
            <div class="exch-pg-inn-fancy-tab-txt-inn-scrol">
              <table class="acount-stat-tbl">

                <thead class="acount-stat-tbl-hed3">
                    <tr class="acount-stat-tbl-hed-tr3" >
                        <th colspan="2" style="text-align: left;" class="bod-red-lft ">Sessions</th>
                        <th style="text-align: center;" colspan=""></th>
                        <th style="text-align: center;" colspan="">No</th>
                        <th style="text-align: center;" colspan="" class="bod-red-rit">Yes</th>
                    </tr>
                </thead>

                <tbody class="acount-stat-tbl-body">
                    <tr class="acount-stat-tbl-body-tr tbl-data-href" data-href='#'>
                        <td colspan="2" style="text-align: left;">
                          1st inning runs Bangladesh
                        </td>

                        <td><span class="c-activee">Min : 100, Max : 5K</span></td>
                        
                        <td >
                            <span class="tbl-bg-blu-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>

                        

                        <td >
                            <span class="tbl-bg-pech-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>  
                    </tr>
                    <tr class="acount-stat-tbl-body-tr tbl-data-href" data-href='#'>
                        <td colspan="2" style="text-align: left;">
                          1st inning runs Bangladesh
                        </td>

                        <td><span class="c-activee">Min : 100, Max : 5K</span></td>
                        
                        <td >
                            <span class="tbl-bg-blu-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>

                        

                        <td >
                            <span class="tbl-bg-pech-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>  
                    </tr>
                    <tr class="acount-stat-tbl-body-tr tbl-data-href" data-href='#'>
                        <td colspan="2" style="text-align: left;">
                          1st inning runs Bangladesh
                        </td>

                        <td><span class="c-activee">Min : 100, Max : 5K</span></td>
                        
                        <td >
                            <span class="tbl-bg-blu-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>

                        

                        <td >
                            <span class="tbl-bg-pech-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>  
                    </tr>
                    
                    
                </tbody>

              </table>
            </div>

            <div class="exch-pg-inn-fancy-tab-txt-inn-scrol">
              <table class="acount-stat-tbl mt-2">

                <thead class="acount-stat-tbl-hed3">
                    <tr class="acount-stat-tbl-hed-tr3" >
                        <th colspan="2" style="text-align: left;" class="bod-red-lft ">W/P Market</th>
                        <th style="text-align: center;" colspan=""></th>
                        <th style="text-align: center;" colspan="">No</th>
                        <th style="text-align: center;" colspan="" class="bod-red-rit">Yes</th>
                    </tr>
                </thead>

                <tbody class="acount-stat-tbl-body">
                    <tr class="acount-stat-tbl-body-tr tbl-data-href" data-href='#'>
                        <td colspan="2" style="text-align: left;">
                          1st inning runs Bangladesh
                        </td>

                        <td><span class="c-activee">Min : 100, Max : 5K</span></td>
                        
                        <td >
                            <span class="tbl-bg-blu-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>

                        

                        <td >
                            <span class="tbl-bg-pech-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>  
                    </tr>
                    <tr class="acount-stat-tbl-body-tr tbl-data-href" data-href='#'>
                        <td colspan="2" style="text-align: left;">
                          1st inning runs Bangladesh
                        </td>

                        <td><span class="c-activee">Min : 100, Max : 5K</span></td>
                        
                        <td >
                            <span class="tbl-bg-blu-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>

                        

                        <td >
                            <span class="tbl-bg-pech-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>  
                    </tr>
                    <tr class="acount-stat-tbl-body-tr tbl-data-href" data-href='#'>
                        <td colspan="2" style="text-align: left;">
                          1st inning runs Bangladesh
                        </td>

                        <td><span class="c-activee">Min : 100, Max : 5K</span></td>
                        
                        <td >
                            <span class="tbl-bg-blu-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>

                        

                        <td >
                            <span class="tbl-bg-pech-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>  
                    </tr>
                    
                    
                </tbody>

              </table>
            </div>

            <div class="exch-pg-inn-fancy-tab-txt-inn-scrol">
              <table class="acount-stat-tbl mt-2">

                <thead class="acount-stat-tbl-hed3">
                    <tr class="acount-stat-tbl-hed-tr3" >
                        <th colspan="2" style="text-align: left;" class="bod-red-lft ">Only Over</th>
                        <th style="text-align: center;" colspan=""></th>
                        <th style="text-align: center;" colspan="">No</th>
                        <th style="text-align: center;" colspan="" class="bod-red-rit">Yes</th>
                    </tr>
                </thead>

                <tbody class="acount-stat-tbl-body">
                    <tr class="acount-stat-tbl-body-tr tbl-data-href" data-href='#'>
                        <td colspan="2" style="text-align: left;">
                          1st inning runs Bangladesh
                        </td>

                        <td><span class="c-activee">Min : 100, Max : 5K</span></td>
                        
                        <td >
                            <span class="tbl-bg-blu-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>

                        

                        <td >
                            <span class="tbl-bg-pech-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>  
                    </tr>
                    
                </tbody>

              </table>
            </div>

            <div class="exch-pg-inn-fancy-tab-txt-inn-scrol">
              <table class="acount-stat-tbl mt-2">

                <thead class="acount-stat-tbl-hed3">
                    <tr class="acount-stat-tbl-hed-tr3" >
                        <th colspan="2" style="text-align: left;" class="bod-red-lft ">Ball by Ball</th>
                        <th style="text-align: center;" colspan=""></th>
                        <th style="text-align: center;" colspan="">No</th>
                        <th style="text-align: center;" colspan="" class="bod-red-rit">Yes</th>
                    </tr>
                </thead>

                <tbody class="acount-stat-tbl-body">
                    <tr class="acount-stat-tbl-body-tr tbl-data-href" data-href='#'>
                        <td colspan="2" style="text-align: left;">
                          1st inning runs Bangladesh
                        </td>

                        <td><span class="c-activee">Min : 100, Max : 5K</span></td>
                        
                        <td >
                            <span class="tbl-bg-blu-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>

                        

                        <td >
                            <span class="tbl-bg-pech-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>  
                    </tr>
                    <tr class="acount-stat-tbl-body-tr tbl-data-href" data-href='#'>
                        <td colspan="2" style="text-align: left;">
                          1st inning runs Bangladesh
                        </td>

                        <td><span class="c-activee">Min : 100, Max : 5K</span></td>
                        
                        <td >
                            <span class="tbl-bg-blu-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>

                        

                        <td >
                            <span class="tbl-bg-pech-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>  
                    </tr>
                    <tr class="acount-stat-tbl-body-tr tbl-data-href" data-href='#'>
                        <td colspan="2" style="text-align: left;">
                          1st inning runs Bangladesh
                        </td>

                        <td><span class="c-activee">Min : 100, Max : 5K</span></td>
                        
                        <td >
                            <span class="tbl-bg-blu-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>

                        

                        <td >
                            <span class="tbl-bg-pech-spn">
                                <span><b>75.5</b></span> 
                                <span>517.00</span>
                            </span> 
                        </td>  
                    </tr>
                    
                </tbody>

              </table>
            </div>

            <%if(match.marketList.odd_even != null){%>
            <div class="exch-pg-inn-fancy-tab-txt-inn-scrol">
              <table class="acount-stat-tbl mt-2">

                <thead class="acount-stat-tbl-hed3">
                    <tr class="acount-stat-tbl-hed-tr3" >
                        <th colspan="2" style="text-align: left;" class="bod-red-lft " >Odd/Even</th>
                        <th style="text-align: center;" colspan=""></th>
                        <th style="text-align: center;" colspan="">Odd</th>
                        <th style="text-align: center;" colspan="" class="bod-red-rit">Even</th>
                    </tr>
                </thead>

                <tbody class="acount-stat-tbl-body">
                    <%for(let i = 0; i < match.marketList.odd_even.length; i++){%>
                        <tr class="acount-stat-tbl-body-tr tbl-data-href" data-href='#'>
                            <td colspan="2" style="text-align: left;" class="market" id="<%=match.marketList.odd_even[i].marketId%>">
                              <%=match.marketList.odd_even[i].title%>
                            </td>
    
                            <td><span class="c-activee">Min : <%=SportLimits.min_stake%>, Max : <%=SportLimits.max_stake%></span></td>
                            
                            <td >
                                <span class="tbl-bg-blu-spn odd_even_blue" id="<%=match.marketList.odd_even[i].marketId%>1">
                                    
                                </span> 
                            </td>
    
                            <td >
                                <span class="tbl-bg-pech-spn odd_even_red" id="<%=match.marketList.odd_even[i].marketId%>2">
                                    
                                </span> 
                            </td>  
                        </tr>
                    <%}%>
                    
                </tbody>

              </table>
            </div>
            <%}%>

          </div>
        </div>
        <div class="exch-pg-inn-fancy-tab-txtdv tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
          tab 02
        </div>
        <div class="exch-pg-inn-fancy-tab-txtdv tab-pane fade" id="fancytab3" role="tabpanel" aria-labelledby="fancytab3-tab" tabindex="0">
          tab 03
        </div>
        <div class="exch-pg-inn-fancy-tab-txtdv tab-pane fade" id="fancytab4" role="tabpanel" aria-labelledby="fancytab4-tab" tabindex="0">
          tab 04
        </div>
        <div class="exch-pg-inn-fancy-tab-txtdv tab-pane fade" id="fancytab5" role="tabpanel" aria-labelledby="fancytab5-tab" tabindex="0">
          tab 05
        </div>
        <div class="exch-pg-inn-fancy-tab-txtdv tab-pane fade" id="fancytab6" role="tabpanel" aria-labelledby="fancytab6-tab" tabindex="0">
          tab 06
        </div>
      </div>
    </div>
  </div>