<%for(let i = 0; i < match.marketList.goals.length; i++){%>
    <div class="exchange-pg-inn-banner-col2">
        <div class="exchange-pg-inn-banner-col-titi-wrpp">
          <div class="exchange-pg-inn-banner-col-titi">
            <div class="exchange-pg-inn-banner-col-titi-txt">
                <h6><span><%=match.marketList.goals[i].title%></span><span class="game-info-popup-spn" data-bs-toggle="modal" data-bs-target="#gameroulspop"> 
                  <i class="fa-solid fa-circle-info"></i> 
                </span>
                <%if(commissionmarkerarr.includes(match.marketList.goals[i].marketId)){%>
                  <span class="blink-commission-bookmaker">*</span>
                <%}%>
              </h6>
            </div>
            <div class="exchange-pg-inn-banner-col-titi-txt-tim">
                <h6 class="market-limit" id="<%=match.marketList.goals[i].marketId%>"><b>Min : <%=minMatchOdds%>, Max : <%=maxMatchOdds%></b></h6>
            </div>
          </div>
          <div class="star-hedtitl-dv multi_market" id="<%=match.marketList.goals[i].marketId%>">
            <%if(user && userMultimarkets != null){ %>
              <%let check = userMultimarkets.marketIds.find(item => item == match.marketList.goals[i].marketId) %>
              <%if(check){%>
                <a><img src="/assets/img/exchange/Vector2.svg" alt=""></a> 
              <%}else{%>
                <a><img src="/assets/img/exchange/Vector.png" alt=""></a> 
              <%}%>
            <%}else{%>
              <a><img src="/assets/img/exchange/Vector.png" alt=""></a>
            <%}%>
          </div>
        </div>
      
        <div class="exchange-pg-inn-tbl">
            <table class="acount-stat-tbl mo market"  id="<%=match.marketList.goals[i].marketId%>">
      
                <thead class="acount-stat-tbl-hed2">
                    <tr class="acount-stat-tbl-hed-tr2" >
                        <th colspan="2" style="text-align: left;" class="bod-red-lft ">Market</th>
                        <th style="text-align: center;" colspan="3">Back</th>
                        <th style="text-align: center;" colspan="3" class="bod-red-rit">Lay</th>
                    </tr>
                </thead>
                <% let runners = JSON.parse(match.marketList.goals[i].runners); %>
                      <% const runners1 = []; %>
                      <%const secIds = []; %>
                      <%runners.forEach(item => {%>
                          <%runners1.push(item.runner);%>
                          <%secIds.push(item.secId);%>
                      <%});%>
                <tbody class="acount-stat-tbl-body">
                  <%for(let i = 0; i < runners1.length; i++){%>
                    <tr class="acount-stat-tbl-body-tr tbl-data-href" data-href='#'>
                        <td colspan="2" style=" text-align: left;">
                          <%=runners1[i]%>
                        </td>
                        <td class="tbl-td-with5" >
                          <span data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-match-odds-<%=i%>" class="tbl-bg-blu-spn goal_Blue button  opacity-5" id="<%=secIds[i]%>3">
                                      
                          </span>
                        
                          <td class="tbl-td-with5" >
                            <span data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-match-odds-<%=i%>" class="tbl-bg-blu-spn goal_Blue button  opacity-7" id="<%=secIds[i]%>2">
                              
                            </span> 
                          </td>
                          <td class="tbl-td-with5" >
                            <span data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-match-odds-<%=i%>" class="tbl-bg-blu-spn goal_Blue button " id="<%=secIds[i]%>1" >
                                        
                            </span>
                          </td>
      
                        
      
                        </td>
                        <td class="tbl-td-with5" >
                          <span data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-match-odds-<%=i%>" class="tbl-bg-pech-spn goal_Red button " id="<%=secIds[i]%>4">
                                      
                          </span>  
                        </td>
                        <td class="tbl-td-with5" >
                          <span data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-match-odds-<%=i%>" class="tbl-bg-pech-spn goal_Red button  opacity-7" id="<%=secIds[i]%>5">
                                      
                          </span>
                        </td>
                        <td class="tbl-td-with5" >
                          <span data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-match-odds-<%=i%>" class="tbl-bg-pech-spn goal_Red button  opacity-5" id="<%=secIds[i]%>6">
                                      
                          </span> 
                          <div class="match-status-message suspend full-suspend">
                            Suspended
                          </div> 
                        </td>
                        
                        
                        
                    </tr>
                    <tr>
                      <td colspan="8">
                        <div class="my-exc-inn-colaps-txt-dv collapse" id="bt-slp-colps-match-odds-<%=i%>" >
                          <%-include("../betslip")%>
                        </div>
                      </td>
                    </tr>
                  <%}%>
                </tbody>
      
              </table>
            </div>
            <div class="odd-scroll-text marketNotification" id="<%=match.marketList.goals[i].marketId%>"></div>
      
       
      
    </div>
<%}%>