<div class="mbl-exc-inn-tbl-datadv-wrp">
  <div class="inplay-inner-page-title">
    <div class="exchange-pg-inn-banner-col-titi">
      <div class="exchange-pg-inn-banner-col-titi-txt">
          <h6><span>Match Odds</span> <span class="game-info-popup-spn" data-bs-toggle="modal" data-bs-target="#gameroulspop"> 
            <i class="fa-solid fa-circle-info"></i> 
          </span>
          <%if(commissionmarkerarr.includes(match.marketList.match_odd.marketId)){%>
            <span class="blink-commission-bookmaker">*</span>
          <%}%>
        </h6>
      </div>
      <div class="exchange-pg-inn-banner-col-titi-txt-tim">
          <h6 class="market-limit" id="<%=match.marketList.match_odd.marketId%>"><b>Min : <%=minMatchOdds%>, Max : <%=maxMatchOdds%></b></h6>
      </div>
    </div>
    <%if(user && userMultimarkets != null){ %>
      <%let check = userMultimarkets.marketIds.find(item => item == match.marketList.match_odd.marketId) %>
      <%if(check){%>
        <button class="multi_market" id="<%=match.marketList.match_odd.marketId%>"><img src=" http://ollscores.com/assets/img/exchange/Vector2.svg" alt=""></button>  
      <%}else{%>
        <button class="multi_market" id="<%=match.marketList.match_odd.marketId%>"><img src=" http://ollscores.com/assets/img/exchange/Vector.png" alt=""></button>  
      <%}%>
    <%}else{%>
      <button class="multi_market" id="<%=match.marketList.match_odd.marketId%>"><img src=" http://ollscores.com/assets/img/exchange/Vector.png" alt=""></button> 
    <%}%>
  </div>

    <div class="exc-inn-colaps-data-wrpdv">

      <table class="acount-stat-tbl mo market" id="<%=match.marketList.match_odd.marketId%>">

        <thead class="acount-stat-tbl-hed2">
            <tr class="acount-stat-tbl-hed-tr2">
                <th style="text-align: left;" class="bod-red-lft ">Market</th>
                <th style="text-align: center;" colspan="2">Back</th>
                <th style="text-align: center;" colspan="2" class="bod-red-rit">Lay</th>
            </tr>
        </thead>
        <% let runners = JSON.parse(match.marketList.match_odd.runners); %>
                <% const runners1 = []; %>
                <%const secIds = []; %>
                <%runners.forEach(item => {%>
                    <%runners1.push(item.runner);%>
                    <%secIds.push(item.secId);%>
                <%});%>
        <tbody class="acount-stat-tbl-body">
            <%for(let i = 0; i < runners1.length; i++){%>
                <tr class="acount-stat-tbl-body-tr tbl-data-href" data-href="#">
                    <td colspan="2" style=" text-align: left;">
                        <%=runners1[i]%>
                    </td>
                    
                    <td class="tbl-td-with5">
                        <span data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-match-odds-<%=i%>M" class="tbl-bg-blu-spn match_odd_Blue button collapsed" id="<%=secIds[i]%>1" >
                                
                        </span> 
                    </td>
      
                    
      
                    <td class="tbl-td-with5 suspended">
                        <span data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="bt-slp-colps-match-odds-<%=i%>M" class="tbl-bg-pech-spn match_odd_Red button collapsed" id="<%=secIds[i]%>4" >
                                
                        </span> 
                        <div class="match-status-message">
                          Suspended
                        </div>
                    </td>
                    
                    
                    
                </tr>
                <tr>
                    <td colspan="8">
                      <div class="my-exc-inn-colaps-txt-dv collapse" id="bt-slp-colps-match-odds-<%=i%>M" >
                        <%-include("../betslip")%>
                      </div>
                    </td>
                  </tr>
            <%} %>
          
      </tbody>
      </table>

      
    </div>
    <div class="odd-scroll-text marketNotification" id="<%=match.marketList.match_odd.marketId%>"></div>
  </div>